
.assistance {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
}

.assistance-body {
	padding: 10px;
}

.assistance h1,
.assistance h2,
.assistance h3,
.assistance h4,
.assistance h5,
.assistance h6 {
	display: block;
	font-family: "Helvetica Neue", Helvetica, Georgia, Times, Arial, sans-serif;
	font-weight: 700;
}

.assistance .fa-print {
	float: right;
	cursor: pointer;
}
	
.assistance h1 {
	font-size: 2.2em;
	margin: 40px 0 20px;
}

.assistance h2 {
	font-size: 1.8em;
	margin: 40px 0 10px;
}

.assistance h3 {
	font-size: 1.4em;
	margin: 30px 0 10px;
}

.assistance h4 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.assistance h5 {
	font-size: 1em;
	margin: 20px 0 10px;
}

.assistance h6 {
	font-size: .8em;
	margin: 10px 0;
}

.assistance ul,
.assistance ol {
	margin: 20px 40px 10px;
	display: block;
}

.assistance li {
	padding-bottom: 10px;
	font-size: 12px;
	color: black;
	font-familly: 'Arial'
}

.assistance p {
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 20px;
	color: black;
	font-familly: 'Arial'
}

.assistance blockquote {
	margin: 10px 40px 10px;
	font-size: 12px;
	color: black;
	font-familly: 'Arial';
	font-style: italic;
}

.assistance-box {
	width: 640px;
	position: fixed;
	top: 140px;
	right: -600px;
	z-index: 10000001;
}

.assistance-box-caption {
	display: block;
	margin: 0;
	padding: 10px 20px 10px 0;
	background-color: #0a253b;
	color: silver;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	 border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	min-height: 32px;
	line-height: 32px;
	vertical-align: top;
}

.assistance-box-caption .trigger {
	display: inline-block;
	*display: inline;
	zoom:1;
	width: 40px;
	height: 32px;
	line-height: 32px;
	font-size: 28px;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
}

.assistance-box-caption strong {
	display: inline-block;
	*display: inline;
	zoom:1;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	color: white;
	width: 540px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	vertical-align: top;
	margin-left: 20px;
}

.assistance-box-caption .fa-print {
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	vertical-align: top;
	color: silver !important;
}

.assistance-box-caption .fa-print:hover,
.assistance-box-caption .trigger:hover {
	color: white;	
}


.assistance-box-content {
	display: block;
	margin-left: 40px;
	box-sizing: border-box;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: silver;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
	background-color: white;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow-y: auto;
}

.assistance-box-content .topics {
	padding: 20px;
}

.assistance-box-content .assistance-title {
	display: block;
	margin: 40px 0 20px;
	color: black;
}

.assistance-box-content .assistance-title strong {
	padding-right: 20px;
	font-weight: 500;
	font-size: 18px;
}

.assistance-box-content .assistance-section-title {
	display: block;
	margin-bottom: 10px;
	padding-bottom: 4px;	
	border-bottom: 1px dotted silver;
	color: darkblue;
	font-size: 13px;
}

.assistance-box-content .assistance-section-title strong {
	padding-right: 20px;
	font-weight: 300;
	cursor: pointer;
	font-size: 14px;
	vertical-align: top;
}

.assistance-box-content .assistance-section-title:hover {
	color: black;
}

.assistance-box-content .assistance-section-content {
	display: none;
	margin-bottom: 20px;
}

.assistance-box-content .fa-print {
	color: gray;
	font-size: 14px;
	vertical-align: top;
}

.assistance-box-content .fa-print:hover {
	color: black;
}

.assistance-box-content .assistance-title:first-child,
.assistance-box-content .assistance-section-title:first-child {
	margin-top: 0;	
}
