/**
*	Graphic User Interface
*	admir.serifi@mediaparx.ch
*/

/**
 * Default stylings of HTML elements
 */
abbr {
  cursor: help;
}


.adomat .buttons {
	display: block;
}

.adomat .buttons:before, 
.adomat .buttons:after {
  content: "\0020"; 
  display: block; 
  height: 0; 
  visibility: hidden;	
}

.adomat .buttons:after { 
	clear: both; 
}

.adomat .buttons { 
	zoom: 1; 
}

.adomat .button {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 6px 6px 4px 6px;
	height: 18px;
	line-height: 17px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font: bold 11px Helvetica, Arial, sans-serif;
	color: gray;
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e6e6e6));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e6e6e6 100%);
	background: -o-linear-gradient(top,  #f6f6f6 0%,#e6e6e6 100%);
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#e6e6e6 100%);
	background: linear-gradient(to bottom,  #f6f6f6 0%,#e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e6e6e6',GradientType=0 );
	border: solid 1px silver;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-transition: border-color .20s;
	-moz-transition: border-color .20s;
	-o-transition: border-color .20s;
	transition: border-color .20s;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box;         /* Opera/IE 8+ */
}



.adomat .button.big {
	padding: 10px;
	font-size: 13px;
}


.adomat .button.left {
	margin: 0;
	border-top-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
}


.adomat .button.middle {
	margin: 0;
	border-left-color: #F4F4F4;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.adomat .button.right {
	margin: 0;
	border-left-color: #F4F4F4;
	border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
}


.adomat .button:hover {
    background: #F4F4F4;
	border-color: #aaa;
	color: black;
}


.adomat .button:active {
	border-color: #4D90FE;
	color: #4D90FE;
	-moz-box-shadow:inset 0 0 10px #D4D4D4;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}


.adomat .button.on {
	border-color: #BBB;
	-moz-box-shadow:inset 0 0 10px #D4D4D4;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}

.adomat .button.on:hover {
	border-color: #BBB;
	-moz-box-shadow:inset 0 0 10px #D4D4D4;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}

.adomat .button.on:active {
	border-color: #4D90FE;
}


.adomat .button.action {
	border: 1px solid #D8D8D8 !important;
	background: #F2F2F2;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -ms-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}

.adomat .button.action:hover {
	border: 1px solid #C6C6C6 !important;
	background: #F3F3F3;
	background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);
	background: -o-linear-gradient(top, #F8F8F8, #F1F1F1);
}
 
.adomat .button.blue {
	border: 1px solid #3079ED !important;
	background: #4B8DF8;
	background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);
	background: -moz-linear-gradient(top, #4C8FFD, #4787ED);
	background: -ms-linear-gradient(top, #4C8FFD, #4787ED);
	background: -o-linear-gradient(top, #4C8FFD, #4787ED);
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}

.adomat .button.blue:hover {
	border: 1px solid #2F5BB7 !important;
	background: #3F83F1;
	background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
	background: -moz-linear-gradient(top, #4D90FE, #357AE8);
	background: -ms-linear-gradient(top, #4D90FE, #357AE8);
	background: -o-linear-gradient(top, #4D90FE, #357AE8);
}

.adomat .button.green {
	border: 1px solid #29691D !important;
	background: #3A8E00;
	background: -webkit-linear-gradient(top, #3C9300, #398A00);
	background: -moz-linear-gradient(top, #3C9300, #398A00);
	background: -ms-linear-gradient(top, #3C9300, #398A00);
	background: -o-linear-gradient(top, #3C9300, #398A00);
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}

.adomat .button.green:hover {
	border: 1px solid #2D6200 !important;
	background: #3F83F1;
	background: -webkit-linear-gradient(top, #3C9300, #368200);
	background: -moz-linear-gradient(top, #3C9300, #368200);
	background: -ms-linear-gradient(top, #3C9300, #368200);
	background: -o-linear-gradient(top, #3C9300, #368200);
}

.adomat .button.red {
	border: 1px solid #D14836 !important;
	background: #D64937;
	background: -webkit-linear-gradient(top, #DC4A38, #D14836);
	background: -moz-linear-gradient(top, #DC4A38, #D14836);
	background: -ms-linear-gradient(top, #DC4A38, #D14836);
	background: -o-linear-gradient(top, #DC4A38, #D14836);
	-webkit-transition: border .20s;
	-moz-transition: border .20s;
	-o-transition: border .20s;
	transition: border .20s;
}
 
.adomat .button.red:hover {
	border: 1px solid #B0281A !important;
	background: #D14130;
	background: -webkit-linear-gradient(top, #DC4A38, #C53727);
	background: -moz-linear-gradient(top, #DC4A38, #C53727);
	background: -ms-linear-gradient(top, #DC4A38, #C53727);
	background: -o-linear-gradient(top, #DC4A38, #C53727);
}


.adomat .button.action:hover {
	-moz-box-shadow: 0 1px 0px #DDD;
	-webkit-box-shadow: 0 1px 0px #DDD;
	box-shadow:iset 0 1px 0px #DDD;
}

.adomat .button.action:active {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-color: #C6C6C6 !important;
}

.adomat .button.blue:active {
	border-color: #2F5BB7 !important;
}

.adomat .button.green:active {
	border-color: #2D6200 !important;
}

.adomat .button.red:active {
	border-color: #B0281A !important;
}

.adomat .button span.label {
	display: inline-block;
	float: left;
	line-height: 17px;
	height: 18px;
	padding: 0 1px;
	overflow: hidden;
	color: #444 !important;
	-webkit-transition: color .20s;
	-moz-transition: color .20s;
	-o-transition: color .20s;
	transition: color .20s;
	margin: 0 !important;
	font-size: 12px;
	font-weight: 400;
}


.adomat .button.disabled span.label {
	color: silver;
}


.adomat .button.error .label {
	color: red;
}



.ddm:active span.label, 
.adomat .button:active span.label {
    color: #4D90FE;
}


.adomat .button:hover .label {
    color: #333;
}
 
.adomat .button:hover .label.red {
    color: red;
}

.adomat .button:hover .label.blue {
    color: #7090C8;
}

.adomat .button:hover .label.green {
    color: #42B449;
}

.adomat .button:hover .label.yellow {
    color: #F7CB38;
}


.adomat .button.blue .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #2F5BB7 !important;
}
 
.adomat .button.green .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #2D6200 !important;
}
 
.adomat .button.red .label {
	color: #FFF !important;
	text-shadow: 0 1px 0 #B0281A !important;
}

.adomat .button.action .label {
	padding: 0 17px !important;
}


.adomat .button.action:active .label {
	color: #333 !important;
}


.adomat .button.blue:active .label, 
.adomat .button.green:active .label, 
.adomat .button.red:active .label {
	color: #FFF !important;
}

.adomat .button.hidden {
	display: none;	
}

.icon,
.ddm span.icon, 
.adomat .button span.icon {
	background-image: url(/public/css/images/gui-gray.png);
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	height: 18px;
	line-height: 18px;
	width: 18px;
	overflow: hidden;
	background-repeat: no-repeat;
	-webkit-transition: background-image 0.20s linear;
	-moz-transition: background-image 0.20s linear;
	-o-transition: background-image 0.20s linear;
	transition: background-image 0.20s linear;
}

.ddm span.icon, 
.adomat .button span.icon {
	float: left;
	margin: 0 7px 0 0;
}

.icon:hover,
.ddm:hover span.icon, 
.adomat .button:hover span.icon,
.adomat .button.active .icon,
.icon.active {
	background-image: url(/public/css/images/gui-colour.png);
}

.adomat .button + .button {
	margin-left: 10px;
}

.tabs .icon {
	margin-right: 5px;
	position: relative;
	top: 4px;
}

.ie7 .tabs .icon {
	top: 1px;
}

.tabs li:hover .icon {
	background-image: url(/public/css/images/gui-colour.png);
}

/* Sprite Row 1 */
span.icon1 {background-position: -0px -0px;}
span.icon2 {background-position: -18px -0px;}
span.icon3, .icon.add {background-position: -36px -0px;}
span.icon4 {background-position: -54px -0px;}
span.icon5 {background-position: -72px -0px;}
span.icon6 {background-position: -90px -0px;}
span.icon7, .icon.arrow-down {background-position: -108px -0px;}
span.icon8, .icon.back {background-position: -126px -0px;}
span.icon9, .icon.next  {background-position: -144px -0px;}
span.icon10, .icon.arrow-up {background-position: -162px -0px;}
span.icon11 {background-position: -180px -0px;}
span.icon12 {background-position: -198px -0px;}
span.icon13 {background-position: -216px -0px;}
span.icon14 {background-position: -234px -0px;}
span.icon15 {background-position: -252px -0px;}
span.icon16 {background-position: -270px -0px;}
span.icon17 {background-position: -288px -0px;}
span.icon18 {background-position: -306px -0px;}
span.icon19 {background-position: -324px -0px;}
span.icon20 {background-position: -342px -0px;}

/* Sprite Row 2 */
span.icon21 {background-position: -0px -18px;}
span.icon22 {background-position: -18px -18px;}
span.icon23 {background-position: -36px -18px;}
span.icon24 {background-position: -54px -18px;}
span.icon25 {background-position: -72px -18px;}
span.icon26 {background-position: -90px -18px;}
span.icon27 {background-position: -108px -18px;}
span.icon28 {background-position: -126px -18px;}
span.icon29 {background-position: -144px -18px;}
span.icon30 {background-position: -162px -18px;}
span.icon31 {background-position: -180px -18px;}
span.icon32 {background-position: -198px -18px;}
span.icon33 {background-position: -216px -18px;}
span.icon34 {background-position: -234px -18px;}
span.icon35 {background-position: -252px -18px;}
span.icon36 {background-position: -270px -18px;}
span.icon37 {background-position: -288px -18px;}
span.icon38 {background-position: -306px -18px;}
span.icon39 {background-position: -324px -18px;}
span.icon40 {background-position: -342px -18px;}

/* Sprite Row 3 */
span.icon41 {background-position: -0px -36px;}
span.icon42 {background-position: -18px -36px;}
span.icon43 {background-position: -36px -36px;}
span.icon44, .icon.save {background-position: -54px -36px;}
span.icon45, .icon.attachment {background-position: -72px -36px;}
span.icon46 {background-position: -90px -36px;}
span.icon47 {background-position: -108px -36px;}
span.icon48, .icon.close {background-position: -126px -36px;}
span.icon49 {background-position: -144px -36px;}
span.icon50 {background-position: -162px -36px;}
span.icon51 {background-position: -180px -36px;}
span.icon52 {background-position: -198px -36px;}
span.icon53 {background-position: -216px -36px;}
span.icon54 {background-position: -234px -36px;}
span.icon55 {background-position: -252px -36px;}
span.icon56, .icon.delete {background-position: -270px -36px;}
span.icon57 {background-position: -288px -36px;}
span.icon58, .icon.cancel {background-position: -306px -36px;}
span.icon59 {background-position: -324px -36px;}
span.icon60 {background-position: -342px -36px;}

/* Sprite Row 4 */
span.icon61 {background-position: -0px -54px;}
span.icon62, .icon.direction-down {background-position: -18px -54px;}
span.icon63, .icon.direction-left {background-position: -36px -54px;}
span.icon64, .icon.direction-right {background-position: -54px -54px;}
span.icon65, .icon.direction-up {background-position: -72px -54px;}
span.icon66 {background-position: -90px -54px;}
span.icon67 {background-position: -108px -54px;}
span.icon68 {background-position: -126px -54px;}
span.icon69 {background-position: -144px -54px;}
span.icon70, .icon.download {background-position: -162px -54px;}
span.icon71 {background-position: -180px -54px;}
span.icon72 {background-position: -198px -54px;}
span.icon73 {background-position: -216px -54px;}
span.icon74 {background-position: -234px -54px;}
span.icon75 {background-position: -252px -54px;}
span.icon76 {background-position: -270px -54px;}
span.icon77 {background-position: -288px -54px;}
span.icon78 {background-position: -306px -54px;}
span.icon79 {background-position: -324px -54px;}
span.icon80 {background-position: -342px -54px;}

/* Sprite Row 5 */
span.icon81 {background-position: -0px -72px;}
span.icon82 {background-position: -18px -72px;}
span.icon83 {background-position: -36px -72px;}
span.icon84, .icon.show {background-position: -54px -72px;}
span.icon85 {background-position: -72px -72px;}
span.icon86 {background-position: -90px -72px;}
span.icon87 {background-position: -108px -72px;}
span.icon88 {background-position: -126px -72px;}
span.icon89 {background-position: -144px -72px;}
span.icon90 {background-position: -162px -72px;}
span.icon91 {background-position: -180px -72px;}
span.icon92 {background-position: -198px -72px;}
span.icon93 {background-position: -216px -72px;}
span.icon94 {background-position: -234px -72px;}
span.icon95 {background-position: -252px -72px;}
span.icon96, .icon.settings {background-position: -270px -72px;}
span.icon97 {background-position: -288px -72px;}
span.icon98 {background-position: -306px -72px;}
span.icon99 {background-position: -324px -72px;}
span.icon100 {background-position: -342px -72px;}

/* Sprite Row 6 */
span.icon101, .icon.like, .icon.apply {background-position: -0px -90px;}
span.icon102 {background-position: -18px -90px;}
span.icon103 {background-position: -36px -90px;}
span.icon104 {background-position: -54px -90px;}
span.icon105, .icon.help {background-position: -72px -90px;}
span.icon106 {background-position: -90px -90px;}
span.icon107 {background-position: -108px -90px;}
span.icon108 {background-position: -126px -90px;}
span.icon109 {background-position: -144px -90px;}
span.icon110 {background-position: -162px -90px;}
span.icon111 {background-position: -180px -90px;}
span.icon112, .icon.info-full-circle {background-position: -198px -90px;}
span.icon113, .icon.info {background-position: -216px -90px;}
span.icon114 {background-position: -234px -90px;}
span.icon115 {background-position: -252px -90px;}
span.icon116 {background-position: -270px -90px;}
span.icon117 {background-position: -288px -90px;}
span.icon118 {background-position: -306px -90px;}
span.icon119 {background-position: -324px -90px;}
span.icon120 {background-position: -342px -90px;}

/* Sprite Row 7 */
span.icon121 {background-position: -0px -108px;}
span.icon122, .icon.lock {background-position: -18px -108px;}
span.icon123, .icon.unlock {background-position: -36px -108px;}
span.icon124 {background-position: -54px -108px;}
span.icon125, .icon.mail {background-position: -72px -108px;}
span.icon126 {background-position: -90px -108px;}
span.icon127 {background-position: -108px -108px;}
span.icon128 {background-position: -126px -108px;}
span.icon129 {background-position: -144px -108px;}
span.icon130 {background-position: -162px -108px;}
span.icon131 {background-position: -180px -108px;}
span.icon132 {background-position: -198px -108px;}
span.icon133 {background-position: -216px -108px;}
span.icon134 {background-position: -234px -108px;}
span.icon135 {background-position: -252px -108px;}
span.icon136 {background-position: -270px -108px;}
span.icon137 {background-position: -288px -108px;}
span.icon138 {background-position: -306px -108px;}
span.icon139 {background-position: -324px -108px;}
span.icon140 {background-position: -342px -108px;}

/* Sprite Row 8 */
span.icon141 {background-position: -0px -126px;}
span.icon142 {background-position: -18px -126px;}
span.icon143 {background-position: -36px -126px;}
span.icon144 {background-position: -54px -126px;}
span.icon145, .icon.edit {background-position: -72px -126px;}
span.icon146 {background-position: -90px -126px;}
span.icon147, .icon.picture {background-position: -108px -126px;}
span.icon148 {background-position: -126px -126px;}
span.icon149 {background-position: -144px -126px;}
span.icon150 {background-position: -162px -126px;}
span.icon151 {background-position: -180px -126px;}
span.icon152 {background-position: -198px -126px;}
span.icon153, .icon.print {background-position: -216px -126px;}
span.icon154 {background-position: -234px -126px;}
span.icon155 {background-position: -252px -126px;}
span.icon156 {background-position: -270px -126px;}
span.icon157 {background-position: -288px -126px;}
span.icon158, .icon.reload {background-position: -306px -126px;}
span.icon159 {background-position: -324px -126px;}
span.icon160 {background-position: -342px -126px;}

/* Sprite Row 9 */
span.icon161 {background-position: -0px -144px;}
span.icon162 {background-position: -18px -144px;}
span.icon163 {background-position: -36px -144px;}
span.icon164 {background-position: -54px -144px;}
span.icon165 {background-position: -72px -144px;}
span.icon166 {background-position: -90px -144px;}
span.icon167 {background-position: -108px -144px;}
span.icon168 {background-position: -126px -144px;}
span.icon169 {background-position: -144px -144px;}
span.icon170 {background-position: -162px -144px;}
span.icon171 {background-position: -180px -144px;}
span.icon172 {background-position: -198px -144px;}
span.icon173 {background-position: -216px -144px;}
span.icon174 {background-position: -234px -144px;}
span.icon175 {background-position: -252px -144px;}
span.icon176 {background-position: -270px -144px;}
span.icon177 {background-position: -288px -144px;}
span.icon178 {background-position: -306px -144px;}
span.icon179 {background-position: -324px -144px;}
span.icon180 {background-position: -342px -144px;}

/* Sprite Row 10 */
span.icon181 {background-position: -0px -162px;}
span.icon182 {background-position: -18px -162px;}
span.icon183 {background-position: -36px -162px;}
span.icon184 {background-position: -54px -162px;}
span.icon185 {background-position: -72px -162px;}
span.icon186 {background-position: -90px -162px;}
span.icon187 {background-position: -108px -162px;}
span.icon188 {background-position: -126px -162px;}
span.icon189, .icon.upload {background-position: -144px -162px;}
span.icon190 {background-position: -162px -162px;}
span.icon191 {background-position: -180px -162px;}
span.icon192 {background-position: -198px -162px;}
span.icon193 {background-position: -216px -162px;}
span.icon194 {background-position: -234px -162px;}
span.icon195 {background-position: -252px -162px;}
span.icon196 {background-position: -270px -162px;}
span.icon197 {background-position: -288px -162px;}
span.icon198, .icon.search {background-position: -306px -162px;}
span.icon199 {background-position: -324px -162px;}
span.icon200 {background-position: -342px -162px;}


.arrow {
	width: 0; 
	height: 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
	content: "";
}

.arrow.arrow-up {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
	margin: 4px 5px 0 0;
}

.arrow.arrow-down {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
	margin: 4px 5px 0 0;
}

.arrow.arrow-right { 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
	margin: 1px 10px 0 0;
}

.arrow.arrow-left {
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-right: 5px solid black; 
	margin: 1px 10px 0 0;
}



div.dropdown {
	float: left;
	position: relative;
}

div.dropdown span.toggle {
	width: 19px;
	height: 16px;
	margin-left: 7px;
	margin-top: 1px;
	margin-right: 2px;
	padding-left: 8px;
	float: right;
	background: url(/public/css/images/gui-toggle.png) top right no-repeat;
	border-left: 1px solid #D9D9D9;
	-webkit-transition: border-color .20s;
	-moz-transition: border .20s;
	-o-transition: border-color .20s;
	transition: border-color .20s;
}
div.dropdown span.toggle.active {
	background: url(/public/css/images/gui-toggle.png) bottom right no-repeat;
}
div.dropdown 
button:hover span.toggle, 
.adomat .button:hover span.toggle {
	border-color: #C0C0C0;
}

div.dropdown-slider {
	display: none;
	overflow: hidden;
	margin: 0 7px 5px 7px;
	position: absolute;
	top: 34px;
	right: 0;
	background: #F2F2F2;
	border-right: solid 1px #D9D9D9;
	border-bottom: solid 1px #D9D9D9;
	border-left: solid 1px #D9D9D9;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-transition: border-color .20s;
	-moz-transition: border .20s;
	-o-transition: border-color .20s;
	transition: border-color .20s;
}
.left div.dropdown-slider {
	margin: 0 1px 5px 7px;
}
.middle div.dropdown-slider {
	margin: 0 1px 5px 1px;
}
.right div.dropdown-slider {
	margin: 0 7px 5px 1px;
}
div.dropdown-slider .ddm {
	display: block;
	background: #F2F2F2;
	color: #585858;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font: bold 11px Helvetica, Arial, sans-serif;
	line-height: 18px;
	height: 18px;
	margin: 0;
	padding: 5px 6px 4px 6px;
	width: 100%;
	float: left;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #D9D9D9;
}
div.dropdown-slider .ddm:hover {
	background: #F4F4F4;
	border-bottom-color: #C0C0C0;
}
div.dropdown-slider .ddm:active {
	border-bottom-color: #4D90FE;
	color: #4D90FE;
	-moz-box-shadow:inset 0 0 10px #D4D4D4;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}
div.dropdown-slider .ddm:last-child {
	border-bottom: none;
}


.file-extension {
    display: inline-block; 
    *display: inline;
    zoom: 1; 
    white-space: nowrap; 
    outline: none; 
    overflow: hidden; 
    padding: 0; 
    margin: 0;
    border: 0;
    width: 32px;
	height: 32px;
	background-image: url(/public/css/images/file-extensions.png);
	background-repeat: no-repeat;
}

.file-extension.small {
	width: 16px;
	height: 16px;
	background-image: url(/public/css/images/file-extensions-small.png);
}

.file-extension.7z 		{ background-position: -40px 0px; }
.file-extension.ace 	{ background-position: -80px 0px; }
.file-extension.ai 		{ background-position: -120px 0px; }
.file-extension.aif 	{ background-position: -160px 0px; }
.file-extension.aiff 	{ background-position: -200px 0px; }
.file-extension.amr 	{ background-position: -240px 0px; }
.file-extension.asf 	{ background-position: -280px 0px; }
.file-extension.asx 	{ background-position: -320px 0px; }
.file-extension.bat 	{ background-position: -360px 0px; }

.file-extension.bin 	{ background-position: 0px -40px; }
.file-extension.bmp 	{ background-position: -40px -40px; }
.file-extension.bup 	{ background-position: -80px -40px; }
.file-extension.cab 	{ background-position: -120px -40px; }
.file-extension.cbr 	{ background-position: -160px -40px; }
.file-extension.cda 	{ background-position: -200px -40px; }
.file-extension.cdl 	{ background-position: -240px -40px; }
.file-extension.cdr 	{ background-position: -280px -40px; }
.file-extension.chm 	{ background-position: -320px -40px; }
.file-extension.dat 	{ background-position: -360px -40px; }

.file-extension.divx 	{ background-position: 0px -80px; }
.file-extension.dll 	{ background-position: -40px -80px; }
.file-extension.dmg 	{ background-position: -80px -80px; }
.file-extension.doc 	{ background-position: -120px -80px; }
.file-extension.dss 	{ background-position: -160px -80px; }
.file-extension.dvf 	{ background-position: -200px -80px; }
.file-extension.dwg 	{ background-position: -240px -80px; }
.file-extension.eml 	{ background-position: -280px -80px; }
.file-extension.eps 	{ background-position: -320px -80px; }
.file-extension.exe 	{ background-position: -360px -80px; }

.file-extension.fla 	{ background-position: 0 -120px; }
.file-extension.flw 	{ background-position: -40px -120px; }
.file-extension.gif 	{ background-position: -80px -120px; }
.file-extension.gz 		{ background-position: -120px -120px; }
.file-extension.hgx 	{ background-position: -160px -120px; }
.file-extension.htm 	{ background-position: -200px -120px; }
.file-extension.html 	{ background-position: -240px -120px; }
.file-extension.ifo 	{ background-position: -280px -120px; }
.file-extension.indd 	{ background-position: -320px -120px; }
.file-extension.iso 	{ background-position: -360px -120px; }

.file-extension.jar 	{ background-position: 0px -160px; }
.file-extension.jpeg 	{ background-position: -40px -160px; }
.file-extension.jpg 	{ background-position: -80px -160px; }
.file-extension.ink 	{ background-position: -120px -160px; }
.file-extension.log 	{ background-position: -160px -160px; }
.file-extension.mna 	{ background-position: -200px -160px; }
.file-extension.mub 	{ background-position: -240px -160px; }
.file-extension.mnp 	{ background-position: -280px -160px; }
.file-extension.mhv 	{ background-position: -320px -160px; }
.file-extension.mcd 	{ background-position: -360px -160px; }

.file-extension.mdb 	{ background-position: 0px -200px; }
.file-extension.mid 	{ background-position: -40px -200px; }
.file-extension.mov 	{ background-position: -80px -200px; }
.file-extension.mp2 	{ background-position: -120px -200px; }
.file-extension.mp4 	{ background-position: -160px -200px; }
.file-extension.mpeg 	{ background-position: -200px -200px; }
.file-extension.mpg 	{ background-position: -240px -200px; }
.file-extension.msi 	{ background-position: -280px -200px; }
.file-extension.mswmm 	{ background-position: -320px -200px; }
.file-extension.ogg 	{ background-position: -360px -200px; }

.file-extension.pdf 	{ background-position: 0px -240px; }
.file-extension.png 	{ background-position: -40px -240px; }
.file-extension.pps 	{ background-position: -80px -240px; }
.file-extension.ps 		{ background-position: -120px -240px; }
.file-extension.psd 	{ background-position: -160px -240px; }
.file-extension.pst 	{ background-position: -200px -240px; }
.file-extension.ptb 	{ background-position: -240px -240px; }
.file-extension.pub 	{ background-position: -280px -240px; }
.file-extension.qbb 	{ background-position: -320px -240px; }
.file-extension.qbw 	{ background-position: -360px -240px; }

.file-extension.qxd 	{ background-position: 0px -280px; }
.file-extension.ram 	{ background-position: -40px -280px; }
.file-extension.rar 	{ background-position: -80px -280px; }
.file-extension.rm 		{ background-position: -120px -280px; }
.file-extension.rmvb 	{ background-position: -160px -280px; }
.file-extension.rtf 	{ background-position: -200px -280px; }
.file-extension.sea 	{ background-position: -240px -280px; }
.file-extension.ses 	{ background-position: -280px -280px; }
.file-extension.sit 	{ background-position: -320px -280px; }
.file-extension.sitx 	{ background-position: -360px -280px; }

.file-extension.ss 		{ background-position: 0px -320px; }
.file-extension.swf 	{ background-position: -40px -320px; }
.file-extension.tgz 	{ background-position: -80px -320px; }
.file-extension.thm 	{ background-position: -120px -320px; }
.file-extension.tif 	{ background-position: -160px -320px; }
.file-extension.tmb 	{ background-position: -200px -320px; }
.file-extension.tor 	{ background-position: -240px -320px; }
.file-extension.ttf 	{ background-position: -280px -320px; }
.file-extension.txt 	{ background-position: -320px -320px; }
.file-extension.ved 	{ background-position: -360px -320px; }

.file-extension.vab 	{ background-position: 0px -360px; }
.file-extension.wav 	{ background-position: -40px -360px; }
.file-extension.wma 	{ background-position: -80px -360px; }
.file-extension.wmv 	{ background-position: -120px -360px; }
.file-extension.wps 	{ background-position: -160px -360px; }
.file-extension.xls, 
.file-extension.xlsx 	{ background-position: -200px -360px; }
.file-extension.xpi 	{ background-position: -240px -360px; }
.file-extension.zip 	{ background-position: -280px -360px; }
.file-extension.3gp 	{ background-position: -320px -360px; }
	
.adomat .button.searchbox {
	background: white;
	position: relative;
	display: inline-block;
	filter: '';
}

.searchbox .icon {
	float: left;
}

.searchbox input {
	float: left;
	height: 17px  !important;
	background: transparent;
	border: 0 !important;
	padding: 0 !important;
	margin: 0  !important;
	color: silver !important;
	outline: none  !important;
	width: 180px !important;
	z-index: 10  !important;
	font-size: 12px  !important;
	font-family: arial  !important;
}

.searchbox .icon.close {
	position: absolute;
	right: 5px;
	margin: 0 !important;
}

.searchbox input.active {
	color: black !important;
}

.searchbox + select,
select + .searchbox {
	margin-left: 10px;
}


.dropdown {
		position: relative;
		display: inline-block;
		font-size: 12px;
		background-color: white;
	}

.dropdown select {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 10px 8px 8px 10px;
	margin: 0;
	font: inherit;
	outline: none;
	line-height: 1.2;
	background-color: transparent;
	-webkit-appearance:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.dropdown select {
		padding-right:30px;    
	}
}
	
.dropdown:after {
	display: inline-block;
	content: "▼";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: 80%;
	line-height: 36px;
	padding: 0 10px;
	background: #bbb;
	color: white;
	pointer-events:none;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.dropdown:hover:after { background: #888 }
.dropdown:hover select { border-color: #888 }

.dropdown.dropdown-primary select { border-color: #428bca }
.dropdown.dropdown-primary:after { background: #428bca }
.dropdown.dropdown-primary:hover:after { background: #2f6593 }
.dropdown.dropdown-primary:hover select { border-color: #2f6593 }

.dropdown.dropdown-success select { border-color: #5cb85c }
.dropdown.dropdown-success:after { background: #5cb85c }
.dropdown.dropdown-success:hover:after { background: #3f7f3f }
.dropdown.dropdown-success:hover select { border-color: #3f7f3f }

.dropdown.dropdown-info select { border-color: #5bc0de }
.dropdown.dropdown-info:after { background: #5bc0de }
.dropdown.dropdown-info:hover:after { background: #428ca2 }
.dropdown.dropdown-info:hover select { border-color: #428ca2 }

.dropdown.dropdown-warning select { border-color: #f0ad4e }
.dropdown.dropdown-warning:after { background: #f0ad4e }
.dropdown.dropdown-warning:hover:after { background: #f0ad4e }
.dropdown.dropdown-warning:hover select { border-color: #f0ad4e }

.dropdown.dropdown-danger select { border-color: #d9534f }
.dropdown.dropdown-danger:after { background: #d9534f }
.dropdown.dropdown-danger:hover:after { background: #933835 }
.dropdown.dropdown-danger:hover select { border-color: #933835 }



/**
 * Helper classes
 */
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { 
	display: inline-block; 
}