.actions {
	padding: 0;
	text-align: left;
}

#spreadsheet {
	display: block;
	position: relative;
	width: 100%;
}


.selection.selection-disabled {
	display: none !important;
}


.spreadsheet div.selection div.shade {
	background-color: transparent;
}

.spreadsheet div.selection div.border {
	border: 3px double #0000ff;
}

.spreadsheet div.selection.selection-cel div.border {
	border-color: #606060;
}

.spreadsheet div.selection.selection-cel.selection-editabled div.border {
	border-color: #00A8FF;
}

.spreadsheet div.selection.selection-cel.selection-editabled div.shade {
	background-color: rgba(0, 255, 255, 1);
}

.spreadsheet textarea.focus {
	border: 1px solid #00b7f9;
	background-color: #E4F9FD;
}

.spreadsheet div.sections div {
	background-color: #F4F4F4;
}

.spreadsheet .f3f3f3 {
	background-color: #f3f3f3;
}

.spreadsheet textarea.focus {
	padding: 5px !important;
}

table.default td {
	padding: 5px;
}

.spreadsheet td {
	width: 56px;
	height: 25px;
	padding: 5px;
	font-size: 12px;
	color: black;
	border-style: solid;
	border-color: silver;
	border-width: 0 1px;
	text-align: right;
}

.ie7 .spreadsheet td {
	height: 25px;
}

.spreadsheet td.group {
	background-color: #f4f4f4 !important;
	font-weight: 600;
	text-align: left;
	color: black;
	border-width: 0;
}

.spreadsheet td.cel-separator {
	background-color: #f4f4f4 !important;
	border-width: 0;
	padding: 0;
}

.spreadsheet td.spreadsheet-a {
	width: 14px !important;
	text-align: left;
}

/* collection code */
.spreadsheet td.spreadsheet-b {
	width: 90px;
	text-align: left;
}

/* referenece code */
.spreadsheet td.spreadsheet-c {
	width: 75px;
	text-align: left;
}

/* referenece name */
.spreadsheet td.spreadsheet-d {
	width: 200px;
	text-align: left;
}

/* collection category */
.spreadsheet td.spreadsheet-e {
	width: 150px;
	text-align: left;
}

/* referenece comment */
.spreadsheet td.spreadsheet-f {
	width: 90px;
}

/* estimated price */
.spreadsheet td.spreadsheet-g {
	width: 50px;
}

/* currency symbole */
.spreadsheet td.spreadsheet-h {
	width: 75px;
	text-align: right;
}

/* estimated in x months */
.spreadsheet td.spreadsheet-i {
	/*width: 75px;*/
	text-align: right;
}

/* total planned */
.spreadsheet td.spreadsheet-j {
	/*width: 80px;*/
	text-align: right;
}

/* % of estimated */
.spreadsheet td.spreadsheet-k {
	text-align: left;
}

.spreadsheet td.header {
	background: #7091a9;
	background: -moz-linear-gradient(top, #7091a9 0%, #07243d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7091a9), color-stop(100%,#07243d));
	background: -webkit-linear-gradient(top, #7091a9 0%,#07243d 100%);
	background: -o-linear-gradient(top, #7091a9 0%,#07243d 100%);
	background: -ms-linear-gradient(top, #7091a9 0%,#07243d 100%);
	background: linear-gradient(top, #7091a9 0%,#07243d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7091a9', endColorstr='#07243d',GradientType=0 );
	color: white;
	border-width: 0;
}

.spreadsheet tr:nth-child(odd) td {
	background-color: white;
}

.spreadsheet tr:nth-child(even) td {
	background-color: #eef3f6;
}

.spreadsheet tr:first-child td {
	background-color: transparent;
	border: 0;
}	

.spreadsheet tr:last-child td {
	border-bottom-width: 1px:
}

.spreadsheet td.week-column {
	text-align: right;
}

.spreadsheet td.cel-input,
.spreadsheet td.cel.cel-input {
	cursor: text;
	text-align: right;
	-moz-box-shadow:    inset 1px 1px 2px #fff;
	-webkit-box-shadow: inset 1px 1px 2px #fff;
	box-shadow:         inset 1px 1px 2px #fff;
	border-bottom-width: 1px;
}

.spreadsheet tr:nth-child(odd) td.cel-input {
	background-color: rgba(255, 255, 60, 0.5);
}

.spreadsheet tr:nth-child(even) td.cel-input {
	background-color: rgba(255, 240, 60, 0.5);
}


.spreadsheet .main td.cel-revision {
	cursor: text;
	text-align: right;
	-moz-box-shadow:    inset 1px 1px 2px #fff;
	-webkit-box-shadow: inset 1px 1px 2px #fff;
	box-shadow:         inset 1px 1px 2px #fff
}

.spreadsheet .main tr:nth-child(odd) td.cel-revision {
	background-color: rgba(233, 216, 190, 0.5);
}

.spreadsheet .main tr:nth-child(even) td.cel-revision {
	background-color: rgba(222, 193, 175, 0.5);
}



.spreadsheet td.total-row-quantities {
	text-align: right;
}

.spreadsheet td.total-row-approved-quantities {
	text-align: right;
}

.spreadsheet td.cel-estimate-quote {
	text-align: right;
}

.spreadsheet td.cel-estimate-quantity {

}

.spreadsheet td.cel-subtotal {
	background-color: #f4f4f4 !important;
	border-width: 1px 0;
}

.spreadsheet td.cel-subtotal:not(.subtotal-caption) {
	text-align: right;
}

.spreadsheet td.grand-total {
	background-color: #fff !important;
	border-width: 1px;
}

.spreadsheet td.grand-total:not(.total-caption) {
	text-align: right;
}

.spreadsheet .left td {
	border-right-width: 0 !important;
}