
	.pagecontent {
		position: relative;
	}
	
	#spreadsheet {
		display: block;
		position: relative;
		box-size: border-box;
		padding-bottom: 10px;
	}

	.spreadsheet div.sections div {
		background-color: #F4F4F4;
	}
	
	.spreadsheet .f3f3f3 {
		background-color: #f3f3f3;
	}
	
	.spreadsheet textarea.focus {
		padding: 5px !important;
	}
	
	table.default td {
		padding: 5px;
	}
	
	.spreadsheet td {
		height: 25px;
		text-align: right;
		padding: 5px;
		font-size: 12px;
		color: black;
		border: 0;
	}
	
	.ie7 .spreadsheet td {
		height: 25px;
	}

	.planning .spreadsheet td {
		width: 140px;
	}

	.distribution .spreadsheet td {
		width: 60px;
	}
	
	.spreadsheet td.readonly {
		border-color: #f4f4f4;
	}
	
	.spreadsheet td.col-sep {
		border-top-color: #f4f4f4; 
		border-bottom-color: #f4f4f4; 
		border-left-color: silver;
		border-right-color: silver;
		width: 10px !important;
	}
	
	.spreadsheet td.row-sep {
		border-color: #f4f4f4;
		border-top-color: silver;
		border-bottom-color: silver;
	}
	
	.spreadsheet td.row-sep.bottom-disabled {
		border-bottom-color: #f4f4f4;
	}
	
	.spreadsheet td.row-sep.col-sep {
		border-color: #f4f4f4 !important;
	}
	
	.spreadsheet .spreadsheet-1 td.row-sep  {
		border-top-color: #f4f4f4;
	}
		
	.planning .spreadsheet td {
		/*width: 140px;*/
	}
	
	.planning .spreadsheet .col-sep,
	.spreadsheet .col-separator {
		width: 10px !important;
	}
	
	td.spreadsheet-a {
		width: 20px !important;
	}
	
	td.spreadsheet-b {
		width: 300px !important;
		text-align: left;
	}
	
	td.spreadsheet-c {
		width: 20px !important;
	}
	
	td.spreadsheet-d {
		width: 10px !important;
	}
	
	.spreadsheet td.cel,
	.spreadsheet td.cel.readonly {
		background-color: white;
		border: 1px solid silver;
	}

	.spreadsheet .spreadsheet-3 td {
		height: 30px;
		padding: 0;
	}
	
	.spreadsheet td.filters,
	.spreadsheet td.cel.filters  {
		text-align: left;
		border-bottom-color: white;
	}
	
	.spreadsheet td.cel-group {
		font-weight: 600;
		text-align: left;
		font-size: 14px;
		color: black;
		height: 30px;
		white-space: nowrap !important;
	}
	
	.spreadsheet td.cel-reference {
		text-align: center !important;
		padding: 0 !important;
		height: 30px;
	}

	.spreadsheet td.cel-reference span { 
		display: block;
		padding: 0;
		margin: 0;
	}
	
	.spreadsheet td.postype-caption,
	.spreadsheet td.postype-trigger,
	.spreadsheet td.postype-trigger span {
		text-align: left;
		color: black;
		cursor: pointer;
	}
	
	.spreadsheet td.row-caption {
		background-color: silver !important;
		font-weight: 600;
		text-align: left;
		color: black;
	}
	
	.spreadsheet td.postype.row-caption,
	.spreadsheet td.postype.row-caption span {
		cursor: pointer;
	}

	.spreadsheet td.postype-trigger {
		text-align: center;
		font-size: 14px;
	}

	.spreadsheet td.calcullated-caption {
		text-align: right;
		font-weight: 600;
		font-size: 14px;
		font-variant: small-caps;
		white-space: nowrap !important;
		overflow: hidden;
	}

	#warehouse_name {
		width: 350px !important;
		padding: 5px;
		color: black;
		font-size: .9em;
		border: 1px solid silver;
	}
	
	#warehouse_name.silver {
		color: silver;
	}
	
	#address_warehouse_id {
		width: 360px !important;
		color: black;
		font-size: .9em;
		margin-bottom: 20px;
		border: 1px solid silver
	}
	
	td.filters {
		padding: 0 0 5px;
		vertical-align: bottom;
	}
	
	td.filters select {
		display: block;
		margin-bottom: 10px;
	}
	
	.ie7 td.filters form {
		height: 100%;
	}
	
	.pos-tooltip td span {
		display: block;
		font-weight: 600;
		margin-bottom: 5px;
	}
	
	.dropdown-placeholder {
		margin-left: 0 !important;
		display: block;
		margin-bottom: 5px;
	}
	
	.spreadsheet td.cel.close,
	.spreadsheet td.row-separator.close {
		border-bottom: 1px solid gray;
	}
	
	.spreadsheet td.cel.planned-readonly,
	.spreadsheet td.cel.sap-confirmed {
		background-color: #dbefff !important;
	}
	
	.spreadsheet td.cel.delivered-readonly,
	.spreadsheet td.cel.sap-shipped {
		background-color: #fffad6 !important;
	}
	
	.spreadsheet td.readonly.cel.warehouse,
	.spreadsheet td.cel.warehouse {
		text-align: left;
	}
	
	table.default.tooltip td {
		font-size: 12px;
		color: white;
		border: 0;
	}
	
	table.default.tooltip tr td:first-child {
		color: #bbb;
		width: 25%;
		white-space: nowrap;
	}
	
	.ie7 .spreadsheet .dropdown-placeholder select {
		top: 0;
	}

	.actions {
		text-align: left;
		padding: 0;
	}
	
	.spreadsheet textarea.focus {
		border-style: solid;
		border-color: #68e;
		border-width: 1px;
	}
	
	@-moz-document url-prefix() {
		.spreadsheet textarea.focus {
			padding: 0;
		}
	}
	
	.spreadsheet .arrow {
		margin-left: 5px;
	}

	.tooltips-container {
		display: none;
	}

	table.tooltip td span {
		display: block;
		margin-bottom: 5px;
	}

	.image-loader img {
		display: block;
		margin: 20px 40px;
	}
	
	.spreadsheet td.warning {
		background-image: url(/public/images/readonly.png);
		background-position: top right;
		background-repeat: no-repeat;
	}

	.spreadsheet td.calculated-caption {
		text-align: right;
		font-weight: 600;
		font-size: 14px;
		font-variant: small-caps;
		white-space: nowrap !important;
		overflow: hidden;
	}

	.spreadsheet td.cel-reference {
		text-align: center !important;
		padding: 0 !important;
	}

	.spreadsheet td.cel-reference .icon-holder {
		float: left;
		display: block;
		height: 20px;
		border-style: solid;
		border-color: silver;
		border-width: 0 1px 0 0;
		padding: 5px;
		z-index: 100;
	}
	
	.spreadsheet td.cel-reference .code {
		display: block;
		margin: 0;
		text-align: center;
		font-weight: 400;
		height: 25px;
		line-height: 30px;
		font-weight: 400;
		position: relative;
		top: 0;
		white-space:nowrap;
		margin-left: 30px;
	}
