.company-header {
		display: block;
		width: 100%;
		min-height: 200px;
	}
	
	.company-header .box {
		display: block;
		width: 450px;
		background-color: white;
		border: 1px solid silver;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		float: left;
		margin-right: 20px;
		min-height: 120px;
	}
	
	.company-header .box.small {
		width: 250px;
	}
	
	.company-header .box.medium {
		width: 350px;
	}
	
	.company-header .row-control {
		display: block;
		width: 100%;
		line-height: 25px;
		font-size: 13px;
		margin-bottom: 5px;
	}
	
	.row-control label {
		display: block;
		float: left;
		width: 120px;
		height: 25px;
		line-height: 25px;
		margin-right: 20px;
	}
	
	.row-control span {
		display: block;
		min-height: 25px;
		line-height: 25px;
		margin-left: 140px;
	}
	
	.company-header .clearfix {
		display: block;
	}
