
.pagecontent {
	position: relative;
	padding-bottom: 20px;
}

.spreadsheet .focus.hidden {
	display: inline !important;
}

#spreadsheet {
	display: block;
	position: relative;
	width: 100%;
}

.spreadsheet div.sections div {
	background-color: #F4F4F4;
}

.spreadsheet .f3f3f3 {
	background-color: #f3f3f3;
}

.spreadsheet textarea.focus {
	padding: 5px !important;
}

table.default td {
	padding: 5px;
}

.spreadsheet td {
	width: 65px;
	height: 25px;
	text-align: right;
	padding: 5px;
	font-size: 12px;
	color: black;
	border: 0;
}

.ie7 .spreadsheet td {
	height: 25px;
}

.spreadsheet td.readonly {
	border-color: #f4f4f4;
}

.spreadsheet td.col-separator {
	border-top-color: #f4f4f4; 
	border-bottom-color: #f4f4f4; 
	border-left-color: silver;
	border-right-color: silver;
}

.spreadsheet td.row-separator {
	border-color: #f4f4f4;
	border-top-color: silver;
	border-bottom-color: silver;
}

.spreadsheet td.row-separator.bottom-disabled {
	border-bottom-color: #f4f4f4;
}

.spreadsheet td.row-separator.col-separator {
	border-color: #f4f4f4 !important;
}

.spreadsheet td.invisible {
	color: #f4f4f4 !important; 
	background-color: #f4f4f4 !important;
}

.spreadsheet .spreadsheet-1 td.row-separator  {
	border-top-color: #f4f4f4;
}
	
.planning .spreadsheet td {
	width: 140px;
}

.planning .spreadsheet .col-separator,
.spreadsheet .col-separator {
	width: 10px !important;
}

/* col pos icon */
td.spreadsheet-a {
	width: 20px !important;
}

/* col pos name */
td.spreadsheet-b {
	width: 280px !important;
	overflow: hidden;
}

/* col flikflak icon */
td.spreadsheet-c {
	width: 20px !important;
	text-align: center;
}

/* col sap number name */
td.spreadsheet-d {
	width: 70px !important;
	text-align: left;
}

/* col shipto number */
td.spreadsheet-e {
	width: 70px !important;
	text-align: left;
}

/* fixed area separator */
td.spreadsheet-f {
	width: 10px !important;
}

/* default cel style */
.spreadsheet td.readonly.cel,
.spreadsheet td.cel {
	background-color: white;
	border: 1px solid silver !important;
}

/* reference row height */
.spreadsheet .spreadsheet-3 td {
	height: 30px;
	padding: 0;
}

/* filter captions */
.spreadsheet td.filters {
	text-align: left;
}

/* group caption planning type */
.spreadsheet td.col-caption strong {
	font-weight: 600;
	text-align: left;
	font-size: 14px;
	color: black;
	display: block;
	width: 100% !important;
	white-space: nowrap !important;
}

/* group caption collection code */
.spreadsheet td.col-caption span {
	font-weight: 300;
	text-align: left;
	font-size: 12px;
	color: gray;
	display: block;
	width: 100% !important;
	white-space: nowrap !important;
}

/* item caption */
.spreadsheet td.item-caption {
	text-align: center !important;
	padding: 0 !important;
}

/* item caption info icon */
.spreadsheet td.item-caption .icon-holder {
	display: block;
	height: 20px;
	border-style: solid;
	border-color: silver;
	border-width: 0;
	padding: 5px;
	z-index: 100;
	cursor: pointer;
}

.spreadsheet td.item-caption .icon-holder * {
	cursor: pointer;
}

.spreadsheet td.item-caption .icon-holder.left {
	float: left;
	border-right-width: 1px;
}

.spreadsheet td.item-caption .icon-holder.right {
	float: right;
	border-left-width: 1px;
}

/* item caption reference code */
.spreadsheet .code {
	display: inline-block;
	margin: 0;
	text-align: center;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	position: relative;
	top: 0;
	white-space:nowrap;
	margin-left: 0px;
}

/* pos type caption */
.spreadsheet td.postype {
	text-align: left;
	color: black;
}

.spreadsheet td.row-group {
	background-color: silver !important;
	font-weight: 600;
	text-align: left;
	color: black;
}

.spreadsheet td.postype.row-group,
.spreadsheet td.postype.row-group span {
	cursor: pointer;
}

.spreadsheet td.calcullated-caption {
	text-align: right;
	font-weight: 600;
	font-size: 14px;
	font-variant: small-caps;
	white-space: nowrap !important;
	overflow: hidden;
}


.spreadsheet td.cel.sap-failure,
.spreadsheet td.cel.delivered-readonly.sap-failure, 
.spreadsheet td.cel.sap-shipped.sap-failure {
	background-color: #D2322D !important;
	color: #fff !important;
}

/* warehouse **********************************************************************************************************/


#warehouse_name {
	width: 350px !important;
	padding: 5px;
	color: black;
	font-size: .9em;
	border: 1px solid silver;
}

#warehouse_name.silver {
	color: silver;
}

#address_warehouse_id {
	width: 360px !important;
	color: black;
	font-size: .9em;
	margin-bottom: 20px;
	border: 1px solid silver
}

td.filters {
	padding: 0 0 5px;
	vertical-align: bottom;
}

td.filters select {
	display: block;
	margin-bottom: 10px;
}

.ie7 td.filters form {
	height: 100%;
}

.pos-tooltip td span {
	display: block;
	font-weight: 600;
	margin-bottom: 5px;
}

.dropdown-placeholder {
	margin-left: 0 !important;
	display: block;
	margin-bottom: 5px;
}

.spreadsheet td.cel.close,
.spreadsheet td.row-separator.close {
	border-bottom: 1px solid gray;
}

.spreadsheet td.cel.planned-readonly,
.spreadsheet td.cel.sap-confirmed {
	background-color: #dbefff !important;
}

.spreadsheet td.cel.delivered-readonly,
.spreadsheet td.cel.sap-shipped {
	background-color: #fffad6 !important;
}

.spreadsheet td.cel.cel-adjustment {
	background-color: #EFD4D4 !important;
}

.spreadsheet td.cel.cel-adjustment-total {
	background-color: #F6E98D !important;
}

.spreadsheet td.readonly.cel.warehouse,
.spreadsheet td.cel.warehouse {
	text-align: left;
}

table.default.tooltip td {
	font-size: 12px;
	color: white;
	border: 0;
}

table.default.tooltip tr td:first-child {
	color: #bbb;
}

.ie7 .spreadsheet .dropdown-placeholder select {
	top: 0;
}

.actions {
	text-align: left;
	padding: 0;
}

.spreadsheet textarea.focus {
	border-style: solid;
	border-color: #68e;
	border-width: 1px;
}

@-moz-document url-prefix() {
	.spreadsheet textarea.focus {
		/*border: 0;*/
		padding: 0;
	}
}

.spreadsheet .arrow {
	margin-left: 5px;
}

.tooltips-container {
	display: none;
}

table.tooltip td span {
	display: block;
	margin-bottom: 5px;
}

.image-loader img {
	display: block;
	margin: 20px 40px;
}

.spreadsheet td.warning {
	background-image: url(/public/images/readonly.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.tipsy * {
	text-align: left;
}

.tipsy i {
	display: block;
	font-style: normal;
}

.tipsy i + i {
	margin-top: 5px;
}

#export-reset .table {
	width: auto !important;
}

#export-reset th {
	border: 0 !important;
	font-size: 12px;
	font-weight: 300;
	white-space: nowrap;
	font-weight: 400;
	text-align: center;
}

#export-reset .table tr th:nth-child(n+3):not(.cel-separator) {
	background-color: #dedede;
}


#export-reset .table tr td {
	white-space: nowrap;
}

#export-reset .table tr td:nth-child(1) {
	text-align: left;
	width: 40px;
}

#export-reset .table tr td:nth-child(2) {
	text-align: left;
	white-space: nowrap;
}

#export-reset .ado-modal-body {
	min-height: 200px;
	min-height: 400px;
	overflow: auto;
	position: relative;
}

#export-reset td.cel-distributed {
	background-color: #FFFAD6;
}

#export-reset td.cel-confirmed {
	background-color: #DBEFFF;
}

#export-reset th.cel-reset,
#export-reset td.cel-reset {
	background-color: #D9534F !important;
	color: #fff;
	cursor: pointer;
}

#export-reset th.cel-reset:hover,
#export-reset td.cel-reset:hover {
	background-color: #D2322D;
}

#export-reset td.cel-separator {
	background-color: #fff;
	width: 10px !important;
	border: 0 !important;
}

.btn-sap-confirmed {
	cursor: default !important; 
	margin-right: 1px;
}

.bootstrap .btn-sap-confirmed.btn-success:hover, 
.bootstrap .btn-sap-confirmed.btn-success:focus, 
.bootstrap .btn-sap-confirmed.btn-success:active, 
.bootstrap .btn-sap-confirmed.btn-success.active {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.export-reset {
	position: relative;
}

.export-reset .fa-stack {
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #D9534F;
    top: -1px;
}

.export-reset .fa-stack-2x {
    font-size: 21px;
}

.export-reset .fa-stack-1x, 
.export-reset .fa-stack-2x {
}

