body.popup {
  font-family: arial;
  background-image: none;
  background-color: #f4f4f4;
}

.popup .pagecontent {
  display: block;
  padding: 0 0 0 20px;
  margin: 10px 0 0 10px;
}

.pagebody-container {
  margin-top: 20px;
}

.pagetop .pagetitle {
  padding-left: 20px;
  float: none;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
}

.actions {
  padding: 0;
  text-align: left !important;
}

.usermenu .navigation li:first-child {
  border-left: 1px solid silver;
}

.action-box {
  position: absolute;
  top: 0;
  right: 0;
}
