#list { 
		width: 800px; 
	}

	#list table {
		width: 100%;
	}
	
	h5 {
		display: block;
		margin-top: 40px;
		margin-bottom: 10px;
		font-size: 16px;
		color: gray;
	}
	
	table input[type=text] {
		width: 50px !important;
		text-align: right !important;
	}
	
	table tfoot span,
	.grand-total span  {
		display: inline-block;
		*display: inline;
		zoom: 1;
		vertical-align: top;
	}
	
	table tfoot td {
		padding: 10px !important;
	}
	
	.grand-total {
		display: block;
		width: 100%;
		margin: 40px 0 10px;
		border-width: 1px 0;
		border-style: solid;
		border-color: silver;
		padding: 5px 0;
		font-weight: 600;
	}

	table.listing {
		margin: 20px 0 5px;
		border-width: 1px 0;
		border-style: solid;
		border-color: silver;
		background-color: #f8f8f8;
	}
	
	p.submitted {
		display: block;
		font-size: 12px;
		padding: 10px;
	}
	
	td.alert {
		color: red !important;
	}


	.ado-modal-body p {
		display: block;
	}

	.ado-modal-body p span {
		display: inline-block;
		padding-left: 10px;
		font-size: 12px;
	}
	
	#printDialog .content-caption {
		display: block;
		font-size: 13px;
		padding: 10px 0;
	}