
	.pagecontent {
		position: relative;
		padding-bottom: 0 !important;
	}
	
	#spreadsheet{
		position: relative;
		display: block;
		width: 100%;
	}

	.spreadsheet div.sections div {
		background-color: #F4F4F4;
	}
	
	.spreadsheet .f3f3f3 {
		background-color: #f3f3f3;
	}
	
	.spreadsheet textarea.focus {
		padding: 5px !important;
	}
	
	.spreadsheet td {
		width: 30px;
		text-align: right;
		padding: 5px;
		font-size: 12px;
		color: black;
		border: 0;
	}
	
	.spreadsheet .spreadsheet-2 td {
		height: 60px !important;
	}

	.spreadsheet td.spreadsheet-a {
		width: 240px;
		text-align: left;
	}
	
	.spreadsheet td.spreadsheet-b {
		width: 40px;
		text-align: left;
	}
	
	.spreadsheet td.spreadsheet-c {
		width: 40px;
	}
	
	.spreadsheet td.spreadsheet-d {
		width: 40px;
	}
	
	.spreadsheet td.spreadsheet-e {
		width: 40px;
	}
	
	.spreadsheet td.spreadsheet-f {
		width: 5px;
		padding: 0 !important;
	}
	
	.spreadsheet td.cel.country,
	.spreadsheet td.cel.shortcut {
		text-align: center;
		overflow: hidden;
		width: 140px;
	}
	
	.spreadsheet td.cel.all-countries {
		text-align: center;
		width: 200px;
	}
	
	.spreadsheet td.cel.text-center {
		text-align: center;
	}
	
	.spreadsheet td.cel.group {
		background-color: #dedede !important;
		height: 40px;
	}
	
	.spreadsheet td.cel.total-group {
		background-color: #f3f7e4 !important;
	}
	
	.spreadsheet td.cel.grand-total {
		background-color: #e4f5f7 !important;
	}
	
	.spreadsheet td.confirmed {
		background-image: url(/public/images/confirmed.top.right.png);
		background-repeat: no-repeat;
		background-position: top right;
	}
	
	.spreadsheet td.sep {
		width: 5px !important;
		padding: 0 !important;
	}
	
	.ie7 .spreadsheet td {
		height: 25px;
	}
	
	.spreadsheet td.cel,
	.spreadsheet td.readonly.cel {
		background-color: white;
		border: 1px solid silver;
	}

	.actions {
		text-align: left;
		padding: 0;
	}
	
	.spreadsheet textarea.focus {
		border-style: solid;
		border-color: #68e;
		border-width: 1px;
	}
	
	@-moz-document url-prefix() {
		.spreadsheet textarea.focus {
			/*border: 0;*/
			padding: 0;
		}
	}
	
	.spreadsheet div.selection div.shade {
		background-color: transparent !important;
	}
	
	.spreadsheet div.selection div.border {
		border: 0 !important;
	}
	
	.actions {
		display: block;
		height: 32px;
		width: 100%;
		text-align: left !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	.spreadsheet td.cel.alert {
		color: red !important;
	}
