.print-box .dd {
	width: 100%;
	float: none;
}

.print-box .dd-item {
	display: block;
	font-size: 12px;
	font-weight: normal;
}

.print-box .dd3-handle,
.print-box .dd-handle.dd3-handle {
    border: 0;
    background: transparent !important;
    color: #888;
}

.print-box .dd3-handle:before {
    top: 5px;
    color: #888;
    font-size: 20px;
    font-weight: 200;
}

.print-box .dd3-content {
    padding: 5px 10px 5px 30px;
    border-radius: 0 !important;
}

.select-all {
    font-size: 12px;
    font-weight: 600;
    padding-left: 10px !important;
    margin-left: 20px !important;
    background-color: transparent !important;
}