html, body,
.pagecontent,
.pagebody,
.pagebody-container,
#gantt-container,
#gantt-chart {
  height: 100%;
}
#gantt-chart {
  font-size: 85%;
  max-width: 100%;
}
#gantt-chart .k-treelist .k-alt {
  background-color: transparent;
}
#gantt-chart .nr-of-days {
  text-align: center;
}

 
/**
 * Tooltip when hovering a task
 */
#gantt-chart .gantt-tooltip {
  width: 200px;
  padding: 5px;
}
#gantt-chart .gantt-tooltip .title {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
#gantt-chart .gantt-tooltip .days-overdue {
  display: block;
  margin-top: 3px;
  color: #B02323;
}
.k-tooltip {
  padding: 0;
  background-color: none;
  border-radius: 0;
  box-shadow: none;
}

/**
 * Print styles
 */
.k-pdf-export .toolbar {
  display: none;
}
.k-pdf-export #gantt-chart {
  border-width: 0;
}
/*.k-pdf-export #gantt-chart,
.k-pdf-export .k-timeline .k-grid-header,
.k-pdf-export .k-timeline .k-grid-header-wrap {
  border-color: #cecece;
}*/
.k-pdf-export #gantt-chart .k-grid-header * {
  border-color: #000 !important;
  color: #000 !important;
}
.k-pdf-export #gantt-chart .k-grid-content * {
  border-color: #adadad !important;
}


/* border styles */
#gantt-chart .k-grid-header-wrap > table {
  border: 1px solid #cecece;
}
#gantt-chart .k-timeline .k-grid-header-wrap > table {
  border-left-width: 0;
}
#gantt-chart .k-treelist .k-header:first-child {
  /*border-left: 1px solid #cecece;*/
}
#gantt-chart .k-treelist .k-header:last-child,
#gantt-chart .k-timeline .k-grid-header-wrap {
  border-right-width: 0;
}
#gantt-chart .k-grid-header {
  border-bottom-width: 0;
}
#gantt-chart .k-header,
.k-gantt-tasks tbody tr:first-child td,
.k-pdf-export .k-timeline .k-grid-header,
.k-pdf-export .k-timeline .k-grid-header-wrap {
  border-color: #cecece; 
}



/* add horizontal gridlines and correct padding and margin for this */
.k-grid td {
  /*padding: 5px 8px;*/
}
.k-task-wrap {
  margin-top: 2px;
}


.gantt-task td {
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}
.k-task {
  border-width: 0;
}
.k-task.overdue {
  background-color: #E01717;
}

.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-button, .k-progressbar, .k-draghandle, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item, .km-pane-wrapper>.km-pane>.km-view>.km-content {
  background-image: none;
  background-color: #fff;
}
.k-header, .k-treemap-title {
  color: #a6a6a6;
}
.k-reset.k-header.k-gantt-views,
.k-splitbar,
.k-task-summary,
.k-gantt-toolbar {
  display: none;
}
.k-block, .k-widget, .k-input, .k-textbox, .k-group, .k-content, .k-header, .k-filter-row>th, .k-editable-area, .k-separator, .k-colorpicker .k-i-arrow-s, .k-textbox>input, .k-autocomplete, .k-dropdown-wrap, .k-toolbar, .k-group-footer td, .k-grid-footer, .k-footer-template td, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-grid-header, .k-grid-header-wrap, .k-grid-header-locked, .k-grid-footer-locked, .k-grid-content-locked, .k-grid td, .k-grid td.k-state-selected, .k-grid-footer-wrap, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-refresh, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-panelbar>.k-item>.k-link, .k-panel>.k-item>.k-link, .k-panelbar .k-panel, .k-panelbar .k-content, .k-treemap-tile, .k-calendar th, .k-slider-track, .k-splitbar, .k-dropzone-active, .k-tiles, .k-toolbar, .k-tooltip, .k-button-group .k-tool, .k-upload-files {
    border-color: #ebebeb;
}
.k-header,
.k-gantt-tasks tbody tr:first-child td {
  /*border-top-color: #cecece;
  border-bottom-color: #cecece;*/
}
.k-gantt-treelist .k-grid-header tr {
  height: 54px;
  border-bottom: 1px solid #cecece;
}
.k-gantt-timeline .k-grid-header tr {
  height: 25px;
}
div.k-grid-header, 
div.k-grid-footer {
  padding-right: 0;
  border-right-width: 0;
  border-bottom: 1px solid #cecece;
}
.k-gantt .k-treelist {
  background-color: transparent;
}

/**
 * Date range slider
 */
.ui-rangeSlider-label {
  background-image: none;
  font-size: 11px;
  margin-bottom: 1px;
  bottom: 18px;
  color: #666;
}
.ui-rangeSlider .ui-rangeSlider-bar {
  background: rgba(127, 163, 129, 0.3);
}

/**
 * Toolbar styles
 */
.toolbar {
  margin-bottom: 1em;
}
#gantt-container form.default select {
  height: 24px;
}
#gantt-container form.default label {
  width: auto;
  min-width: 0;
  max-width: none;
  vertical-align: middle;
}
#gantt-container .controls {
  vertical-align: text-bottom;
  display: inline-block;
}
#gantt-container .control {
  display: inline-block;
  margin-left: 20px;
}
#gantt-date-slider {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
}

/**
 * Styling of task content in timeline
 */
#gantt-container .k-task-template {
  font-size: 11px;
}
#gantt-container .k-task:not(.overflow).dark .k-task-template {
  color: white;
}
#gantt-container .k-task-single,
#gantt-container .k-task-milestone {
  overflow: visible;
}
#gantt-container .k-task-milestone,
#gantt-container .k-milestone-wrap .k-task-content {
  display: inline-block;
}
#gantt-container .k-task-template {
  padding-top: .25em;
}

/* hide task details when show-details is not applied */
#gantt-container:not(.show-details) .task-date,
#gantt-container:not(.show-details) .k-task-template {
  display: none;
}
#gantt-container .task-date {
  position: absolute;
  font-size: 11px;
}
#gantt-container .task-date-start {
  left: -55px;
}
#gantt-container .k-milestone-wrap .task-date {
  top: 0;
  left: auto;
  right: -10px;
}
#gantt-container .task-date-end {
  right: -55px;
}
#gantt-container .task-date-end-append {
  margin-left: 10px;
}
#gantt-container .k-milestone-wrap .k-task-content {
  top: -2px;
}
#gantt-container .k-task-milestone .k-task-content {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/**
 * Specific styles for masterplan gantt
 */
#gantt-container.masterplan-gantt .k-grid td {
  padding-top: .2em;
  padding-bottom: .2em;
  line-height: 1.2em;
}
#gantt-container.masterplan-gantt .k-gantt-rows tr,
#gantt-container.masterplan-gantt .k-gantt-tasks tr,
#gantt-container.masterplan-gantt .k-gantt .k-grid-content tr {
  height: 1.9em;
}
#gantt-container.masterplan-gantt .k-grid tr.project {
  font-weight: bold;
}
#gantt-container.masterplan-gantt.view-projects-only .k-grid tr.project {
  font-weight: normal;
}
#gantt-container.masterplan-gantt .k-timeline .project,
#gantt-container.masterplan-gantt .gantt-tooltip.project {
  background-color: #6E7690;
  color: white;
}
#gantt-container.masterplan-gantt .gantt-tooltip.project .title {
  font-weight: normal;
}
#gantt-container.masterplan-gantt .k-timeline .k-task.overflow .k-task-content {
  color: #2E2E2E;
}
#gantt-container.masterplan-gantt .k-grid-content a {
  color: inherit;
}

#gantt-container .gantt-tooltip.dark {
  color: white;
}


/**
 * Table showing filtered out steps
 */
#filtered-out {
  margin-top: 1em;
  width: 438px;
}
#filtered-out td.step { width: 30px; }
#filtered-out td.date { width: 60px; }
#filtered-out table.listing td { font-size: 85%; }
/* hide filtered out tasks when show-details is not applied */
#gantt-container:not(.show-details) #filtered-out {
  display: none;
}
#filtered-out h2 {
  font-size: 1.1em;
  margin-bottom: .6em;
  font-weight: normal;
}