
td .button {
	padding: 0;
	height: auto;
	line-height: auto;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font: bold 12px Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: black;
	background: none !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

td .button:hover {
    background: none !important;
	color: black;
}

td .button:active {
	color: black;
}