.handsontable table.htCore {
    font-size: 14px;
    border-collapse: collapse;
    -webkit-box-shadow: none;
	box-shadow: none;
}

.handsontable .wtBorder {
  display: none !important;
}

.handsontable .htAutocompleteArrow {
	color: #ddd;
}

.handsontableInput { 
	visibility: hidden !important; 
}

.handsontable table.htCore th {
	color: white;
	color: white;
	font-variant: small-caps;
	font-size: 14px;
	border-width: 0;
	text-align: center;
	font-weight: 400;
	text-align: center;
	background: #374753;
	padding: 10px;
	border-color: gray;
	border-style: solid;
	border-width: 0 1px;
	border-bottom-width: 0px !important;
	vertical-align: middle;
}

.handsontable table.htCore th:first-child {
	text-align: left;
	vertical-align: center;
	background: #242e36;
	color: silver;
	font-size: 16px;
}

.handsontable table.htCore tbody td:not(:first-child) {
	text-align: center;
	padding-left: 26px;
}

.handsontable table.htCore tbody tr td:first-child {
	text-align: left;
}

.handsontable table.htCore .header-grouping th:not(.empty-cel) {
	color: silver;
	background: #242e36;
	border-width: 0 1px;
}

.handsontable .header-grouping .colHeader {
	text-align: center;
}

.handsontable table.htCore th .relative {
	padding: 0;
}


.handsontable table.htCore tr th:first-child {
	border-left-width: 1px;
}

.handsontable table.htCore tr th:last-child {
	border-right-width: 1px;
}

.handsontable table.htCore td {
	padding: 10px;
}

#matrix {
	padding-right: 40px;
}

#matrix div:not(.handsontableInputHolder) tr:nth-child(even) td {
    background-color: #f6f6f6;
}

#matrix .handsontable.listbox .ht_master table {
	border: 1px solid #666;
}

.htDimmed .htAutocompleteArrow {
	display: none !important;
}

/*
select#clients {
	display: block;
	width: 480px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: rgb(255, 255, 255);
	background-color: rgb(55, 71, 83);
	background-image: none;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 4px;
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
*/