#jquery-loader-background {
    background-color: black;
}

#jquery-loader {
    height: 40px;
	width: 40px;
    background-color: white;
    background-image: url("/public/scripts/loader/images/blue.gif");
    background-position: center center;
    background-repeat: no-repeat;
    border: 5px solid silver;
    padding: 40px;
    text-align: center;
    color: black;
}

#jquery-loader-white {
	height: 40px;
	width: 40px;
    background-color: white;
    background-image: url("/public/scripts/loader/images/white.gif");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid black;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 0;
    text-align: center;
    color: black;
}

#jquery-loader-black {
	height: 48px;
	width: 48px;
    background-color: black;
    background-image: url("/public/scripts/loader/images/black.gif");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid cilver;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: black;
    opacity: 0.3;
}
