/**
 * jQuery.popover example stylesheet.
 * By Davey IJzermans
 * http://daveyyzermans.nl
 * 
 * License: public domain
 */

.popover {
	position: absolute;
	top: 0; 
	left: 0;
	width: 220px;
	display: none;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.popover.wider {
	width: 340px;
}
.popover.large {
	width: 470px;
	max-height: 350px;
}
.popover .arrow, .popover .top-arrow {
	position: absolute;
	top: 0; 
	left: 50%;
	margin: -10px 0 0 -3px;
	width: 0; height: 0;
	border-top: 5px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #121212;
}
.popover .bottom-arrow {
	top: 100%; left: 50%;
	margin: 0 0 0 -3px;
	border-top: 5px solid #121212;
	border-bottom: 5px solid transparent;
}
.popover .left-arrow {
	top: 50%; left: -10px;
	margin: -3px 0 0;
	border-right: 5px solid #121212;
	border-bottom: 5px solid transparent;
}
.popover .right-arrow {
	top: 50%; left: 100%;
	margin: -3px 0 0;
	border-left: 5px solid #121212;
	border-bottom: 5px solid transparent;
}
.popover .wrap {
	background: white;
	border: 3px solid #121212;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.popover .title {
	color: white;
	font-size: 1em;
	text-align: center;
	padding: 8px 0 0 0;
	height: 27px;
	background: #373f49;
	background: -moz-linear-gradient(top,  #373f49 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#373f49), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #373f49 0%,#000000 100%);
	background: -o-linear-gradient(top,  #373f49 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #373f49 0%,#000000 100%);
	background: linear-gradient(to bottom,  #373f49 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373f49', endColorstr='#000000',GradientType=0 );
}
.popover .content {
	padding: 15px;
	overflow: auto;
	line-height: 1.3em;
	font-size: 0.9em;
}
.popover.large .content {
	max-height: 285px;
}
