/*********************************************************
	
	form.default Stylesheet

	MediaparX AG
	Admir Serifi (admir.serifi@mediaparx.com)
	2012-06-26

*********************************************************/

	form.default {
		display: inline-block;
		width: auto;
		min-width: 700px; 
	}

	form.validator {
		width: auto;
		min-width: 700px; 
	}

	.popover form,
	.popover form.default {
		min-width: 220px;
	}

	form.default input,
	form.default select,
	form.default textarea {
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	form.default label:not(.switch) {
		display: inline-block;
		*display: inline;
		zoom: 1;
		max-width: 50%;
		min-width: 160px;
		line-height: 24px;
		height: 24px;
		margin: 0 10px 0 10px;
		color: black;
		vertical-align: top;
		font-size: 12px;
	}

	form.default input[type=text],
	form.default input[type=number],
	form.default input[type=password] {
		border: 1px solid silver;
		padding: 2px 5px;
		line-height: 18px;
		font-size: 12px;
		font-family: arial;
		width: 300px;
		height: 18px;
		outline: none;
	}

	form.default input.numeric {
		width: 80px;
	}

	form.default input[type=checkbox]  {
		outline: none;
	}

	form.default input[type=radio] {
		outline: none;
	}

	form.default input[type=file] {
		outline: none;
	}

	form.default input[type=hidden] {
		display: none;
	}

	form.default textarea {
		border: 1px solid silver;
		padding: 5px;
		font-size: 12px;
		font-family: arial;
	}

	form.default select {
		border: 1px solid silver;
		padding: 1px;
		font-size: 12px;
	}

	form.default option {
		padding: 2px 5px;
		font-size: 12px;
	}

	form.default input[disabled=disabled],
	form.default textarea[disabled=disabled],
	form.default select[disabled=disabled] {
		color: silver !important;
		border-color: #ededed !important;
	}

	form.default .-row {
		display: block;
		width: 100%;
		padding: 10px 0;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	form.default .-row:first-child {
		padding-top: 20px;
	}

	form.default .-row:last-child {
		padding-bottom: 20px;
	}

	form.default .-legend {
		display: block;
		width: 100%;
		margin: 20px 0 5px 0;
	}
	
	form.default .-legend strong {
		display: block;
		font-size: 16px;
		font-weight: 700;
		color: #1B2A3F;
		padding-left: 20px;
	}

	form.default .-fieldset {
		display: block;
		background: white;
		border: 1px solid silver;
	}

	form.default .-label {
		display: inline-block;
		*display: inline;
		zoom: 1;
		width: 160px;
		min-width: 160px;
		line-height: 24px;
		height: 24px;
		margin: 0 10px 0 20px;
		color: black;
		vertical-align: top;
		font-size: 12px;
	}

	form.default .-element {
		display: inline-block;
		*display: inline;
		zoom: 1;
		min-height: 24px;
		line-height: 24px;
		vertical-align: top;
	}
	
	form.default .-element.vertical .elembox {
		display: block;
	}

	form.default .-onfocus {
		background: white;
		border-color: gray !important;
	}

	form.default .-onblur {
		background: #f9f9f9;
		border-color: silver;
	}

	form.default input[type=text].error,
	form.default textarea.error {
		border-color: red !important;
	}

	form.default input[readonly],
	form.default text[readonly],
	form.default select[readonly] {
		background-color: #f8f8f8;
	}

	form.default .-checkbox,
	form.default .-radio {
		color: black;
		font-size: 12px;
	}

	form.default .-checkbox .-checked,
	form.default .-radio .-checked {
		background: url('/public/themes/default/images/icon-checked.png') no-repeat left center;
		padding-left: 20px;
	}

	form.default .-checkbox .-unchecked,
	form.default .-radio .-unchecked {
		background: url('/public/images/unchecked.png') no-repeat left center;
		padding-left: 20px;
	}

	form.default .-checkbox .-caption,
	form.default .-radio .-caption {
		margin-left: 5px;
		display: inline-block;
	}
	
	form.default .-checkbox .-caption.-checked,
	form.default .-radio .-caption.-checked,
	form.default .-checkbox .-caption.-unchecked,
	form.default .-radio .-caption.-unchecked {
		margin-left: 0 !important;
	}

	form.default .-checkbox.horizontal .-caption,
	form.default .-radio.horizontal .-caption {
		padding-right: 20px;
	}
	
	form.default .-checkbox.vertical {
		display: block !important;
	}

	form.default .-disabled {
		display: inline-block;
		*display: inline;
		zoom: 1;
		color: black;
		line-height: 24px;
		font-size: 12px;
	}

	form.default .-disabled .-icon {
		margin: 2px 5px 0 0;
	}

	form.default .-odd {
		background-color: #ffffff;
	}

	form.default .-even {
		background-color: #f8f8f8;
	}

	form.default .-placeholder {
		font-size: 12px;
	}

	form.default .-tooltip {
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin: 2px 20px 0 5px;
		line-height: 20px;
		width: 20px;
		height: 20px;
	}

	form.default .-mceEditor {
		margin-top: 20px;
	}

	form.default .-textarea.-disabled {
		margin-right: 20px;
		width:  440px;
	}
	
	form.default input.datepicker {
		width: 100px;
	}
	
	form.request {
		display: none;
	}
	
	.checkbox-group {
		display: block;
		*display: inline;
		zoom: 1;
		margin-left: 194px;
		min-height: 20px;
		vertical-align: top;
	}
	
	.btn-plus {
		border: 1px solid silver;
		line-height: 22px;
		font-size: 14px;
		font-family: arial;
		width: 10px;
		height: 22px;
		outline: none;
		font-weight: bold;
		padding: 0 3px;
		text-align: center;
		display: inline-block;
		margin-left: 10px;
		color: gray;
		cursor: pointer;
	}
	
	.btn-plus:hover {
		background-color: #dedede;
		color: black;
	}
	
	.stretched input[type=text] {
		width: 100%;
	}
	
	.textarea-xs {width:200px;}
	.textarea-sm {width:300px;}
	.textarea-md {width:400px;}
	.textarea-lg {width:500px;}
