/********************************
	
	Graphic User Interface (GUI)
	admir.serifi@mediaparx.ch
	
*********************************/

.gui-icon {
	overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    zoom: 1;
    *display: inline;
    width: 20px;
	height: 20px;
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url(/public/themes/default/images/icons.png);
	background-repeat: no-repeat;
}

.gui-icon + .gui-icon {
	margin-left: 5px;
}

.gui-icon.home { background-position: 0 0; }
.gui-icon.lock { background-position: 0 -20px; }
.gui-icon.help { background-position: 0 -40px; }
.gui-icon.picture { background-position: 0 -60px; }
.gui-icon.map { background-position: 0 -80px; }
.gui-icon.web { background-position: 0 -100px; }
.gui-icon.rss { background-position: 0 -120px; }
.gui-icon.email { background-position: 0 -140px; }
.gui-icon.user { background-position: 0 -160px; }
.gui-icon.attachment { background-position: 0 -180px; }
.gui-icon.search { background-position: 0 -200px; }
.gui-icon.key { background-position: 0 -220px; }
.gui-icon.comment { background-position: 0 -240px; }
.gui-icon.delete { background-position: 0 -260px; }
.gui-icon.refresh { background-position: 0 -280px; }
.gui-icon.shop { background-position: 0 -300px; }
.gui-icon.settings { background-position: 0 -320px; }
.gui-icon.filter { background-position: 0 -340px; }
.gui-icon.arrow-left { background-position: -20px 0; }
.gui-icon.arrow-right { background-position: -20px -20px; }
.gui-icon.arrow-up { background-position: -20px -40px; }
.gui-icon.arrow-down { background-position: -20px -60px; }
.gui-icon.plus { background-position: -20px -80px; }
.gui-icon.minus { background-position: -20px -100px; }
.gui-icon.error { background-position: -20px -120px; }
.gui-icon.warrning { background-position: -20px -140px; }
.gui-icon.checked { background-position: -20px -160px; }
.gui-icon.unchecked { background-position: -20px -180px; }
.gui-icon.star { background-position: -20px -200px; }
.gui-icon.star-off { background-position: -20px -220px; }
.gui-icon.bullet-blue { background-position: -20px -240px; }
.gui-icon.bullet-red { background-position: -20px -260px; }
.gui-icon.bullet-green { background-position: -20px -280px; }
.gui-icon.bullet-gray { background-position: -20px -300px; }
.gui-icon.bullet-white { background-position: -20px -320px; }
.gui-icon.filter-dropdown { background-position: -20px -340px; }
.gui-icon.menu { background-position: -20px -360px; }





