/*
	
	Layout Stylesheet

	MediaparX AG
	Admir Serifi (admir.serifi@mediaparx.com)
	2012-06-26

*********************************************************/
	
body.adomat {
	font-family: arial;
	font-style: normal;
	min-width: 1000px;
	background: #f4f4f4 url(/public/themes/default/images/bg.jpg) repeat-y left;
	margin: 0;
	padding: 0;
	border: 0;
}

body.adomat.spreadsheet {
	background: #f4f4f4;
}

pre, .preformated {
	width: 500px;
	background-color: #fffeee;
	border: 1px solid silver;
	margin: 20px 0; 
	padding: 20px;
	font: normal 12px courier,arial;
}

.table-xxs { max-width: 400px; }
.table-xs { max-width: 677px; }
.table-sm { max-width: 991px; }
.table-lg { max-width: 1199px; }
.table-filters {margin-bottom: 10px;}

.adomat a {
	text-decoration: none;
	color: blue;
}

.adomat a:hover {
	color: black;
}

.xhr-placeholder {
	padding-right: 40px;
}

.emptybox {
	display: block;
	width: 100%;
	background-color: white;
	border: 1px solid silver;
	text-align: center;
	color: gray;
	vertical-align: center;
	padding: 50px 0;
	font-size: 1.4em;
	font-weight: 700;
}

.error {
	color: red !important;
}

.actions {
	display: block;
	width: 100%;
	min-height: 32px;
	padding: 20px 0;
	text-align: left;
	white-space: nowrap;
	box-sizing: border-box;
}

.pager-container {
	display: block;
	width: 100%;
	margin: 20px 0;
	color: gray;
	font-size: 12px;
}

.filter-label {
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	height: 30px;
	line-height: 30px;
	text-align: left;
	font-size: 13px;
	margin-right: 5px;
	vertical-align: top;
	color: gray;
}

.list-actions {
	display: block;
	width: 100%;
	padding: 20px 0 10px;
}

#back,
#back,
#cancel,
#cancel {
	float: left;
	margin-left: 0;
}
/*
.actions #print,
.toolbox #print {
	float: right;
	margin-right: 0;
}
*/

.list-container {
	display: block;
	width: 100%;
	max-width: 800px;
	padding-right: 40px;
}

.toolbox {
	position: relative;	
	white-space: nowrap;
	width: 100%;
	display: block;
}


form.toolbox,
form.default.toolbox {
	width: 100%;
}


.toolbox #print {
	float: left;
	margin: 0 10px 0 0;
}


.actions .button:last-child {
	margin-right: 0;
}

.page-wrapper {
	width: 100%;
	position: relative;
}

.pagetop-container {
	display: block;
	width: 100%;
	min-width: 100%;
	height: 60px;
	background:url(/public/themes/default/images/page-header.jpg) repeat-x top; 
}

.pagetop {
	display: block;
	width: 100%;
	min-width: 100%;
}

.pagetop .pagelogo {
	display: block;
	float: left;
	width: 230px;
	height: 60px;
	margin-right: 40px;
}

.pagetop .pagetitle {
	float: left;
	display: block;
	font-size: 1.4em;
	line-height: 60px;
	font-weight: 500;
	color: white;
}

.pagetop .usermenu {
	display: block;
	float: right;
	height: 60px;
}

.pagebody-container {
	display: block;
	width: 100%;
	min-width: 100%;
}

.pagebody {
	display: block;
	width: 100%;
	min-width: 100%;
}

.pageleft {
	float: left;
	display: block;
	width: 230px;
}

.pageright {
	float: right;
	display: block;
	width: 230px;
}

.pagecontent {
	display: block;
	margin: 0 20px 0 270px;
	padding: 40px 0;
}

.pagefooter-container {
	display: block;
	width: 100%;
	min-width: 100%;
}

.pagefooter {
	display: block;
	width: 100%;
	min-width: 100%;
}

.table-container table {
	
}

.table-toolbox {
    width: 100%;
    height: 30px;
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
    text-align: left;
    z-index: 0;
}

form.toolbox select:not(.dropdown-placeholder),
form.toolbox input[type=text]:not(name=search) {
	border: 1px solid silver;
	padding: 1px;
}

.table-toolbox .submit option {
	font-size: 12px !important;
	padding: 2px !important;
}

.xhr-placeholder .row-per-page {
	display: inline-block;
}

.xhr-placeholder .row-per-page select {
	height: 18px;
	width: auto;
	border: 1px solid silver;
	margin: 0;
	padding: 0;
	border-radius: 4px;
}

.xhr-placeholder .row-per-page select option {
	margin: 0;
	padding: 0;
}
   
   
.qtip {
	font-size: .75em;
}

.qtip .qrow {
	display: block;
	padding-bottom: 5px;
}

.qtip li {
	display: block !important;
	list-style-type: none;
	margin: 5px 10px;
	line-height: 18px;
}


.node {
	display: block;
	width: 100%;
	margin-bottom: 40px;
}

.node.header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node.header .-title {
	display: block;
	font-size: 1.2em;
	font-weight: 500;
	color: #484848;
}

.node.header .-subtitle {
	display: block;
	margin-top: 10px;
	font-size: .85em;
	font-weight: 500;
	color: gray;
}

.-box {
	display: block;
	width: 100%;
	border: 1px solid silver;
	background-color: white;
}


.-box-header {
	display: block;
	width: 100%;
	font-size: 1.2em;
	font-weight: 700;
	color: #132941;
	margin-bottom: 20px;
}

.-box-header strong { 
	font-weight: 700;
	padding-left: 20px;
}

.-box .-content {
	display: block;
	padding: 20px;
}

.-box .-content p {
	width: 100%;
	display: block;
	margin: 0 0 10px 0;
	font-size: .75em;
}

.-box .-content .-tr {
	width: 100%;
	display: block;
	margin: 0 0 10px 0;
}

.-box .-content .-tr.-caption {
	margin: 0 0 10px 0;
}

.-box .-content .-tr.-head {
	margin: 0;
}

.-box .-content .-tr.-foot {
	margin: 40px 0 0 0;
	padding-bottom: 10px;
}

.-box .-content .-tr.-top {
	margin: 0 0 10px 0;
}

.-box .-content .-tr.-bottom {
	border-top: 1px solid silver;
	margin: 10px 0 20px 0;
	padding-top: 5px;
}

.-box .-content .-tr.-row {
	margin: 0 0 10px 0;
}

.-box .-content .-td {
	display: inline-block;
	*display: block;
	zoom: 1;
	text-align: right;
	font-size: .8em;
	min-width: 100px;
}

.-box .-content .-label {
	display: inline-block;
	*display: block;
	zoom: 1;
	text-align: left;
}

.-box .-content .-caption .-label {
	font-size: .9em;
	font-weight: 700;
}

.-box .-content .-row .-label {
	margin-left: 40px;
}

.contentbox .-bottom .-label {
	font-style: italic;
}

.-box .-content .-td.-currency { 
	min-width: 60px;  
}

.-box .-content .-td.-approved { 
	min-width: 120px;  
}

.-box .-content .-td.-quantity { 
	min-width: 120px;  
}

.-box .-content .-foot .-td {
	font-size: .9em;
	font-weight: 700;
}



.modalmail {
	width: 5000px;
	display: block;
	padding: 20px;
	border: 5px solid black;
}

.modalmail .-caption {
	display: block;
	padding-bottom: 20px;
	font-size: 2em;
	color: gray;
}

.modalmail .-subject,
.modalmail .-content {
	display: block;
	margin-bottom: 10px;
}

.modalmail form input[type=text] {
	width: 490px;
	padding: 4px;
	border: 1px solid gray;
}

.modalmail form textarea {
	width: 490px;
	height: 200px;
	padding: 4px;
	border: 1px solid gray;
}


.-modal .-top {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid silver;
}

.-modal .-title {
	display: block;
	width: 100%;
	font-size: 1.6em;
	font-weight: 500;
}

.-modal .-lead {
	display: block;
	width: 100%;
	margin-top: 5px;
	color: gray;
	font-size: .9em;
}

.-modal .-lead strong {
	font-weight: 300;
}

.-modal .-main {
	display: block;
	width: 100%;
}

.-modal .-content {
	display: block;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.-modal .-bottom {
	display: block;
	width: 100%;
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid silver;
}

.-modal .-actions {
	padding: 0;
	margin: 0;
}

.message {
	display: block;
	width: 800px;
}

.message .-title {
	display: block;
	width: 100%;
	font-size: 1.2em;
	font-weight: 400;
	color: gray;
	border-style: dotted;
	border-color: gray;
	border-width: 0 0 0px;
	margin: 0 0 20px;
	padding: 0 0 5px;
}

.message .-content {
	display: block;
	width: 100%;
	font-size: .825em;
	color: black;
	margin-bottom: 20px;
}

.highlight {
	display: block;
	padding: 5px;
	font-size: 11px;
	font-weight: 500;
	color: black;
	border-width: 1px;
	border-style: solid;
}

.highlight.success {
	background-color: #e6eff7;
	border-color: #cee2ef;
	color: black;
}

.highlight.error {
	background-color: #f7dcdf;
	border-color: #ff8e8e;
	color: red;
}

.highlight.warning {
	background-color: #FDFBF4;
	border-color: #ffd651;
	color: black;
}

.dialogbox-container {
	display: none;
}

.dialogbox {
	width: 400px;
	background-color: white;
	display: block;
}

.dialogbox-title,
.dialogbox .-title {
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 14px;
	font-familly: arial;
	background: black;
}

.dialogbox-title .label,
.dialogbox .-title b {
	display: block;
	line-height: 32px;
	padding: 0 10px;
}

/* default theme */
.dialogbox.theme-default .dialogbox-title {
	color: white;
	background: #7091a9;
	background: -moz-linear-gradient(top, #7091a9 0%, #07243d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7091a9), color-stop(100%,#07243d));
	background: -webkit-linear-gradient(top, #7091a9 0%,#07243d 100%);
	background: -o-linear-gradient(top, #7091a9 0%,#07243d 100%);
	background: -ms-linear-gradient(top, #7091a9 0%,#07243d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7091a9', endColorstr='#07243d',GradientType=0 );
	background: linear-gradient(top, #7091a9 0%,#07243d 100%);
}

.dialogbox.theme-default .dialogbox-title .label {
	color: white;
}

.dialogbox-content {
	display: block;
	width: 360px;
	padding: 20px;
	font-size: 14px;
}

.dialogbox-actions {
	width: 360px;
	padding: 0 20px 10px;
	text-align: right;
}

.dialogbox-actions .button:first-child {
	float: left;
	margin: 0;
}

#loader-container,
.loader-container,
.ajax-splash {
	display: none;
	position: absolute;
	z-index: 100;
	background-color: black;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

#loader-container img,
.loader-container img,
.ajax-splash img {
	position: relative;
	z-index: 101;
	margin: 0;
	padding: 0;
}

.show-file {
    font-size: 12px;
}

.icon-holder {
	display: inline-block;
	*display: block;
	zoom: 1;
	padding: 2px;
	background-color: white;
	border: 1px solid silver;
}



#ajax-loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	background: black;
	color: silver;
	margin: 0;
	padding: 0;
}

.ajax-overlay {
	background: black url(/public/images/ajax.loader.gif) no-repeat center center;
	width:100%;
	height:100%;
}

.placeholder { color: #aaa; }

.panel {
	display: block;
	background-color: white;
	border: 1px solid #ccc;
	margin-top: 30px;
}

.panel .title {
	display: block;
	padding: 10px;
	background-color: #ededed;
	line-height: 18px;
	height: 18px;
	position: relative;
	cursor: pointer;
}

.panel .title a {
	display: inline-block;
	font-size: 12px;
}

.panel .title i {
	display: inline-block;
	font-weight: 300;
}

.panel .section-title {
	display: inline-block;
	font-weight: 500;
}	
	
.panel .section-button {
	font-size: 12px;
	color: black;
}

.panel .section-edit {
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	margin-left: 10px;
	color: gray;
}

.panel .section-edit:hover {
	color: red;
}

.panel .section-flag {
	margin-left: 10px;
	font-size: 12px;
	font-style: normal;
	color: #aaa;
}

.panel .toggler {
	position: absolute;
	right: 0;
	margin-left: 10px;
	line-height: 18px;
}



.panel .content {
	display: block;
	padding: 10px;
}

.panel ul {
	display: block;
	margin: 0 20px 10px;
}

.panel .content ul ul {
	margin: 0;
}

.panel .content li {
	display: block;
	padding: 10px 0;
	font-size: 13px;
	list-style: circle;
	border-style: dotted;
	border-color: silver;
	border-bottom-width: 1px;
}

.panel .content li li {
	margin-left: 20px !important;
}

.panel .content li.bundle {
	position: relative;
	font-weight: 600;
	margin-top: 20px;
	font-size: 14px;
	border-style: solid;
	border-color: #dedede;
	cursor: pointer;
}

.panel .content li.bundle:first-child {
	margin-top: 10px;	
}

.panel .content strong {
	display: block;
	font-weight: 500;
	font-size: 14px;
}

.panel .content li a {
	display: inline-block;
	vertical-align: top;
}

.panel .content li .flag {
	display: block;
	float: right;
	vertical-align: top;
	color: green;
	font-size: 12px;
}

.panel .content li:last-child {
	border: 0;
}


.compare-list {
	display: block;
	width: 1000px;
}

.compare-caption {
	display: block;
	width: 100%;
	color: gray;
	font-size: 16px;
	font-weight: 600;
	margin-top: 40px;
}

.compare-list .compare-caption:first-child {
	margin-top: 0;
}

.compare-group {
	display: block;
	padding: 20px;
	margin-top: 20px;
	border: 1px solid silver;
	background-color: white;
}

.compare-list .compare-group:first-child {
	margin-top: 0;
}

.compare-group-caption {
	font-size: 14px;
}

.compare-group table {
	width: 100%;
	margin-top: 30px;
	border-spacing: 0;
}

.compare-group th {
	text-align: left;
	border-bottom: 1px solid silver;
	font-size: 13px;
	font-weight: 500;
	color: gray;
	padding: 5px 0;
}

.compare-group td {
	text-align: left;
	font-size: 13px;
	color: black;
	padding: 5px 0;
}

.compare-group td.compare-error {
	color: red;
}

.compare-group tr.odd td {
	background-color: #f3f3f3;
}

.annoucements-list .description {
	display: block;
	color: gray;
	font-size: 12px;
	padding-top: 5px;
}




