

/** modal responsive **************************************/

.modalbox-container {
	display: none;
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modalbox {
	display: block;
	background: white;
	position: relative;
	height: 100%;
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modalbox-header {
	display: block;
	width: 100%;
	height: 89px;
	background-color: #eee;
	border-bottom: 1px solid silver;
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

.modalbox-header .ado-modal-close { 
	color: rgba(0,0,0, 0.25);
	position: absolute;
	top:20px; right:20px;
	cursor: pointer;
}

.modalbox-header .ado-modal-close:hover { color:#000; }

.modalbox-header .title {
	display: block;
	padding: 20px 20px 10px;
	font-size: 20px;
	font-weight: 600;
	font-family: 'arial';
	color: #006699;
	letter-spacing: -1px;
}

.modalbox-header .subtitle {
	display: block;
	padding: 0 20px 10px;
	font-size: 16px;
	font-weight: 500;
	color: #404040;
	letter-spacing: -1px;
}

.modalbox-header .modal-infotex {
	display: block;
	padding: 0 20px 10px;
	font-size: 12px;
	font-weight: 300;
	color: black;
	max-width: 360px;
}

.modalbox-content-container {
	display: block;
	width: 100%;
	position: absolute;
	top: 90px; bottom: 65px;
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modalbox-content {
	display: block;
	padding: 20px;
	overflow: auto;
	height: 100%;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modalbox-topbar {
	display: block;
	position: absolute;
	top:0; left:0; right:0;
	width: 100%; 
	height: 34px;
	box-sizing: border-box;
	background: rgba(240,240,240,.9);
	padding: 5px 20px;
	border-bottom: 1px solid #ddd;
}

.modalbox-topbar + .modalbox-content  {
	padding-top: 34px;
}

.modalbox-content p {
	display: block;
	padding: 0 0 10px 0;
}

.modalbox-footer {
	display: block;
	width: 100%;
	background-color: #eee;
	border-top: 1px solid silver;
	position: absolute;
	height: 65px;
	bottom: 0;
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modalbox-actions {
	display: block;
	text-align: right;
	padding: 20px 20px 10px;
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modalbox-actions .cancel {
	float: left;
}

.modal-fieldset {
	display: block;
	padding: 10px 20px;
	background: #f2f2f2;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.modal-infotex {
	position: absolute;
	right: 0;
	top: 30px;
	z-index: 1000;
}


/** modal containers **************************************/

.modal-300 .modalbox-content {
	width: 300px;
}

.modal-500 .modalbox-content {
	width: 500px;
}

.modal-750 .modalbox-content {
	width: 750px;
}

.modal-1000 .modalbox-content {
	width: 1000px;
}
	

/** modal form elements **************************************/

.modalbox-content form {
	margin: 0 auto;
}

.modal-input-container {
	border: 1px solid silver;
	padding: 2px 5px;
	margin-bottom: 20px;
}

.modal-input-container input[type=text] {
	outline: none;
	font-size: 13px;
	font-family: arial;
	width: 100%;
	line-height: 18px;
	height: 18px;
    margin: 0; 
    padding: 0; 
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.modal-input-container textarea {
	outline: none;
	font-size: 12px;
	font-family: arial;
	width: 100%;
	line-height: 16px;
    margin: 0; 
    padding: 0; 
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/** modal file uploader **************************************/

#upload_files {
	border: 2px solid #006699;
}

.file-row {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	float: left;
	background-color: #f3f3f3;
	border: 1px solid transparent;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

.file-title {
	display: block;
	float: left;
	width: 64%;
	padding: 2%;
}

.file-title input[type=text] {
	display: block;
	width: 98%;
	border: 1px solid silver;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	height: 24px;
	line-height: 24px;
	padding: 2px 4px;
	font-size: 12px;
	font: normal 12px arial;
	font-weight: 300;
	color: black;
	outline: none;	
}

.file-actions {
	display: block;
	float: left;
	width: 28%;
	padding: 2%;
}

.button.show-file,
.button.remove-file {
	display: none;
}

.button.show-file.active,
.button.remove-file.active {
	display: inline-block;
}

.error {
	color: red !important;
	border-color: red !important;
}

.btn-ajax-upload {
	visibility: hidden;
}

.ideabox {
	width: 800px;
}

.ideabox  label {
	text-align: right;
	width: 80px !important;
	min-width: 80px !important;
}

.ideabox .idea-content input[type=text] {
	width: 600px;
}

.ideabox .idea-content textarea {
	width: 600px;
}

.ideabox .files {
	width: 620px!important;
}

.ideabox .file-placeholder {
	display: block;
	float: left;
	width: 33%;
}

.ideabox .preview {
	width: 80px;
	float: left;
}

.ideabox .file-info {
	display: block;
	margin-left: 100px;
}

.ideabox small {
	color: gray;
}

