/*********************************************************
	
	Navigation Stylesheet

	MediaparX AG
	Admir Serifi (admir.serifi@mediaparx.com)
	2012-06-26

*********************************************************/


	ul.navigation,
	ul.navigation  > ul {
		list-style-type: none;
		list-style: none;
	}

	.usermenu ul.navigation {
		display: block;
		height: 60px;
	}

	.usermenu .navigation li {
		float: left;
		display: block;
		height: 18px;
		padding: 21px 20px;
		border-left: 1px solid #444;
	}

	.usermenu .navigation a {
		float: left;
		display: block;
	}

	.usermenu .navigation li:first-child {
		border: 0;
	}
	
	.usermenu a {
		color: gray;
	}
	 
	.usermenu .icon {
		float: left;
	}
	
	.usermenu .label {
		float: left;
		height: 18px;
		line-height: 18px;
		font-size: .85em;
		color: gray;
		padding-left: 5px;
	}
	
	.usermenu a:hover .icon {
		background-image: url(/public/css/images/gui-colour.png);
	}
	
	.usermenu a:hover,
	.usermenu a:hover .label {
		color: white;
	}

/******************************************************************
 	Navigation Colors
 ******************************************************************/

	.menu {
		margin-bottom: 10px;
	}

	.menu.navigation a {
		display: block;
		cursor: pointer;
		color: lightSteelBlue;
	}

	.menu.navigation a:hover,
	.menu.navigation a.active {
		color: white;
	}

	.menu.navigation ul {
		border-color: #6183A5;
	}

/******************************************************************
 	First Navigation Level
 ******************************************************************/

	.menu.navigation ul {
		display: block;
		width: 100%;
		border-style: solid;
		border-width: 0 0 1px;
	}

	.menu.navigation li {
		display: block;
	}

	.menu.navigation li a {
		background: url(/public/themes/default/images/nav.jpg) no-repeat left top;
	}

	.menu.navigation li a.active,
	.menu.navigation li a:hover {
		background-position: 0 -38px;
	}

	.menu.navigation li b {
		min-height: 38px;
		line-height: 38px;
		padding-left: 20px;
		font-size: .85em;
	}


/******************************************************************
 	Second Navigation Level
 ******************************************************************/

	.menu.navigation ul ul {
		border: 0;
	}

	.menu.navigation li ul {
		background: url(/public/themes/default/images/subnav.jpg) repeat-y top;
	}

	.menu.navigation li li a {
		display: block;
		background: none;
	}

	.menu.navigation li li b {
		display: block;
		font-size: .75em;
		font-weight: 700;
		min-height: 28px;
		line-height: 28px;
	}

	.menu.navigation li li:first-child a,
	.menu.navigation li li:first-child a:hover {
		background: url(/public/themes/default/images/subnav_shadow.jpg) no-repeat top left;
		padding-top: 5px;
	}

	.menu.navigation li li:last-child {
		padding-bottom: 5px;
	}

/******************************************************************
 	Third and greater Navigation Levels
 ******************************************************************/

	.menu.navigation li li li {
		padding-left: 20px;
	}

	.menu.navigation li li li a {
		display: block;
		background: none !important;
		padding-top: 0 !important;
	}

	.menu.navigation li li li b {
		display: block;
		font-size: .775em;
		font-weight: 500;
		line-height: 20px;
	}

	.menu.navigation li li li:first-child a,
	.menu.navigation li li li:first-child a:hover {
		background: none;
		padding-top: 0;
	}

	.menu.navigation li li li:last-child {
		padding-bottom: 0;
	}


/******************************************************************
 	Tab Navigations
 ******************************************************************/

	.tabs {
		width: 100%;
		height: 42px;
		display: block;
		margin-bottom: 20px;
		white-space: nowrap;
	}
	
	.tabs ul  {
		width: 100%;
		display: block;
		list-style-type: none;
		list-style: none;
		background: url('/public/themes/default/images/dot.gray.jpg') repeat-x bottom;
	}
	
	.tabs li {
		display: inline-block;
		*display: inline;
		zoom: 1;
		list-style-type: none;
		list-style: none;
		margin-right: 2px;
	}

	.tabs li a {
		display: block;
		height: 40px;
		line-height: 40px;
		padding: 0 20px;
		border-style: solid;
		border-color: silver;
		border-width: 1px 1px 0 1px;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		font-size: 13px;
		background-color: white;
	}

	.tabs li:first-child a {
		border-left-width: 1px;
	}

	.tabs li a:hover {
		background: #e5f0fa;
	}

	.tabs li a.active {
		background-color: #f4f4f4;
		padding-bottom: 1px;
		color: black;
		cursor: default;
	}
	
	.ie7 .tabs li a {
		margin-bottom: 1px;
		padding-bottom: 0:
	}
	
	.ie7 .tabs li a.active { 
		margin-bottom: 0;
	}
	
	
/******************************************************************
 	Tabed Navigations
 ******************************************************************/

	ul.tabbed {
		float: left;
		width: 100%;
		list-style: none;
		border-style: solid;
		border-color: silver;
		border-width: 0 0 1px 0;
		margin-top: 20px;
		height: 40px;
		padding-right: 1px;
	}
	
	ul.tabbed li {
		list-style: none;
		float: left;
		display: block;
		border-style: solid;
		border-color: silver;
		border-width: 1px 1px 0 1px;
		margin-right: 5px;
	}
	
	ul.tabbed li a {
		float: left;
		display: block;
		height: 39px;
		line-height: 39px;
		padding: 0 20px;
		font-size: 12px;
		font-weight: 700;
		background: white;
	}
	
	ul.tabbed li a.selected {
		height: 40px;
		line-height: 40px;
		color: black;
	}
	
	.tabbed-content {
		float: left;
		display: block;
		width: 100%;
		background-color: white;
		border-style: solid;
		border-color: silver;
		border-width: 0 1px 1px 1px;
	}
	
	.tabbed-content .content {
		padding: 20px;
	}	
	
	.tabbed-content .tab-content.selected {	
		display: block;
	}
	