/*
	Reset Stylesheet
	
	MediaparX AG
	Admir Serifi (admir.serifi@mediaparx.com)
	2012-06-26
	
*********************************************************/

	* {
	  margin: 0;
	  padding: 0;
	  border: 0;
	}
	
	body { 
		width: 100%;
	}
	
	a,
	a:hover {
		text-decoration: none;
	}
	
	h1,h2,h3,h4,h5,h6 {
		display: block;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 700;
	}
	
	h1 {
		font-size: 2.4em;
	}
	
	h2 {
		font-size: 2em;
	}
	
	h3 {
		font-size: 1.8em;
	}
	
	h4 {
		font-size: 1.4em;
	}
	
	h5 {
		font-size: 1.2em;
	}
	
	h6 {
		font-size: 1em;
	}
	
	p {
		display: block;
	}
	
	.clearfix {
		width: 100%;
		height: 0;
		display: none;
		clear: both;
	}
