

	body.login {
		background-color: #CFE6F8 !important;
	}
	
	.login .pagetop-container {
		background: #AAD6F3;
	}

	.login .pagecontent {
		background: #AAD6F3 url('/public/themes/default/images/intro.jpg') repeat-x bottom;
		display: block;
		min-height: 500px;
	}
	
	.login .pagetop {
		background: #AAD6F3;
	}
	
	.login .pageleft {
		margin: 0;
	}
	
	.login .pagecontent {
		margin: 0 0 0 230px;
	}
	
	.login .buttons-container {
		margin-top: 10px;
		float: left !important;
		width: 270px !important;
		text-align: right;
	}

	.welcome {
		margin-top: 40px;
		padding: 20px;
	}
	
	.welcome .-content {
		display: block;
		color: white;
		font-weight: 500;
		font-size: .825em;
	}
	
	.welcome a {
		display: block;
		margin-top: 60px;
		color: #fffccc !important;
		text-decoration: underline;
		font-weight: 700;
		font-size: .825em;
	}
	
	.welcome a:hover {
		color: #AAD6F3 !important;
	}

	.activity {
		display: block;
		position: relative;
		top: 100px;
		left: 20px;
		width:183px;
		height: 64px;	
		text-align:center;
		background: url(/public/themes/default/images/monitor.jpg) no-repeat;
	}
	
	.activity p {
		display: block;
		color: #aad5f3;
		text-align: center;
		font-size: .75em;
		padding: 10px 0;
	}
	
	#loginform {
		display: block;
		width: 280px; 
		min-width: 280px !important; 
		margin: 0 auto; 
	}
		
	.login form.default input[type=text],
	.login form.default input[type=password] {
		width: 240px !important;
		height: 40px !important;
		padding: 5px 10px;
		border: 5px solid #cbe6f7;
		font-size: 16px;
		height: 30px;
		color: #3b6ea8;
		background-color: white;
		border-radius: 0.5em;
		-webkit-border-radius: 0.5em;
		-moz-border-radius: 0.5em;
	}
	
	.ie form.default input[type=text],
	.ie form.default input[type=password] {
		line-height: 40px !important;
	}
	
	.login form.default input.onFocus {
		border-color: #8cb5e3 !important;
	}
	
	.login form.default input.onBlur {
		border-color: #99b4c5 !important;
		background-color: #d9edfa !important;
	}
	
	
	.login form.default input.onError {
		border-color: #f69680 !important;
	}
	
	.login form.default .-label {
		display: block;
		font-size: 12px;
		color: #2a6e9c;
		padding: 0;
		background: transparent !important;
	}
	