/*
	
	Table Stylesheet

	MediaparX AG
	Admir Serifi (admir.serifi@mediaparx.com)
	2012-06-26

	- use .listing to zebra-strip your table
	- add .reverse-zebra to reverse the order of the stripes
	- add .light to your table to make some styles a bit less "heavy"
	- add .strong to a 

*********************************************************/

	table.default {
		border: 0;
		border-collapse: collapse; 
		width: 100%;
	}

	table.default th {
		text-align: left;
		border-style: solid;
		border-color: gray;
		border-width: 0;
		background: #7091a9;
		background: -moz-linear-gradient(top, #7091a9 0%, #07243d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7091a9), color-stop(100%,#07243d));
		background: -webkit-linear-gradient(top, #7091a9 0%,#07243d 100%);
		background: -o-linear-gradient(top, #7091a9 0%,#07243d 100%);
		background: -ms-linear-gradient(top, #7091a9 0%,#07243d 100%);
		background: linear-gradient(top, #7091a9 0%,#07243d 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7091a9', endColorstr='#07243d',GradientType=0 );
	}

	table.default tr th:first-child {
		border-left: 1px solid #7091a9;
	}

	table.default tr th:last-child {
		border-right: 1px solid #7091a9;
	}

	table.default th strong {
		display: block;
		color: white;
		font-variant: small-caps;
		font-size: .8em;
		text-align: left;
		font-weight: 400;
		height: 20px;
		line-height: 20px;
		margin: 10px;
	}
	
	table.default th.number,
	table.default th.number strong {
		text-align: right !important;
	}	

	table.default th.text-center,
	table.default td.text-center {
		text-align: center !important;
	}

	table.default thead td {
		padding: 0px;
		text-align: left;
		background: white;
		border-style: solid;
		background-color: white;
		border-color: silver;
	}



	table.default td {
		padding: 10px;
		color: black;
		vertical-align: top;
		border-style: solid;
		border-color: silver;
		border-right-width: 1px;
		font-size: .8em;
	}
	
	table.tooltip {
		table-layout: auto;
		min-width: 320px;
	}
	
	table.tooltip td {
		padding: 5px;
	}
	
	table.tooltip td {
		text-align: left !important;
	}

	table.default td:first-child {
		border-left-width: 1px;
	}
	
	table.default tbody tr:first-child td {
		border-top-width: 1px;
	}
	
	table.default tbody tr:last-child td {
		border-bottom-width: 1px;
	}


	table.default tfoot td {
		padding: 10px;
		color: gray;
		border-width: 0;
		font-size: .75em;
	}

	table.default tfoot td:first-child {
		border-left-width: 0;
	}
	
	table.default th.-numbers,
	table.default th.-numbers strong  {
		text-align: right;
	}

	table.default .toggle {
		padding-left: 20px;
		background-image: url('/public/images/arrow_black.png');
		background-position: 0px -56px;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	
	table.default .toggle.closed {
		background-position: 0px -19px;
	}

	table.default tbody .-over {
		background-color: #c6d6e0 !important;
	}

	table.default tbody .-odd,
	table.default tbody tr:nth-child(odd) {
		background-color: white;
	}

	table.default tbody .-even,
	table.default tbody tr:nth-child(even) {
		background-color: #eef3f6;
	}

	table.default .sort {
		cursor: pointer;
		background-image: url(/public/themes/default/images/sort.png);
		background-repeat: no-repeat;
		background-position: right top;
		padding-right: 10px;
		margin-right: 5px;
	}

	table.default .sort:hover {
		background-image: url(/public/themes/default/images/sort-over.png);
		color: yellow;
	}

	table.default .asc {
		background-position: right -20px;
	}

	table.default .desc {
		background-position: right -40px;
	}
	
	table .number {
		text-align: right !important;
	}

	table.default .-emptybox {
		padding: 50px;
		font-size: 2em;
		color: gray;
		font-weight: bold;
		text-align: center;
		dispay: block;
		background: white;
		border-bottom-width: 1px;
	}

	table.default .-tfoot {
		width: 100%;
		display: block;
		float: left;
		padding: 10px 0 20px;
		color: gray;
	}

	.ie7 table.default .-tfoot {
		width: 100%;
		margin-left: 0;
	}

	table.default .table-index {
		float: left;
		display: block;
		padding-right: 10px;
	}

	table.default ul.table-controls {
		float: left;
		display: block;
		list-style-type: none;
	}

	table.default .table-controls li,
	table.default .table-controls b {
		float: left;
		list-style: none;
		list-style-type: none;
		display: block;
		cursor: pointer;
		margin-left: 5px;
		color: gray;
		border: 1px solid silver;
		padding: 3px 6px;
		font-weight: 500;
		background: white;
		background: -moz-linear-gradient(top, #ffffff 0%, #dedede 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dedede));
		background: -webkit-linear-gradient(top, #ffffff 0%,#dedede 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#dedede 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#dedede 100%);
		background: linear-gradient(top, #ffffff 0%,#dedede 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
	}

	table.default .table-controls li:hover,
	table.default .table-controls b:hover  {
		color: black;
		background: white;
	}

	table.default .table-controls li.active,
	table.default .table-controls b.active  {
		background: #848484;
		color: white;
		border-color: #666666;
		filter: none;
	}
	
	table.default input[type=text], 
	form.default .default input[type=text]  {
		border: 1px solid silver;
		padding: 1px 5px;
		line-height: 16px;
		font-size: 12px;
		font-family: arial;
		height: 16px;
		outline: none;
	}

	table.default textarea {
		border: 1px solid silver;
		padding: 1px 5px;
		line-height: 16px;
		font-size: 12px;
		font-family: arial;
		outline: none;
	}
	

	tr.strong td,
	td.strong {
		font-weight: bold;
	}

	tr.no-bg td,
	td.no-bg {
		background-color: transparent !important;
	}

	table.listing {
		border-spacing: 0;
		border: 0;
		width: 100%;
	}
	
	.ie7 table.listing {
		border-collapse: collapse;
	}
	
	table.listing th {
		text-align: left;
		background-color: #ccdae8;
		padding: 5px 10px;
		border: 0;
	}

	table.listing.light th {
		font-weight: normal;
	}

	table.listing td {
		padding: 5px 10px;
		color: black;
		vertical-align: top;
		font-size: 12px;
	}
	
	table.listing tbody tr:nth-child(odd) td {
		background-color: #fff;
	}

	table.listing tbody tr.-odd td {
		background-color: #fff !important;
	}

	table.listing tbody tr:nth-child(even) td {
		background-color: #f0f0f0;
	}

	table.listing tbody tr.-even td {
		background-color: #f0f0f0 !important;
	}

	/**
	 * Use .reverse-zebra to turn the stripes around
	 */
	table.listing.reverse-zebra tbody tr.-odd td,
	table.listing.reverse-zebra tbody tr:nth-child(odd) td {
		background-color: #f0f0f0;
	}

	table.listing.reverse-zebra tbody tr.-even td,
	table.listing.reverse-zebra tbody tr:nth-child(even) td {
		background-color: #fff;
	}

	table.spreadsheet {
		border-spacing: 0;
		border: 1px solid #ccc;;
		width: 100%;
	}
	
	.ie7 table.spreadsheet {
		border-collapse: collapse;
	}
	
	table.spreadsheet th {
		text-align: left;
		background-color: #ccc;
		color: #404040;
		padding: 10px;
		border: 0;
		font-weight: normal;
		font-size: 12px;
	}

	table.spreadsheet td {
		padding: 10px;
		color: black;
		vertical-align: top;
		font-size: 12px;
	}
	
	table.spreadsheet tbody .-odd,
	table.spreadsheet tbody tr:nth-child(odd) td {
		background-color: white;
	}

	table.spreadsheet tbody .-even,
	table.spreadsheet tbody tr:nth-child(even) td {
		background-color: #eee;
	}

	/**
	 * Use .reverse-zebra to turn the stripes around
	 */
	table.spreadsheet.reverse-zebra tbody .-odd,
	table.spreadsheet.reverse-zebra tbody tr:nth-child(odd) td {
		background-color: #f2f2f2;
	}

	table.spreadsheet.reverse-zebra tbody .-even,
	table.spreadsheet.reverse-zebra tbody tr:nth-child(even) td {
		background-color: white;
	}


	table.default tr.row-subtable td {
		padding: 0;
	}

	table.subtable {
		border-spacing: 0;
		border: 0;
		width: 100%;
		border-collapse: collapse;
	}

	table.subtable thead th,
	table.subtable thead td {
		color: black !important;
		background: #d4d4d4 !important;
		border: 1px solid silver;
		filter: none;
	}

	table.subtable tr th:first-child {
		border-left: 0 !important;
	}

	table.subtable tr th:last-child {
		border-right: 0 !important;
	}

	table.subtable th strong {
		color: black;
		font-variant: normal;
		font-size: 12px;
		text-align: left;
		font-weight: 600;
		height: 20px;
		line-height: 20px;
		margin: 5px 10px;
	}

	table.subtable td {
		color: black;
		font-size: 12px;
		background: white;
		padding: 10px !important;
		color: black;
		vertical-align: top;
		border: 1px solid silver;
	}

	table.subtable tr td:first-child {
		border-left: 0 !important;
	}

	table.subtable tr td:last-child {
		border-right: 0 !important;
	}

		.list-loader {
		display: block;
	}

	.list-loader.list-auto { width: auto; table-layout:auto }
	.list-loader.list-500 { width: 500px }
	.list-loader.list-600 { width: 600px }
	.list-loader.list-700 { width: 700px }
	.list-loader.list-800 { width: 800px }
	.list-loader.list-900 { width: 900px }
	.list-loader.list-1000 { width: 1000px }
	.list-loader.list-1200 { width: 1200px }
	.list-loader.list-1400 { width: 1400px }
	.list-loader.list-1600 { width: 1600px }
	.list-loader.list-1800 { width: 1800px }
	.list-loader.list-2000 { width: 2000px }

	.list-big tbody td { line-height: 32px;}

	table span.description {
		display: block;
		font-size: 12px;
		color: gray;
	}

