<ul class="breadcrumb">
{% for item in breadcrumbs %}
	<li class="{{ item.class }}">
		{% if item.url %}
			<a href="{{ item.url }}">{{ item.title|raw }}</a>
		{% else %}
		    {{ item.title|raw }}
		{% endif %}
	</li>
{% endfor %}
</ul>