<div class="owl">
	<div class="owl-header">
		{% if title %}
		<h3 class="title">{{ title }}</h3>
		{% endif %}
		{% if topcontrols %}
		<div class="top-controls">
			{% for control in topcontrols %}
				<span class="control fa {{ control.icon }} {{ control.name }}"></span>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	<div id="{{ id }}" class="owl-carousel {{ class }}" {{ htmlAttributes(data) }} >
		{% for item in items %}
			<div class="item">
				{{ item|raw }}
			</div>
		{% endfor %}
	</div>
</div>