{% macro input(name, value, type, size) %}
    <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
{% endmacro %}

{% macro textarea(name, value, rows, cols) %}
    <textarea name="{{ name }}" rows="{{ rows|default(10) }}" cols="{{ cols|default(40) }}">{{ value|e }}</textarea>
{% endmacro %}

{% macro select(attributes, data) %}
    <select {{ htmlAttributes(attributes) }} >
    	{% if data %}
    		{% for option in data %}
				<option value="{{option.value|raw}}" {{option.selected}} >{{option.caption|raw}}</option>
			{% endfor %}
    	{% endif %}
    </select>
{% endmacro %}