
{% macro default(title, properties, attributes, icon) %}
	<a class="btn btn-default {{ properties|join(' ') }}" {{ htmlAttributes(attributes) }}>
    	{% if icon.left %}{{ icon.left }}&nbsp;{% endif %}
		{{ title|raw }} 
		{% if icon.right %}&nbsp;{{ icon.right }}{% endif %}
	</a>
{% endmacro %}

{% macro primary(title, properties, attributes, icon) %}
	<a class="btn btn-primary {{ properties|join(' ') }}" {{ htmlAttributes(attributes) }}>
    	{% if icon.left %}{{ icon.left }}&nbsp;{% endif %}
		{{ title|raw }} 
		{% if icon.right %}&nbsp;{{ icon.right }}{% endif %}
	</a>
{% endmacro %}

{% macro success(title, properties, attributes, icon) %}
	<a class="btn btn-success {{ properties|join(' ') }}" {{ htmlAttributes(attributes) }}>
		{% if icon.left %}{{ icon.left }}&nbsp;{% endif %}
		{{ title|raw }} 
		{% if icon.right %}&nbsp;{{ icon.right }}{% endif %}
	</a>
{% endmacro %}

{% macro info(title, properties, attributes, icon) %}
	<a class="btn btn-info {{ properties|join(' ') }}" {{ htmlAttributes(attributes) }}>
		{% if icon.left %}{{ icon.left }}&nbsp;{% endif %}
		{{ title|raw }} 
		{% if icon.right %}&nbsp;{{ icon.right }}{% endif %}
	</a>
{% endmacro %}

{% macro warning(title, properties, attributes, icon) %}
	<a class="btn btn-warning {{ properties|join(' ') }}" {{ htmlAttributes(attributes) }}>
		{% if icon.left %}{{ icon.left }}&nbsp;{% endif %}
		{{ title|raw }} 
		{% if icon.right %}&nbsp;{{ icon.right }}{% endif %}
	</a>
{% endmacro %}

{% macro danger(title, properties, attributes, icon) %}
	<a class="btn btn-warning {{ properties|join(' ') }}" {{ htmlAttributes(attributes) }}>
		{% if icon.left %}{{ icon.left }}&nbsp;{% endif %}
		{{ title|raw }} 
		{% if icon.right %}&nbsp;{{ icon.right }}{% endif %}
	</a>
{% endmacro %}

{% macro link(title, properties, attributes, icon) %}
	<a class="btn btn-warning {{ properties|join(' ') }}" {{ htmlAttributes(attributes) }}>
		{% if icon.left %}{{ icon.left }}&nbsp;{% endif %}
		{{ title|raw }} 
		{% if icon.right %}&nbsp;{{ icon.right }}{% endif %}
	</a>
{% endmacro %}


{% macro group(buttons, styles) %}
	<div class="btn-group {{ styles|join(' ') }}">
		{% for button in buttons %}
			_self.button(button)
		{% endfor %}
	</div>
{% endmacro %}


{% macro dropdown(button, items) %}
<div class="btn-group" >
	<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" {{ htmlAttributes(button.attributes) }}>
		{{ button.title }}
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
	{% if items %}
		{% for item in items %}
			<li class="{{ item.class}}">
				{% if item.link %}
	        		<a href="{{ item.link }}">{{ item.title }}</a>
				{% else %}
					<span>{{ item.title }}</span>
				{% endif %}
			</li>
		{% endfor %}
	{% endif %}
	</ul>
</div>
{% endmacro %}