{% macro default(name, properties) %}
	<i class="am-icon fa fa-{{ name }} {{ properties|join(' ') }}"></i>
{% endmacro %}

{% macro stack(back, front, styles) %}
	<span class="fa-stack fa-lg">
	  <i class="fa fa-{{ back }} fa-stack-2x"></i>
	  <i class="fa fa-{{ front }} fa-stack-1x {{ styles|join(' ') }}"></i>
	</span>
{% endmacro %}