{% macro recursive(navigation) %}

	{% import 'macros.icon.twig' as icon %}
	
	<li {{ htmlAttributes(navigation.attributes) }} >
		
		{% if navigation.link %}
		<a {{ htmlAttributes(navigation.link) }} >
		{% endif %}
		
		{% if navigation.iconleft %}
			{{ icon.default(navigation.iconleft) }}
		{% endif %}
			
		{{ navigation.title|raw }}
			
		{% if navigation.iconright %}
			{{ icon.default(navigation.iconright) }}
		{% endif %}
		
		{% if navigation.link %}
		</a>
		{% endif %}

        {% if navigation.children|length %}
            <ul>
                {% for child in navigation.children %}
                    {{ _self.recursive(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}