{% import 'macros.nav.twig' as nav %}

{% set level=0 %}

{% if navigations %}
{% spaceless %}
<nav class="navigation {{ class }}">
	<ul class="level-{{level}}" {{ htmlAttributes(attributes) }} >
		{% for navigation in navigations %}
			{{ nav.recursive(navigation, level+1) }}
		{% endfor %}
	</ul>
</nav>
{% endspaceless %}
{% endif %}