<div class="panel panel-default" {{ htmlAttributes(attributes) }}>
	{% if header %}
	<div class="panel-heading">
		<h3 class="panel-title">{{ header|raw }}</h3>
	</div>
	{% endif %}
	{% if body %}
	<div class="panel-body">
		{{ body|raw }}
	</div>
	{% endif %}
	{% if footer %}
	<div class="panel-footer">
		{{ footer|raw }}
	</div>
	{% endif %}
</div>