<table {{ htmlAttributes(attributes) }} >
	
	<thead>
	{% if header %}
		<tr>
			{% for col in header %}
				<th {{ col.attributes ? htmlAttributes(col.attributes) : '' }} >{{ col.data ? col.data|raw : col|raw }}</th>
			{% endfor %}
		</tr>
	{% endif %}	
	</thead>

	<tbody>
	{% if body %}
		{% for row in body %}
			<tr>
				{% for col in row %}
					<td {{ col.attributes ? htmlAttributes(col.attributes) : '' }} >{{ col.data ? col.data|raw : col|raw }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	{% endif %}
	</tbody>

	<tfoot>
	{% if footer %}
		<tr>
			{% for col in footer %}
				<th {{ col.attributes ? htmlAttributes(col.attributes) : '' }} >{{ col.data ? col.data|raw : col|raw }}</th>
			{% endfor %}
		</tr>
	{% endif %}
	</tfoot>

</table>