.modalbutton
{
	border:0px;
	background-color:#FFFFFF; 
	color: #006699;
	text-decoration: none;
	font-weight: bold;
	padding:0px;
	margin:0px;
	padding-top:20px;
	text-align:left;
	background: #F6F6FF;

}

.modalbutton:focus {
	background: #F6F6FF;
	border:0px;
	font-weight: bold;
}

.modalbuttonw
{
	border:0px;
	background-color:#FFFFFF; 
	color: #006699;
	text-decoration: none;
	font-weight: bold;
	padding:0px;
	margin:0px;
	padding-top:20px;
	text-align:left;
	background: #FFF;
}

.modalbuttonw:focus {
	background: #FFF;
	border:0px;
	font-weight: bold;
}


