body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
}



.toggler_pointer_off {
	display:none;
}

p, textarea {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
}

.tab{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	padding-bottom:4px;
	padding-top:4px;
	border-bottom: 1px solid #005F8F;
	border-top: 1px solid #005F8F;
}

.clear{ clear:both; font-size:0px; line-height:0px; height:0px; }


.text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
}

.message_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #000000;
}

.title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
    font-weight: bold;
	color: #006699;
}

.title_modal {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
    font-weight: bold;
	color: #006699;
}

.list_modal {
	padding-left:15px;
}

.section {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
    font-weight: bold;
	color: #000000;
}

.error {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    font-weight: bold;
	color: #FF0000;
}


.message {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    font-weight: bold;
	color: #006699;
}

.small {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #006699;
}

.button {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000000;
}

.action {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #000000;
}

.label {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -4px;
    line-height: 24px;
	color: #006699;
	white-space: nowrap;
}

.table_line {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -4px;
    line-height: 18px;
	color: #006699;
}

.value {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -4px;
    line-height: 24px;
	color: #006699;
}

.highlite_value {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -4px;
    line-height: 24px;
	color: #AD072B;
}

.highlite_value_bold {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -4px;
    line-height: 24px;
	color: #AD072B;
	font-weight:bold;
}


.list_header {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    font-weight: bold;
    margin-top: -4px;
    line-height: 18px;
	color: #FFFFFF;
    background: #006699;
}    

.list_footer {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    font-weight: bold;
    border-top:1px solid #000;
    line-height: 18px;
	color: #006699;
    background: #FFFFFF;
}    

.list_group {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    font-weight: bold;
    margin-top: -2px;
    line-height: 18px;
	color: #FFFFFF;
    background: #7FB2CC;
}

.list_text_odd {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -2px;
    line-height: 18px;
	color: #000000;
}

.list_text_even {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
    margin-top: -2px;
    line-height: 18px;
	color: #000000;
    background: #F6F6FF;
}

.bg_dark_odd {
	background: #f3f0f0;
}

.bg_dark_even {
	background: #ebebff;
}


a {
	color: #006699;
	text-decoration: none;
	font-weight: bold;
}

.tmp_a {
	color: #006699;
	text-decoration: none;
	border-bottom: 1px dashed #000000;
}

a:hover {
    color: #FF0000;
	text-decoration: none;
}

.textarea {
    overflow: auto;
	white-space:pre-wrap;
}

.stepcounter
{
	vertical-align:-25%;
	margin-right:4px;
	padding-right:4px;

}

.step_inactive
{
	color: #00000;
	text-decoration: none;
	padding-right:8px;
}

.step_active
{
	color: #006699;
	text-decoration: none;
	font-weight: bold;
	padding-right:8px;
}

tr.myDragClass td {
    color: yellow;
    background-color: black;
}

.table_tracking{width:600px;border-collapse: collapse;}
.tr_tracking {}
.td_tracking_nobr{vertical-align:top;white-space: nowrap;border-bottom: 1px solid #CCC;padding: 0 0.5em;}
.td_tracking{vertical-align:top;border-bottom: 1px solid #CCC;padding: 0 0.5em;}

.red {
	color: #FF0000;
}

.green {
	color: #008800;
}

.nyroModal {
	padding-left:15px;
}


.my_container {
		   color: orange;
		}
		 
.my_header {
   font-family: Arial;
   font-size: 16px;
   font-style: oblique;
   font-weight: bold;
   letter-spacing: 2px;
   background: #EEEEEE;
}
 
.my_frame {
   letter-spacing: 3px;
   font-size: 14px;
}
 
.my_footer {
   letter-spacing: 2px;
   background: #eee;
   color: #333;
}
 
.my_selected_header {
   background: #F6F6FF;
}

.img_helper {
	padding-left:4px;
	vertical-align:text-top;
}

.toggler {
	font-size:14px;
	cursor:pointer;
	margin-right:6px;
	color: #006699;
}

.toggler_pointer {
	cursor:pointer;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
    font-weight: bold;
	color: #000000;
}

td {
    font-weight: normal;
}

.checker {
	font-size:14px;
	cursor:pointer;
	margin-right:4px;
	margin-left:4px;
	color: #FFFFFF;
}

.sorterlink a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.sorterlink a:hover {
    color: #FF0000;
	text-decoration: none;
}

#orderFiles .show-gallery {
	display: block;
    cursor: pointer;
    float: right;
    margin: 3px 3px 0 0;
}

#orderFiles .show-gallery:hover {
	color: #FF0000;
}

 .af_ln_docs {
    cursor: pointer;
    margin: 3px 3px 0 0;
	color: #000000;
}

 .af_ln_docs:hover {
	color: #FF0000;
}

#btnDownloadAttachemnts {display: none;}


/*new tabs 2016*/

#tab2016_container {
	border-bottom: 1px solid #ccc;
}
#tab2016 {
	list-style: none;
	padding: 5px 0 4px 0;
	margin: 0 0 0 0px;
	font: 1.1em arial;
}
#tab2016 li {
	float:left;
	margin-top:6px;
}
#tab2016 li a {
	border: 1px solid #ccc;
	padding: 4px 6px;
	text-decoration: none;
	
	border-bottom: none;
	outline: none;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;

	font-weight: bold;
	background-color: #fff;
}
#tab2016 li a:hover {
	background-color: #dddddd;
	padding: 4px 6px;
	
}
#tab2016 li.active a {
	border-bottom: 1px solid #fff;
	
	background-color: #F6F6FF;
	padding: 4px 6px 5px 6px;
	border-bottom: none;
}
#tab2016 li.active a:hover {
	background-color: #eeeeee;
	padding: 4px 6px 5px 6px;
	border-bottom: none;
}
 
#tab2016 li a.data_ok {
	background-image: url(../pictures/data_ok.png);
	background-position: 5px;
	background-repeat: no-repeat;
	padding-left: 24px;
}


#tab2016 li a.data_not_ok {
	background-image: url(../pictures/data_not_ok.png);
	background-position: 5px;
	background-repeat: no-repeat;
	padding-left: 24px;
}


input, textarea, select {
	
    border: 1px solid #999; 
	background-color:#ffffff;
	font-weight:normal;
}

input:focus, textarea:focus, select:focus {
	background-color:#f3f3f5;
	color:#000000;
	font-weight:normal;
	border: 1px solid #999; 
}

.error_field {
	color:#ffffff;
	background-color:#AD072B;
	font-weight:normal;
	border-color: #ffffff; 
}

.upload_button {
    background-color: #428bca;
	border-color: #357ebd;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 4px;
}

.upload_button:hover {
    background-color: #3276b1;
}