
.pop.pop-active {
	position: relative;
	z-index: 101;
	background: white !important;
}

.pop-right {
	margin-left: 10px;
}

.pop-left {
	margin-right: 0px;
}

.button.pop.pop-active {
	filter: '';
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.pop.pop-active.pop-top {
	border-width: 0 1px 1px;
	border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
}

.pop.pop-active.pop-bottom {
	border-width: 1px 1px 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
}

.popover {
	display: none;
	position: absolute;
	background-color: white;
	padding: 10px;
	border: 1px solid silver;
	border-radius: 4px;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font: normal 12px sans-serif,arial;
	z-index: 100;
}

.popover.pop-bottom.pop-left {
	border-top-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
}

.popover.pop-bottom,
.popover.pop-bottom.pop-right {
	border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
}

.popover.pop-active {
	display: block;
}

.popover ul {
	display: block;
	list-style-type: none;
	color: black;
	font-size: 12px;
}

.popover li {
	display: block;
	list-style-type: none;
	margin-bottom: 10px;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #f3f3f3;
	border: 1px solid #e6e6e6;
}

.popover li li {
	border: 0;
	background-color: none;
	padding: 5px 10px;
}

.popover li li:first-child {
	margin-top: 10px;
}

.popover li:hover,
.popover li.pop-active {
	background-color: #eeeeee;	
	border-color: silver;
}

.popover li:last-child {
	margin-bottom: 0;
}

.popover .toggle-title {
	display: block;
	font-weight: 600;
	cursor: pointer;
}

.popover .toggle-title:hover {
	color: mediumblue;
}

.popover .toggle-content {
	display: block;
	padding: 10px 0 0 10px;
}

.popover .poprow {
	display: block;
	padding-bottom: 10px;
}

.popover .poprow:last-child {
	padding-bottom: 0;	
}

.popover li a {
	display: block;
}

.popover .actions {
	display: block;
	padding: 10px 0 0;
	width: 100%;
}

.popover-content {
	padding: 10px !important;
}

.pop + .button,
.button + .pop {
	margin-left: 10px !important;
}
