/**
 * Default Stylesheet
 * Reset all style properties accordiing to Swatch CS guide
 * Use this sheet in each front page
 *
 * @version:	1.0
 * @author:		admir.serifi@mediaparx.com
 * @date:		2015-06-23	
 */

@font-face {
	font-family: "Swatch CT";
	src:url('/public/fonts/swatchCT.woff') format('woff'), 
		url('/public/fonts/swatchCT.otf') format('otf'), 
		url('/public/fonts/swatchCT.ttf') format('truetype'), 
		url('/public/fonts/swatchCT.svg') format('svg'),
		url('/public/fonts/swatchCT.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'swatchicons';
	src:url('/public/fonts/swatchicons.eot?-n1on9v');
	src:url('/public/fonts/swatchicons.eot?#iefix-n1on9v') format('embedded-opentype'), 
		url('/public/fonts/swatchicons.woff?-n1on9v') format('woff'), 
		url('/public/fonts/swatchicons.ttf?-n1on9v') format('truetype'), 
		url('/public/fonts/swatchicons.svg?-n1on9v#swatchicons') format('svg');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
	font-family: 'cookie';
	src:url('/public/fonts/Cookie-Regular.eot');
	src:url('/public/fonts/Cookie-Regular.woff') format('woff'), 
		url('/public/fonts/Cookie-Regular.ttf') format('truetype'), 
		url('/public/fonts/Cookie-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


a {
	color: #E2001A;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

p {
	font-family: "Swatch CT";
	font-weight: 500;
	vertical-align: baseline;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Swatch CT";
	font-weight: 500;
	vertical-align: baseline;
}


[role="button"] {
	cursor: pointer;
}

img {
	padding: 0;
}

img[src=""] {
	display: none !important;
}
