
@font-face {
	font-family: "Swatch CT";
	src:url('/public/fonts/swatchCT.woff') format('woff'), 
		url('/public/fonts/swatchCT.otf') format('otf'), 
		url('/public/fonts/swatchCT.ttf') format('truetype'), 
		url('/public/fonts/swatchCT.svg') format('svg'),
		url('/public/fonts/swatchCT.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'swatchicons';
	src:url('/public/fonts/swatchicons.eot?-n1on9v');
	src:url('/public/fonts/swatchicons.eot?#iefix-n1on9v') format('embedded-opentype'), 
		url('/public/fonts/swatchicons.woff?-n1on9v') format('woff'), 
		url('/public/fonts/swatchicons.ttf?-n1on9v') format('truetype'), 
		url('/public/fonts/swatchicons.svg?-n1on9v#swatchicons') format('svg');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
	font-family: 'cookie';
	src:url('/public/fonts/Cookie-Regular.eot');
	src:url('/public/fonts/Cookie-Regular.woff') format('woff'), 
		url('/public/fonts/Cookie-Regular.ttf') format('truetype'), 
		url('/public/fonts/Cookie-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  padding: 105px 0 0 0;
  background-color: #ffffff;
  font-family: 'Swatch CT';
}

[role="button"] {
	cursor: pointer;
}

img[src=""] {
	display: none !important;
}

.mce-panel {
	box-sizing: border-box !important;
}


/* TYPOGRAPHY ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

a {
	color: #E2001A;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

p {
	font-family: "Swatch CT";
	font-weight: 500;
	vertical-align: baseline;
}

.ie p {
	
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Swatch CT";
	font-weight: 500;
	vertical-align: baseline;
}

/* clearfix :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.clear-fix.fix-5:after { height: 5px }
.clear-fix.fix-10:after { height: 10px }
.clear-fix.fix-15:after { height: 15px }
.clear-fix.fix-20:after { height: 20px }
.clear-fix.fix-25:after { height: 25px }
.clear-fix.fix-30:after { height: 30px }
.clear-fix.fix-40:after { height: 40px }
.clear-fix.fix-50:after { height: 50px }
.clear-fix.fix-50:after { height: 60px }
.clear-fix.fix-50:after { height: 80px }
.clear-fix.fix-100:after { height: 100px }


/* LAYOUT ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: center;
}

.row + .row {
	margin-top: 15px;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.page-main {
	width: 100%;
	position: relative;
}

.page-main.page-tabbed {
	position: relative;
}

.page-content {
	display: block;
	position: relative;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
}

.page-header .page-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.has-sidebar .page-content {
	padding-left: 250px;
}

.page-sidebar {
	display: none;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto; 
	z-index: 1030;
	box-sizing: border-box;
}

.has-sidebar .page-sidebar {
	display: block;
}

.page-sidebar.sidebar-left {
	width: 235px;
	left: 0;
	top: 105px;
	height: 100%;
	background-color: #e1e1e1;
}

.brand-logo {
	width: 220px;
	height: 64px;
	overflow: hidden;
	line-height: 64px;
	margin-left: 15px;
	float: left;
	display: block;
	box-sizing: border-box;
}

.page-header {
	padding: 0;
}

.app-band {
	display: block;
	width: 100%;
	background-color: #e1e1e1;
}

.app-title {
	display: block;
	float: left;
	position: relative;
	width: 235px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding: 0 15px;
	font-size: 18px;
	box-sizing: border-box;
	font-weight: 400;
}

.app-title h4 {
	margin: 0;
	line-height: 40px;
	padding-right: 30px;
}


.user-menu {
	display: block;
	height: 64px;
	margin: 0;
}

.user-menu > a {
	color: #959595;
}

.user-menu > a:hover {
	color: #e2001A;
}

.collapse-side {
	color: white;
	display: none;
}



/* NAVIGATIONS :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.nav-tabs,
.nav-pills {
  position: relative;
}

.nav-tabs > li.tabdrop > a {
	margin-right: 0;
}

.navbar-fixed-top {
	background-color: white;
	margin: 0;
	border: 0;
	-webkit-box-shadow: 0 8px 6px -6px #858585;
}

.navbar-fixed-top a {
	text-decoration: none;
}

.navbar-main .dropdown > a {
	margin: 0;
	color: #959595;
}

.navbar-main .dropdown > a:hover {
	color: #000;
}

.navbar-main .dropdown-menu>.active>a, 
.navbar-main .dropdown-menu>.active>a:hover, 
.navbar-main .dropdown-menu>.active>a:focus {
	background-color: #e2001A;
}

.navbar-main {
	display: block;
	width: 100%;
	height: 65px;
}

.navbar-main .dropdown {
	height: 64px;
}

.navbar-main .dropdown-toggle {
	display: block;
	height: 64px;
	line-height: 64px;
	padding: 0 15px;
	text-align: center;
}

.navbar-main .dropdown-toggle strong {
	font-weight: 400;
}

.app-menu {
	display: block;
	float: left;
}



/* nav application ****************************************************************************************************/

ul.app-pages {
	display: block;
	width: auto;
	list-style: none;
	padding: 0;
	margin: 0 0 0 235px;
	height: 40px;
	position: relative;
}

ul.app-pages > li { 
	float: left;
	display: block;
	height: 40px;
	line-height: 40px;
	border-style: solid;
	border-color: transparent;
	border-width: 0; 
	position: relative;
}

ul.app-pages  > li.tabdrop {
	border-left-width: 1px !important;
} 

ul.app-pages > li > a { 
	display: block;
	position: relative;
	text-align: center;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	font-weight: 400;
	font-family: 'Swatch CT', arial;
}

ul.app-pages > li.has-submenu:hover a {
	background-color: #666;
	color: #ccc;
}

ul.app-pages > li.has-submenu:hover a:hover {
	color: #fff;
}


ul.app-pages > li.add-new-dash {
	
}

ul.app-pages  > li.add-new-dash > a {
	padding: 0 5px;
}


ul.app-pages ul.submenu {
	display: block;
	visibility: hidden;
	position: absolute;
	margin: 0;
	padding: 0;
	left:0; top: 40px;
	background-color: rgba(242,242,242,.9);
	z-index: 1000001;
}

ul.app-pages li:hover > ul.submenu  { 
	visibility: visible;
}

ul.app-pages ul.submenu li {
	display: block;
	min-width: 120px;
	margin: 0;
	padding: 0;
	line-height: 32px;
	border-top: 1px solid #888;
	border-bottom: 1px solid #444;
}

ul.app-pages ul.submenu li:first-child {
	border-top-width: 0;
}

ul.app-pages ul.submenu li a {
	display: block;
	white-space: nowrap;
	font-size: 12px;
	margin: 0;
	padding: 5px 15px;
	color: #959595;
	font-weight: 400;
	font-family: 'Swatch CT', arial;
}

ul.app-pages ul.submenu li a:hover {
	color: #454545;
}

ul.app-pages li.has-submenu:hover ul.submenu a:hover {
	color: #fff;
}

ul.app-pages li.has-submenu.active ul.submenu a.active {
	color: #fffccc;
}


/* nav sidebar ********************************************************************************************************/

ul.sidenav {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #fff;
}

ul.sidenav li {
	display: block;
	border-bottom: 1px solid #c1c1c1;
	border-top: 1px solid #fff;
}

ul.sidenav li a {
	display: block;
	padding: 8px 10px 8px 15px;
	font-weight: 400;
	font-size: 12px;
	background-color: transparent;
	color: #858585;
}

ul.sidenav li a:hover {
	color: #000;
}

.sidebar-toggle {
	visibility: hidden;
	position: absolute;
	right: 15px;
	top: 0;
	color: #959595;
}

.sidebar-toggle:hover { 
	color: #000;
}

.has-sidebar .sidebar-toggle { 
	visibility: visible; 
}


/* TABLES ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.table-xs { max-width: 677px; }
.table-sm { max-width: 991px; }
.table-lg { max-width: 1199px; }

.table-container {
	display: block;
}


.table-filters {
	display: block;
	margin-bottom: 10px;
}

.table-actions {
	display: block;
	margin-bottom: 10px;
}

.table-container thead th {
	background-color: #ededed;
	border-top: 1px solid #ddd !important;
	font-weight: 400;
}

.table-container thead th a {
	font-weight: 400;
	font-variant: small-caps;
	font-size: 15px;
}

.table-container tfoot td {
	color: gray;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #FAFAFA;
}

td.list_group {
	background-color: #DEEEF5 !important;
}


/* form ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


.form-container {
	display: block;
	box-sizing: border-box;
	margin: 0;
	max-width: 1200px;
}

.form-container fieldset {
	margin-bottom: 15px;
}

.form-container-xs { max-width: 678px; }
.form-container-sm { max-width: 991px; }


/* process steps :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.process-staps {
	width: 100%;
	height: 30px;
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
	border: 1px solid #eaeaea;
	overflow: hidden;
	display: inline-block;
	background-color: #f0f0f0;
	box-sizing: border-box;
}
	
.process-staps li {
	float: left;
	color: #ccc;
	line-height: 30px;
	padding: 0 10px 0 15px;
	font-size: 12px;
	text-align: center;
	position: relative;
}

.process-staps.steps-sm ul {
	height: 24px;
}

.process-staps.steps-sm li {
	line-height: 24px;
	font-size: 11px;
}

.process-staps.steps-xs ul {
	height: 20px;
}

.process-staps.steps-xs li {
	line-height: 20px;
	font-size: 10px;
}
	
.process-staps li + li {
	padding: 0 7px 0 28px;
}
	
.process-staps li:last-child {
	padding-right: 15px;
}
	
.process-staps .active {
	background-color: #82b548;
	color: #fff;
}
	
.process-staps li:after,
	.process-staps li:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	z-index: 5;
}
	
.process-staps li:after {
	border-left-color: #f0f0f0;
	border-width: 15px;
	top: 50%;
	margin-top: -15px;
}
	
.process-staps li:before {
	border-left-color: #ccc;
	border-width: 16px;
	top: 50%;
	margin-top: -16px;
}

.process-staps .active:after {
	border-left-color: #82b548;
}
	
.process-staps .active:before {
	border-left-color: #ffffff;
}

.process-staps li:last-child:before {display: none;}
.process-staps li:last-child:after {display: none;}



/* panel book ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.panel-box {
	margin: 15px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	position: relative;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.flex-container .panel-box {
	/*flex-grow: 1;*/
}

.panel-box .front {
	display: block;
	background-size: cover;
	position: relative;
	z-index: 900;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.panel-box.flip .front {
	z-index: 900;
	background: #333;
	box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.panel-box .back {
	display: block;
	position: absolute;
	top:0; bottom:0;
	left:0; right:0;
	z-index: 800;
	width: 100%;
	overflow: none;
	box-sizing: border-box;
	padding: 15px;
	background: rgba(0,0,0, .75);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-179deg);
	transform: rotateY(-179deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.panel-box.flip .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
	box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.panel-box .back .dl-horizontal > * {
	font-size: 12px;
}

.panel-box .panel {
	border: 1px solid #ddd;
}

.panel-box .panel-heading {
	width: 100%;
	min-height: 80px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: rgba(255,255,255,0.2) transparent;
	background-color: rgba(0,0,0,.4);
	padding-top: 20px;
	border: 0;
}

.panel-box .panel-heading > * {
	font-family: 'Oswald';
	margin: 0;
	padding: 0;
	color: #fff;
	text-shadow: 1px 1px 5px #000;
}

.panel-box .panel-body,
.panel-box .panel-footer {
	width: 100%;
	position: relative;
	background-color: rgba(0,0,0,.5);
	box-sizing: border-box;
	border: 0;
}

.panel-box .panel-footer {
	position: absolute;
	bottom: 0;
}

.panel-box .panel-body *,
.panel-box .panel-footer * {
	text-shadow: 1px 1px #000;
	color: #e0e0e0;
}

.panel-box .panel-body a,
.panel-box .panel-footer a {
	color: #E2DD95;
}

.panel-box .panel-body a:hover,
.panel-box .panel-footer a:hover {
	color: #fff;
}

.panel-box mark {
	display: inline-block;
	position: absolute;
	font-size: 12px;
	color: rgba(255,255,255, .75);
	padding: 2px 5px;
	margin: 0;
	background: rgba(0,0,0,.25);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.panel-box .mark-top-left { top:15px; left:15px; }
.panel-box .mark-top-right { top:15px; right:15px; }
.panel-box .mark-bottom-left { bottom:15px; left:15px; }
.panel-box .mark-bottom-right { bottom:15px; right:15px; }

.panel-box .action {
	padding: 0;
	width: 40px;
	height: 40px;
	line-height: 50px;
	background: rgba(0,0,0, .25);
	color: rgba(255,255,255, .75);
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	cursor: pointer; 
	-webkit-transition: opacity 1s linear; 
}

.panel-box .action > * { line-height: 40px; }
.panel-box:hover .action > * { color: rgba(0,0,0,.5) }

/*
.panel-box .action.active { background: rgba(0,110,255,.75);}
.panel-box .action.active > * { color: #fff; }
*/

.panel-box:hover .action {
	background: rgba(255,255,255,1);
	transition: background 0.2s ease, padding 0.8s linear;
}

.panel-box .back-toggle { 
	display: none; 
	display: block; 
	padding: 3px 5px; 
	background: rgba(255,255,255, 0.2); 
	font-size: 11px; 
	color: #fff;
	opacity: 0; 
	position: absolute; 
	bottom: 0; right: 0;
	cursor: pointer; 
	z-index: 1001;
	-webkit-transition: opacity .3s linear; 
}

.panel-box:hover .back-toggle { opacity: .7;  }
.panel-box:hover .back-toggle:hover { opacity: .9; }



/* articles */
.articles .panel-box { width: 320px; height: 240px; background-size: 140% auto;  }
.articles .panel-box .panel-heading { min-height: 80px; }
.articles .panel-box .back { width: 320px; height: 240px; }
.articles .panel-box dl { margin-top: 15px;}
.articles .panel-box dt { width: 100px;}
.articles .panel-box dd { margin: 0 0 5px 120px;}



/* elipses :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.ellipsis {
	overflow: hidden;
	line-height: 20px;
}

.ellipsis:before {
	content: "";
	float: left;
	width: 5px; 
}

.ellipsis > p:first-child {
	float: right;
	width: 100%; 
	margin-left: -5px;
}

.ellipsis:after {
	content: "\02026";
	float: right; 
	position: relative;
	top: -20px;	
	left: 100%;
	width: 20px; 
	margin-left: -20px;
	padding-right: 5px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.ellipsis-160 { height: 160px }
.ellipsis-160:before { height: 160px }

/* modals ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.modal-dynamic .modal-body {
	overflow: auto;
}


/* tabs ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/* flat tabs :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::. */

.flat-tabs > .nav-tabs {
	border: 0;
	margin: 0px;
}

.flat-tabs > .nav-tabs > li {
	margin: 0 2px 0 0;
	border-style: solid;
	border-color: transparent;
	border-width: 0 0 4px 0;
}

.flat-tabs > .nav-tabs > li > a {
	border: 0;
	margin-right: 0;
	color: #737373;
}

.flat-tabs > .nav-tabs > li > a > i {
	color: #a6a6a6;
}

.flat-tabs > .nav-tabs > li.open, 
.flat-tabs > .nav-tabs > li:hover {
	border-bottom-color: #fbcdcf;
}

.flat-tabs > .nav-tabs > li.open > a, 
.flat-tabs > .nav-tabs > li:hover > a {
	border: 0;
	background: none !important;
	color: #333333;
}

.flat-tabs > .nav-tabs > li.open > a > i, 
.flat-tabs > .nav-tabs > li:hover > a > i {
	color: #a6a6a6;
}

.flat-tabs > .nav-tabs > li.open .dropdown-menu, 
.flat-tabs > .nav-tabs > li:hover .dropdown-menu {
	margin-top: 0px;
}

.flat-tabs > .nav-tabs > li.active {
	border-bottom-color: #f3565d;
	position: relative;
}

.flat-tabs > .nav-tabs > li.active > a {
	border: 0;
	color: #333333;
}
	
.flat-tabs > .nav-tabs > li.active > a > i {
	color: #404040;
}
	
.flat-tabs .tab-content {
	background-color: #fff;
	border: 0;
	border: 1px solid #eee;
	padding: 30px 15px 15px;
	box-sizing: border-box;
}

.flat-tabs.tabs-below > .nav-tabs > li {
	border-width: 4px 0 0 0;
}

.flat-tabs.tabs-below > .nav-tabs > li > a {
	margin-top: 0;
}
	
.flat-tabs.tabs-below > .nav-tabs > li:hover {
	border-top-color: #fbcdcf;
}

.flat-tabs.tabs-below > .nav-tabs > li.active {
	border-top-color: #f3565d;
}

.flat-tabs.tabs-below > .tab-content {
	border-top: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

@media screen and (max-width: 767px) {

	.flat-tabs .nav-tabs > li {
		float: none;	
		border-bottom-width: 1px;
	}

	.flat-tabs.tabs-below  .nav-tabs > li {
		float: none;	
		border-top-width: 1px;
	}
}


/* ajax files uploader :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.ajax-files-container .progress + .files-list {
	margin-top: 15px;
}

.ajax-files-container p {
	display: block;
	padding: 5px 10px;
	margin: 5px 0 0;
	font-size: 13px;
	line-height: 20px;
	background-color: #FDFDE9;
}

.ajax-files-container .label {
	display: inline-block;
	padding: 0;
	height: 20px;
	line-height: 20px;
}

.ajax-files-container .label:first-child {
	margin-left: 15px;
}

.ajax-files-container .label + .label {
	margin: 0 0 5px 15px;
}

.ajax-files-container .label i { 
	display: inline-block;
	color: #ddd; 
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	border-right: 1px solid #5C5C5C;
	cursor: pointer;
}

.ajax-files-container .label a { 
	display: inline-block;
	color: #ddd; 
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	border-left: 1px solid #aaa;
	cursor: pointer;
}

.ajax-files-container .label i:hover { color: #FCBBDB; }
.ajax-files-container .label a:hover { color: #fff; }


.ajax-files-container .file-img {
	display: block;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 0 15px;
} 

.ajax-files-container .file-img .file-remover {
	right: 15px;
	color: #000;
	background: rgba(255,255,255, 0.5);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;;
}

.ajax-files-container .file-img .file-remover:hover {
	background: rgba(255,255,255, 0.8);
}

.ajax-files-container .file-img + .file-img  {
	margin-top: 15px;
}


/* media query extra small devices (phones <768px) :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (max-width: 320px) {

	.brand-logo {
		width: auto;
	}


	.btn-group-responsive .pull-left, 
	.btn-group-responsive .pull-right { 
		float: none; 
	}
	
	.btn-group-responsive .btn {
		display: block;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-bottom: 10px;
	}

	.btn-group-responsive .btn:last-child { 
		margin-bottom: 0px; 
	}
}

@media screen and (max-width: 767px) {

	.navbar-main .dropdown-toggle strong {
		display: none;
	}
}

/* media query small devices (tablets ≥768px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


@media screen and (max-width: 991px) {

	.collapse-side {
		display: block;
	}

	.page-content {
		width: 100%;
	}

	.has-sidebar .page-content {
		padding-left: 15px;
	}

	.row > div {
		margin-bottom: 15px;
	}

	.form-container {
		width: 100%;
	}

	.process-staps {
		margin: 0;
	}
}

/* media query medium devices (desctops ≥992px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (min-width: 992px) {

	.collapse {
		visibility: visible;
	}
}

@media screen and (max-width: 1199px) {

	
}

/* media query large devices (large desctops ≥1200px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (min-width: 1200px) {

	.page-content.page-form {
		width: 1200px;
	}
}



/* responsive application menu :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (min-width: 1960px) {


	.app-menu .dropdown-toggle {
		display: none;
	}
	
	.app-menu {
		display: block;
		float: left!important;
	}
	
	.app-menu .dropdown-menu {
		position: relative;
		top: 0;
		left: 0;
		z-index: 1000;
		display: block;
		float: left;
		padding: 0;
		margin: 0;
		list-style: none;
		background-color: #fff;
		border: 0;
		-webkit-box-shadow: none!important;
		box-shadow: none!important;
		background-clip: padding-box;
	}
	
	.app-menu ul {
		margin: 0;
		display: block;
	}
	
	.app-menu ul > li {
		float: left;
		display: block;
		position: relative;
	}
	
	.app-menu ul > li > a  {
		display: block;
		height: 64px;
		line-height: 64px;
		padding: 0 15px;
		font-size: 14px;
		text-decoration: none;
		color: #959595;
		box-sizing: border-box;
		font-family: 'Swatch CT', arial;
	}

	.app-menu ul > li:first-child > a  {
		padding-left: 0;
	}
	
	.app-menu ul > li > a strong {
		font-weight: 500;	
	}
	
	.app-menu ul > li > a:hover, 
	.app-menu ul > li > a:focus {
		color: #e2001A;
		background-color: #fff;
	}
	
	.app-menu ul > li.active a,
	.app-menu ul > li.active a:hover {
		color: black;
	}
	
	.app-menu ul > li.active a strong {
		font-weight: 600;
	}
	
	.app-menu ul.dropdown-menu > li.active > a, 
	.app-menu ul.dropdown-menu > li.active > a:hover, 
	.app-menu ul.dropdown-menu > li.active > a:focus {
		background-color: white;
	}
}



/* mix :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.datapicker-input-group .input-group  {
	font-size: 13px;
}

.datapicker-input-group .input-group input {
	border: 0;
	padding: 0;
	height: 20px;
	line-height: 20px;
	outline: none !important;
}

.datapicker-input-group.datapicker-open .input-group input {
	
}

.datapicker-input-group .input-group-addon {
	height:20px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	color: black;
}


.ajax-loader {
	display: none;
	position: relative;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	text-align: center;
}

.ajax-loader:after {
	display: block;
	position: absolute;
	top:50%; left:50%;
	margin: -33px 0 0 -33px;
	content: url(/public/images/ajax-loader.gif);
}















#ajax-notificator {
	display: none;
	position: fixed;
	left: 50%;
	bottom: 0;
	width: 300px;
	margin: 0 0 10px -150px;
	padding: 5px 10px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.5);
	color: #fff;
	text-align: center;
	font-size: 12px;
	border-right: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#ajax-notificator > div {
	display: none;
}

@-webkit-keyframes opacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes opacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

#ajax-notificator span {
	-webkit-animation-name: opacity;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	
	-moz-animation-name: opacity;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
}

#ajax-notificator span:nth-child(2) {
	-webkit-animation-delay: 100ms;
	-moz-animation-delay: 100ms;
}

#ajax-notificator span:nth-child(3) {
	-webkit-animation-delay: 300ms;
	-moz-animation-delay: 300ms;
}




