.filter-toggle {
	display: none;
	position: fixed;
	top: 65px;
	left: 154px;
	height: 40px;
	border-radius: 0;
	transition: all 1s ease;
	z-index: 1000000;
}


.article-box .panel-heading {
	overflow: hidden;
	position: relative;
}

.panel-heading:after {
	position: absolute;
	content: "";
	display: inline-block;
	width: 15px;
	background-color: inherit;
	right: 0;
	top: 0;
	bottom: 0;
}

.article-box {
	width: 440px;
	padding: 15px 15px 15px 15px;
}

.article-box .panel {
	margin: 0;
}

.article-box .panel-heading a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.article-box .panel-heading .btn {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	color: inherit;
	background: inherit;
	border-width: 0 0 0 1px;
	border-right: 0;
	-webkit-border-radius: 0;
	border-color: inherit;
	outline: none;
	display: block;
	line-height: 32px;
}

.article-box .panel-body {
	min-height: 210px;
}

.article-box .panel-footer {
	overflow: hidden;
}

.article-box .teaser-image {
	display: block;
	width: 240px;
	height: 180px;
	float: left;
	border: 1px solid #dedede;
	background-color: #fff;
	background-size: cover;
	background-image: url(/public/images/noimage.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 1px;
	margin: 0 15px 0 0;
	overflow: hidden;
}


.article-box .teaser-text {
	overflow: hidden;
	height: 160px;
	line-height: 20px;
}

.article-info {
	display: table-row;
	white-space: nowrap;
	overflow: hidden;
}

.article-info > span {
	display: table-cell;
	padding: 0 15px 0 5px;
	border-left: 1px solid #ccc;
}

.article-info label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 10px;
	color: #959595;
}

.article-info > span > span {
	display: block;
	font-size: 11px;
	color: #656565;
}

.list-view { max-width: 1200px;}
.list-view .article-box {width: 100%;}
.list-view .article-box .panel-body {display: none;}



.article-box .ellipsis  { height: 160px }
.article-box .ellipsis:before { height: 160px }



/* media query extra small devices (phones <768px) :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (max-width: 420px) {

	.article-box .teaser-image {
		float: none;
		display: block;
		margin: 0 0 15px;
	}

	.article-box .teaser-text {
		display: block;
		height: auto !important;
	}

	.article-box .ellipsis {
		height: auto;
	}

	.article-box .ellipsis:before,
	.article-box .ellipsis:after {
		display: none;
	}
}

@media screen and (max-width: 767px) {

	.article-box {
		min-width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 15px;
	}
}


/* media query small devices (tablets ≥768px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


@media screen and (max-width: 991px) {

	.filter-toggle {
		display: block;
		outline: none;
	}

	.list-filters {
		display: none;
		width: 100%;
		position: fixed;
		top: 85px;
		left: 0;
		padding: 15px;
		box-sizing: border-box;
		background-color: rgba(255, 255, 240, .95);
		border-bottom: 1px solid #ccc;
		z-index: 999999999;
		transition: all 500ms ease;
		transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	}

	.active.list-filters {
		display: block;
	}


	.article-box .teaser-image {
		width: 320;
		box-sizing: border-box;
		text-align: center;
		background-size: 200px;
	}

	.article-box .teaser-image img {
		margin: auto;
	}

	.add-article {
		width: 280px;
	}
}


/* media query medium devices (desctops ≥992px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (min-width: 992px) {

	.teaser-image + .teaser-content {
		margin-left: 335px;
	}
}

@media screen and (max-width: 1199px) {

	
}

/* media query large devices (large desctops ≥1200px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (min-width: 1200px) {

}


