
#btnComplete { 
	margin-bottom: 15px;
}

.dropdown-list {
	overflow-y: auto;
	max-height: 200px;
	right:0; left:auto;
}

#article_contant_informations {
	display: block;
	width: 100%;
	height: 160px;
	padding: 5px;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	font-size: 13px;
}

.table-handsontable > * {
	font-family: arial !important;
}

.table-handsontable table {
	table-layout: fixed;
}
.table-handsontable td {
	max-width: 200px;
}


/* templating ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.news-article-template-container {
	display: block;
	position: relative;
	width: 100%;
	padding: 20px 15px 15px;
	box-sizing: border-box;
	background-color: #f8f8f8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.news-article-template-container.ui-state-highlight {
	background-color: #f4f2db;
	border: 1px solid #f4f49c;
}

.news-article-template-container + .news-article-template-container {
	margin-top: 20px;
}

.news-article-template-container .col-left {
	display: block;
	box-sizing: border-box;
	float: left;
}

.news-article-template-container .col-right {
	display: block;
	box-sizing: border-box;
}

.template-control {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.1);
	color: gray;
	width: 20px;
	height: 20px;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
}

.template-control:hover {
	background-color: rgba(0,0,0,0.2);
}

.template-control.tpl-order { 
	top:0; left:0; 
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.template-control.tpl-remover { 
	top:0; right:0; 
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;;
}

.news-article-template-container:hover .template-control {
	display: block;
}

.template-content {
	display: block;
	width: 100%;
	max-width: 760px;
	box-sizing: border-box;
	overflow-x: auto;
}

.template-content textarea.editor {
	width: 100%;
	min-height: 200px;
}

.template-files {
	display: block;
	width: 100%;
	margin-top: 15px;
	box-sizing: border-box;
}

.template-files .progress {
	display: none;
}

.template-files .progress + .files {
	margin-top: 15px;
}

.template-files .files p {
	display: block;
	padding: 5px 10px;
	margin: 5px 0 0;
	font-size: 13px;
	line-height: 20px;
	background-color: #FDFDE9;
}

.template-files .label {
	display: inline-block;
	padding: 0;
	height: 20px;
	line-height: 20px;
}

.template-files .label:first-child {
	margin-left: 15px;
}

.template-files .label + .label {
	margin: 0 0 5px 15px;
}

.template-files .label i { 
	display: inline-block;
	color: #ddd; 
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	border-right: 1px solid #5C5C5C;
	cursor: pointer;
}

.template-files .label a { 
	display: inline-block;
	color: #ddd; 
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	border-left: 1px solid #aaa;
	cursor: pointer;
}

.template-files .label i:hover { color: #000; }
.template-files .label a:hover { color: #fff; }


.template-files .tpl-file-img {
	display: block;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	padding: 0 15px;
} 

.template-files .tpl-file-img .template-control.tpl-file-remover {
	right: 15px;
	color: #000;
	background: rgba(255,255,255, 0.5);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;;
}

.template-files .tpl-file-img .template-control.tpl-file-remover:hover {
	background: rgba(255,255,255, 0.8);
}

.template-files .tpl-file-img + .tpl-file-img  {
	margin-top: 15px;
}

.teaser .col-left {
	position: relative;
	width: 320px;
	min-height: 320px;
}

.teaser .box-content textarea {
	height: 260px;
	resize: none; 
}

.teaser .box-image textarea {
	position: absolute;
	left:0; top:255px;
	width: 320px;
	resize: none; 
}

.table-handsontable .tbl-header {
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.table-handsontable .tbl-header:hover {
	background: #edfed8;
}

.input-group-tpl-file { margin-top: 10px; }
.input-group-tpl-file.disabled input { background-color: #eee !important; max-width: 120px; }
.input-group-tpl-file .input-group-addon { cursor: pointer; }
.input-group-tpl-file .tpl-file-download:hover { color: #0000ff; }
.input-group-tpl-file .tpl-file-remover:hover { color: #ff0000; }
.input-group-tpl-file.disabled .tpl-file-remover { display: none; }

/* image croppers ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.image-cropper-container {
	width: 320px;
	height: 240px;
}

.image-cropper-container + .box-content textarea {
	height: 191px;
}

.image-cropper {
	width: 320px;
	height: 240px;
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	overflow: hidden;
	border: 1px solid silver;
	box-sizing: border-box;
	background-color: #fff;
}

.image-cropper::befor {
	content: "";
	background-image: url(/public/images/ico.image2.png);
	background-size: 50%; 
	background-clip: content-box; 
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute; 
}

/* navs ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.nav-categories ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-categories li a {
	display: block;
	text-transform: uppercase;
	color: #e2001a;
	font-size: 14px;
	background-color: none;
	padding: 5px 0;
}

.nav-categories li a:hover {
	background-color: transparent;
}

.nav-categories ul ul {
	margin-left: 10px;
}

.nav-categories.nav ul li {
	text-transform: none;
	padding: 5px 0;
	font-size: 13px;
	color: #a6a6a6;
}

.nav-categories.nav .badge {
	font-size: 12px;
	min-height: 25px;
	text-align: center;
}


/* panel table list ***************************************************************************************************/

.panel table tr:first-child td {
	border-width: 0;
}

.panel table tr:last-child td {
	border-bottom: 1px solid #DDD;
}

.panel input[type=text] {
	width: 90px;
	border: 0;
	outline: none;
}

.panel .ui-datepicker-trigger {
	padding: 0;
	border: 0;
	margin: 0;
	background: transparent;
	float: right;
	outline: none;
}

li.chackall {
	border-bottom: 1px solid #dedede;
	margin-bottom: 20px;
}

li.region-name {
	border-top: 1px solid #dedede;
	background-color: #f6f6f6;
	padding: 3px 0;
}

li.chackall label {
	font-weight: 600;
}

.checkbox-list li {
	padding: 2px 5px;
}

.checkbox-list li:not(.chackall) {
	font-size: 12px;
}

.total-group, 
.total-region {
	margin-left: 2px;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
}

.total-group:empty {
	display: none;
}

.checkbox-regions li.chackall {
	cursor: pointer;
}

.checkbox-regions li.chackall label, 
.checkbox-regions li.chackall .region-toggler {
	position: relative;
	top: 4px;
}

/* actions :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


.btn-group.btn-group-justified {
    display: table;
    width: 100%;
}

.btn-group.btn-block > span {
    display: table-cell;
}


/* tracks *************************************************************************************************************/

#articleTracks {
	max-height: 400px;
	overflow: auto;
}

#articleTracks p {
	display: block;
	padding: 0 0 15px 0;
	font-size: 13px;
	margin: 0;
}

#articleTracks p span {
	display: block;
	padding: 0 0 2px 0;
	font-size: 11px;
	font-style: italic;
	color: #999;
	font-family: arial
}

/* media query extra small devices (phones <768px) :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (max-width: 320px) {

	
}

@media screen and (max-width: 767px) {
	
	.template-files .row.files {
		margin: 15px 0;
	}

	.template-files .label { 
		display: block;
		width: 320px;
		box-sizing: border-box;
		margin: 0 0 5px;
	}

	.template-files .label:first-child { 
		margin: 0;
	}

	.template-files .label i { 
		vertical-align: top;
	}

	.template-files .label a { 
		width: 300px;
		padding-right: 5px;
		white-space: nowrap; 
	    overflow: hidden;
	    text-overflow: ellipsis;
		vertical-align: top;
		box-sizing: border-box;
		text-align: left;
	}
}

#teaser-container {
	position: relative;
}


/* media query small devices (tablets ≥768px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


@media screen and (max-width: 991px) {

	.news-article-template-container .col-left {
		float: none;
		width: 100%;
	}

	.news-article-template-container .box-image + .box-content {
		margin-left: 0;
		margin-top: 15px;
	}

	.template-files .tpl-file-img {
		padding: 0;
	} 

	.template-files .tpl-file-img .template-control.tpl-file-remover {
		right: 0;
	}
}


/* media query medium devices (desctops ≥992px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (min-width: 992px) {

	.news-article-template-container .box-image + .box-content {
		margin-left: 335px;
	}
}

@media screen and (max-width: 1199px) {

	
}

/* media query large devices (large desctops ≥1200px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (min-width: 1200px) {

}





