
/* list filters ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.list-filters {
	display: block;
	position: relative;
	width: 100%;
	padding: 0;
	margin: 20px 0;
	list-style: none;
}

.list-filters.is_stuck {
	z-index: 1000;
	background-color: rgba(255, 255, 240, .95);
	border-bottom: 1px solid #ccc;
	margin: 0;
	left:0; right:0;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}

.list-filters li {
	display: block;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	list-style: none;
}

.list-filters .btn.disabled, 
.list-filters .btn[disabled] {
	opacity: 1;
	background-color: #e1e1e1;
	color: gray;
}

.list-filters .btn.active {
	outline: none;
}

.list-filters .btn.active {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	outline: none !important;
}

.bnt-group-responsive-caption {
	display: none;
	position: relative;
	/*overflow: hidden;*/
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 200px;
	height: 30px;
}

.bnt-group-responsive-caption label {
	display: block;
	height: 30px;
	margin: 0;
	box-sizing: border-box;
	padding: 0 30px 0 10px;
	border-style: solid;
	border-color: #dedede;
	border-width: 1px 1px 1px 0;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #f4f4f4;
	font-size: 11px;
	line-height: 30px;
}

.bnt-group-responsive-caption .caret-holder {
	display: block;
	position: absolute;
	top:0; right:0;
	width: 20px;
	height: 30px;
	line-height: 30px;
	text-align: left;
}

.bnt-group-responsive {
	display: inline-block;
}

.list-filters .group-search input[type=text] {
	width: 140px;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #ccc;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	outline: none;
}

.list-filters .dropdown .btn {
	padding: 4px 10px;
}

.list-filters .filter-dropdown .dropdown-menu {max-height:200px; overflow: auto;}
.list-filters .filter-dropdown .dropdown-menu li {margin:0 !important; width:100%;}
.list-filters .filter-dropdown .dropdown-menu li a {
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list-filters .dropdown-years .dropdown-menu {min-width:40px; max-width: 72px;}
.list-filters .dropdown-years .dropdown-menu li a {padding: 3px 18px;}


/* media query small devices (tablets ≥768px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


@media screen and (max-width: 991px) {

	.list-filters li {
		float: none;
		margin: 0 0 5px 0;
	}

	.list-filters .btn.disabled, 
	.list-filters .btn[disabled] {
		width: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left !important;
	}

	.bnt-group-responsive-caption {
		display: inline-block;
	}

	.bnt-group-responsive {
		display: none;
		position: absolute;
		top: 31px; left: 80px;
		background-color: #fff;
		box-sizing: border-box;
		padding: 5px;
		width: 200px;
	}

	.bnt-group-responsive.group-open {
		display: block;
		z-index: 1050;
		border: 1px solid #e1e1e1;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}

	.bnt-group-responsive button {
		display: block;
		width: 100%;
	}

	.bnt-group-responsive button + button {
		margin-top: 5px;
	}
}