
.page-articles .form-container,
.page-recipients .form-container,
.page-tracks .form-container {
	max-width: 900px;
}

.page-header {
	position: relative;
	border: 0;
}

.page-header .navbar-toggle {
	position: absolute;
	top:-5px; right:0;
	float: none;
	margin: 0;
	padding: 5px;
	background-color: #F0F0F0;
	border: 1px solid #eaeaea;
	outline: none;
}

.page-header .navbar-toggle:hover {
	background-color: #dedede;
	border-color: #dedede;
}

.actions-container {
	position: absolute;
	top: 29px;
	right: 0;
	padding: 0 0 0 25px;
}


.newsletter-tabs {
	position: absolute;
	right:0; top: 0px;
	margin: 0;
	padding: 0;
}

.newsletter-tabs li {
	margin: 0;
	padding: 0;
}

.newsletter-tabs li a {
	padding: 5px 15px;
	color: #656565;
	font-size: 14px;
}

.newsletter-tabs .navbar-nav>li>a {
	border-radius: 4px;
}

.newsletter-tabs .navbar-nav >li.active>a, 
.newsletter-tabs .navbar-nav >li.active>a:hover, 
.newsletter-tabs .navbar-nav >li.active>a:focus {
	color: #000;
	background-color: #F0F0F0;
}

.badge:empty {
	display: none;
}


/* newsletter articles :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.section-container {
	display: block;
}

.section-container + .section-container {
	margin-top: 40px;
}

.section-header {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	overflow: hidden;
	background: rgba(226, 0, 26, 1);
	box-sizing: border-box;
	padding: 0 20px;
}

.section-header .title {
	display: block;
	color: #fff;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
	font-size: 24px;
	margin:0;
	padding:0;
}

.section-body {
	display: block;
}

.article {
	display: block;
	width: 100%;
	box-sizing: border-box;
	background-color: #f9f9f9;
}

.article + .article {
	margin-top: 15px;
}

.article-header {
	display: block;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #eee;
}

.article-header .title {
	margin: 0;
	padding: 0 50px 0 0;
	max-width: 750px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-body {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
}

.article-footer {
	display: block;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 15px;
	background-color: #f6f6f6;
	border-top: 1px solid #eee;
	color: #999;
}

.article-footer:empty {
	display: none !important;
}

.teaser-image {
	width: 320px;
	height: 240px;
	border: 1px solid #ededed;
	background-color: #fefefe;
	padding: 1px;
	margin-right: 20px;
	float: left;
}

.teaser-image img {
	max-width: 320px;
	max-height: 240px;
}

.teaser-text {
	display: block;
	height: 240px;
	box-sizing: border-box;
	overflow: auto;
}

.article-actions {
	display: block;
	position: absolute;
	top:12px; right:15px;
}

.article-action {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: rgba(0,0,0, .25);
	color: rgba(255,255,255, .75);
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transition: opacity 1s linear;
}

.article:hover .article-action {
	background: rgba(0,0,0, 1);
}

.article-actions .badge {
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	background: rgba(0,0,0, .25); 
	border-radius: 4px; 
}

.article:hover .badge {
	background: rgba(0,0,0, .4); 
}

.article-actions .article-restrictions { color: #fff; background: rgba(60, 120, 220, 0.25); }
.article:hover .article-restrictions { background: rgba(0, 120, 220, .75); }

.article-actions .article-remove { color: #fff; background: rgba(226, 0, 26, 0.25); }
.article:hover .article-remove { background: rgba(226, 0, 26, .75); }

.article .ui-state-highlight {margin-bottom: 15px;}

.page-articles .popover {
	max-width: 600px;
}

.page-articles .popover .popover-content {
	max-height: 400px;
	overflow: auto;
}

.page-articles .popover p {
    font-size: 11px;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.input-group-tpl-file { margin-top: 10px; }
.input-group-tpl-file.disabled input { background-color: #eee !important; max-width: 120px; }
.input-group-tpl-file .input-group-addon { cursor: pointer; }
.input-group-tpl-file .tpl-file-download:hover { color: #0000ff; }
.input-group-tpl-file .tpl-file-remover:hover { color: #ff0000; }
.input-group-tpl-file.disabled .tpl-file-remover { display: none; }

/* image croppper ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.image-cropper-container {
	display: block;
	width: 100%;
	position: relative;
	width: 1200px;
	height: 512px;
}

.image-cropper {
	width: inherit;
	height: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	overflow: hidden;
	border: 1px solid silver;
	box-sizing: border-box;
	background-color: #fff;
}

.articles .panel {
	height: 240px;
	margin: 0;
	background: transparent;
	border-width: 1px;
}

.articles .flex-container .panel-box {
	flex-grow: 0;
}



.table-recipients + .table-recipients {
	margin-top: 25px;
}

.table-recipients th {
	background-color: #FAFAFA;
	padding-top: 10px; 
	padding-bottom: 10px;
	border-top: 1px solid #dedede !important; 
	vertical-align: middle !important;
	border-bottom-width: 1px !important;
}

.table-recipients .checkbox {
	margin: 0;
}

.table-recipients th.total-group-recipients {
	text-align: right;
	font-size: 12px;
	color: #989898;
}

.table-recipients th:nth-child(2) {
	padding-left: 0;
}

.table-recipients .body-toggler {
	background-color: #eee;
}

.table-recipients .body-toggler a {
	display: block;
	color: #ccc;
}

.table-recipients .body-toggler a:hover {
	color: #666;
}

.table-recipients tbody tr:last-child td {
	border-bottom: 1px solid #dedede;
}

.sendmail-info-box {
	margin: 5% auto;
	max-width: 420px;
}

.sendmail-info-box table tr:last-child td {border-bottom:1px solid #dedede;}

.table-recipients .badge { background-color: #82B548 }
#newsletter_send_date { cursor: pointer; }

.remove-terminated-date { cursor: pointer; }
.remove-terminated-date:hover { color: #ff0000; }


/* wizard container ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.sendmail-wizard .modal-header {
	padding: 0;
	border: 0;
}

.sendmail-wizard .modal-title {
	text-align: center;
	padding: 30px 15px;
}

.sendmail-wizard .modal-header .close {
	margin-top: 10px;
	margin-right: 15px;
}

/*
.sendmail-wizard .modal-body {
	max-height: 70%;
	overflow: auto;
}
*/

.sendmail-wizard .nav-tabs {
	border: 0;
}

.sendmail-wizard .nav-tabs li a {
	border: 0;
	color: #fff;
	background-color: #999;
	text-transform: uppercase;
	border-left: 1px solid #fff;
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	cursor: default;
}

.sendmail-wizard .nav-tabs li.active a {
	background-color: #ff9500 !important;
}

.sendmail-wizard .nav-tabs li:first-child a {
	border-left-width: 0;
}

.wizard-header {
	display: block;
	width: 100%;
	box-sizing: 100%;
}

.wizard-body {
	width: 100%;
	max-width: 800px;
	max-height: 800px;
	overflow: auto; 
}

#newsletters-background .file-remover {
	right: 20px;
    top: 15px;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
}

#newsletters-background .file-remover i {
	font-size: 16px;
	color: #666;
}    

#newsletters-background .file-remover:hover i {
    color: #000;
}

#newsletters-background .files-list {
	margin: 0;
}

#newsletters-background .file-img {
	padding: 0;
}


@media screen and (max-width: 767px) {

	.actions-container {
		position: relative;
		top: auto;
		right: auto;
		padding: 0;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.newsletter-tabs {
		position: relative;
		right:0; top: 0px;
	}
}