/************************************
 * SWATCH NEWS CSS 
 * v1.1
 ************************************/

@font-face {
	font-family: "SwatchRegular";
	src:url('/public/themes/swatch/fonts/swatchCT.woff?-n1on9v') format('woff'), 
		url('/public/themes/swatch/fonts/swatchCT.otf') format('otf'), 
		url('/public/themes/swatch/fonts/swatchCT.ttf') format('truetype'), 
		url('/public/themes/swatch/fonts/swatchCT.svg') format('svg'),
		url('/public/themes/swatch/fonts/swatchCT.eot?-n1on9v');
	font-weight: normal;
	font-style: normal;
}

/* icon font */
@font-face {
	font-family: 'swatchicons';
	src:url('/public/themes/swatch/fonts/swatchicons.eot?-n1on9v');
	src:url('/public/themes/swatch/fonts/swatchicons.eot?#iefix-n1on9v') format('embedded-opentype'), 
		url('/public/themes/swatch/fonts/swatchicons.woff?-n1on9v') format('woff'), 
		url('/public/themes/swatch/fonts/swatchicons.ttf?-n1on9v') format('truetype'), 
		url('/public/themes/swatch/fonts/swatchicons.svg?-n1on9v#swatchicons') format('svg');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
	font-family: 'cookie';
	src:url('/public/themes/swatch/fonts/Cookie-Regular.eot');
	src:url('/public/themes/swatch/fonts/Cookie-Regular.woff') format('woff'), 
		url('/public/themes/swatch/fonts/Cookie-Regular.ttf') format('truetype'), 
		url('/public/themes/swatch/fonts/Cookie-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	background-color: #fff;
	font-family: "SwatchRegular";
	font-size: 12px;
	margin-left:10px;
	margin-right:10px;
	background-position: top center;
	background-repeat: repeat;
}

a {
	font-family: 'SwatchRegular';
	text-decoration: none!important;
	color: #e2001a;
}

a:hover {
	color: #e2001a;
	text-decoration: underline !important;
}

p {
	font-family: "SwatchRegular";
	font-weight: 500;
	vertical-align: baseline;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "SwatchRegular";
	font-weight: 500;
	vertical-align: baseline;
}

.ie h1, 
.ie h2, 
.ie h3, 
.ie h4, 
.ie h5, 
.ie h6 {
	position: relative;
	top: 4px;
}

img[src=""],
.not-empty:empty {
	display: none !important;
}


/** navbar top :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.header-top {
	margin: 34px 0 0;
	border: 0;
}

.navbar, 
.navbar-top {
	background-color: white;
	margin: 0;
	border: 0;
	height: 40px;
}

.navbar-inner {
	display: block;
	width: 100%;
}

.page-title {
	/*font-family: "cookie";*/
	font-family: 'SwatchRegular';
	color: #000000;
	font-size: 32px;
	line-height: 32px;
	position: relative;
	top: 4px;
	left: -48px;
}

.page-title i {
	display: inline-block;
	font-size: 20px;
	margin-left: 10px;
}

.brand-logo {
	width: 145px;
	height: 40px;
	line-height: 40px;
	background: url(/public/images/logo.swatch.145x40.png) no-repeat left center;
}

.navbar-top-actions {
	line-height: 40px;
}

.btn-search {
	background: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
	outline: none;
}

.btn-search.on {
	color: #e2001a;
}

.ie .btn-print {
	height: 24px;
	line-height: 24px;
}


.main-content {
	background-color: #fff;
}


/* heighlight box ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.heighlight {
	margin-bottom: 20px;
}

.heighlight-visual {
	display: block;
	width: 100%;
	height: 512px;
	position: relative;
	margin-bottom: 15px;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
}

.heighlight .band {
	display: block;
	position: absolute;
	bottom: 0;
	background: rgba(10, 10, 10, 0.5);
	z-index: 10;
	width: 100%;
	box-sizing: border-box;
}

.heighlight h1 {
	margin: 0;
	padding: 15px;
	color: #fff;
	font-size: 30px;
	float: left;
}

.heighlight .newsletter-files {
	padding: 15px 0;
}

.heighlight .date {
	padding: 15px;
	margin: 0;
	color: #ddd;
	font-size: 24px;
}


/* section title :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.section-banner {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	height: 50px;
	overflow: hidden;
	background: rgba(226, 0, 26, 1);
	box-sizing: border-box;
	padding: 0 20px;
}

.section-banner h1 {
	display: block;
	color: #fff;
	line-height: 50px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
	font-size: 2em;
	margin:0;
	padding:0;
}


/* newsletter ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.newsletter  {
	margin-top: 0;
	border-right: 1px dashed #a4a4a4
}

section {

}

.sidebar-right {
	min-height: 460px;
}

.sidebar section + section {
	margin-top: 20px;
}

.section-title {
	font-size: 36px;
	margin-top:43px;
	margin-bottom:15px;
}

.newsletter .section-title {
	border-bottom-color: #a6a6a6;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
	padding-bottom:5px;
	padding-top:5px;
	color: #e2001a;

}

.title-search-results {
	font-size: 16px;
	padding: 5px 0 10px 0;
	background: #fff;
}

/* article :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

article {
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
	background: #fff;
	border-bottom-color: #a4a4a4;
    border-bottom-style: dashed;
	border-bottom-width: 1px;
}

.newsletter article {
	padding-bottom: 5px;
}

.archiv article {
	border: 0;
}

.article-title {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	vertical-align: baseline;
}

.article-title .new-badge {
	display: block;
	float: left;
	border-radius: 0px;
	color: white;
	background: #e2001a;
	margin-right: 5px;
	line-height: 28px;
	height: 28px;
	font-size: 12px;
	vertical-align: baseline;
	box-sizing: border-box;
	padding: 0 5px;
}

.ie .article-title  .new-badge {
	line-height: 30px;
	height: 26px;
}


.article-title h5 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 30px;
	color: rgb(166, 166, 166);
	vertical-align: baseline;
}

.article-content {
	display: none;
	position: relative;
	padding-top: 20px;
}

.article-content .row + .row {
	margin-top: 15px;
}

.article-bottom {
	display: block;
	padding-top: 15px;
	text-align: right;
}

.article-bottom .badge {
	border-radius: 0px;
	background: rgb(166,166,166);
}

.article-bottom .badge:hover {
	background: rgb(226,0,26);
	cursor:pointer;
}

.article-teaser img {
	border: 1px solid #a6a6a6;
}


.teaser-text {
	color: black;
}

.teaser-no-image {
	width: 100% !important;
}

.teaser-text + .teaser-text {
	padding-bottom: 15px;
}

.article-teaser p:not(.date_and_author):not(.informations):not(.files) {
	margin: 0 0 5px 0;
	padding: 0;
}

.article-teaser p,
.article-content p {
	font-size: 14px;
	color: black;
}


.article-teaser p.date_and_author,
.article-teaser p.informations {
	font-size: 12px;
}

.article-teaser p + br,
.article-content p + br  {
	display: none;
}


.newsletter img.img-icon {
	max-width: 160px;
	padding: 0 15px 0 0;
	float: left;
}

.newsletter small {
	font-size: 12px;
}

.newsletter .date_and_author {
	margin-top: 12px;
	font-size: 12px;
}

.download-title {
	margin-top: 15px;
}


.newsletter .teaser-image {
	max-width: 300px;
}


.newsletter .img-responsive {
	/*
	display: inline-block;
	margin-bottom:10px;
	 */
}

.newsletter .flikflak-text {
	color:#0065a4;
}

.featuerd img {
	width:100%;
}

.watch_centered {
	border-style: solid;
    border-width: 1px;
	border-color: rgb(166, 166, 166);
}

.red {
	color: rgb(226,0,26);
}

.body-text > .row {
	margin-top: 15px;
}

.article-sticker {
	display: table;
	position: absolute !important;
	top:0; left:0;
	z-index: 1;
	width: 160px;
	height: 160px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;
}

.article-sticker p {
	text-align: center;
	font-size: 12px;
	color: #000;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	max-height: 100%;
	text-shadow: 1px 1px #fff;
}


/* buttons :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

a.blocklink {
    display: block;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/public/themes/swatch/img/blocklink.png");
    background-origin: padding-box;
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-color: rgba(163,163,163,1);
    color: #ffffff !important;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    padding-bottom: 0;
    padding-left: 9px;
    padding-right: 45px;
    padding-top: 0;
    text-align: left;
    text-transform: uppercase;

	
    margin: 10px 0;
    box-sizing: border-box;
    -moz-text-decoration-color: -moz-use-text-color !important;
    -moz-text-decoration-line: none !important;
    -moz-text-decoration-style: solid !important;
     -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    white-space: nowrap;
    text-overflow: ellipsis;

	display: inline-block;
	min-width:276px;
	max-width:500px;
	overflow:hidden;
}

a.blocklink:hover {
    text-decoration: none;
    color: #a6a6a6 !important;
    background-position: right bottom;
    background-color: rgba(237,237,237,1);

}

a.blocklink + a.blocklink {
	margin-top: 0px;
}

a.blocklink:active,
a.blocklink.active {
	background-image: url("/public/themes/swatch/img/showlesslink.png") !important;
}


/* sidebar :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.sidebar {
	margin-left: 0px !important;
}

.sidebar-popup {
	display: block !important;
	margin: 0;
	padding: 10px;
	position: absolute;
	width: 272px;
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid silver;
	z-index: 10000;
	-moz-box-shadow: 0 0 5px #444;
	-webkit-box-shadow: 0 0 5px #444;
	box-shadow: 0 0 5px #444;
}

.sidebar article {
	padding-top:15px;
	background: #fff;

}

.sidebar .section-title {
	margin: 0px;
	font-size: 18px;
}

.sidebar img.img-icon {
	max-width: 120px;
	padding: 0 15px 0 0;
	float: left;
}

.sidebar p {
	font-size: 12px;
	color: #444;
}

.featured-news article{
		padding-bottom:15px;
}

.archiv {
		margin-top:15px;
}

.archiv a {
	display: block;
	padding-bottom: 10px;
}

.categories {
		margin-top:0px !important;
}

.categories article{
		padding-bottom:15px;
}
.categories ul ul {
	margin-left: 10px;
	display: none;
}

.categories label {
	cursor: pointer;
	color: #e2001a;
	text-transform: uppercase;
}

.categories ul ul label {
	font-weight: 300;
	font-size: 13px;
}

.categories ul ul ul {
	display: none;
}

.categories .nav li a {
	padding: 2px 5px;
	font-size: 13px;
	color: #a6a6a6;
}

.categories .nav li a.active {
	color: #000;
}

#sidebar.affix {
	position: fixed;
	top: 15px;
	width: 360px;
}

#featured:empty {
	display: none;
}

/* embbed media ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 0px;
}

.video-container iframe, 
.video-container object, 
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/** dropdown box ******************************************************************************************************/

.dropdown-box {
	margin-top:0px;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

.dropdown-box .form-group {
	margin-bottom: 0;
}

.dropdown-box .dropdown-menu {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	z-index: 1000000;
}

.input-group .icon-addon .form-control {
	border-radius: 0;
}

.dropdown-box .icon-addon {
	position: relative;
	color: #555;
	display: block;
}

.dropdown-box .icon-addon:after, 
.dropdown-box .icon-addon:before {
	display: table;
	content: " ";
}

.dropdown-box .icon-addon:after {
	clear: both;
}

.dropdown-box .icon-addon > label {
	position: absolute;
	display: inline-block;
	left: 0px;
	font-size: 14px;
	width: 30px;
	margin: 0;
	text-align: center;
	padding: 0;
	line-height: 38px;
	height: 38px;
}

.dropdown-box .icon-addon .toggler {
	position: absolute;
	right: 0px;
	font-size: 14px;
	margin: 0;
	text-align: center;
	padding: 0;
	line-height: 40px;
	height: 40px;
	width: 30px;
	outline: none;
	color: black;
}

.dropdown-box .icon-addon .form-control {
	padding-left: 30px;
	padding-right: 30px;
	float: left;
	font-weight: normal;
	line-height: 30px;
}

.dropdown-box .icon-addon select.form-control {
	padding: 0;
	margin-bottom: 10px;
}

 
.dropdown-box .icon-addon:hover .glyphicon {
	color: #e2001a;
}

.dropdown-box .full-search {
	border-radius: 0;
	box-shadow: none;
	color: #a4a4a4;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
}

.dropdown-box .dropdown-menu select {
	border-radius: 0;
	box-shadow: none;
	color: #a4a4a4;
	font-size: 14px;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
}

.icon-addon .dropdown-menu {
	display: none;
}

.icon-addon.open .dropdown-menu {
	display: block;
}

.dropdown-box input[type="text"]:focus {
	border-bottom-color: #e2001a;
}

.print-basket {
	display: none;
	margin-bottom: 20px;
}

.print-basket a:hover {
	text-decoration: none !important;
}

.print-basket .print-items .item {
	display: block;
	padding: 3px 20px 3px 30px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	position: relative;
}

.print-basket .print-items .item a {
	padding: 0;
	position: absolute;
	top:3px; left:15px;
}

#filters input,
#filters select {
	font-family: 'arial';
}

.archive .dropdown-menu {
  max-height: 240px;
  overflow: auto;
}


/** quick links *******************************************************************************************************/

.quick-links {
	padding-bottom: 40px;
	padding-top: 1.25rem;
}

@media only screen and (max-width: 40em) {
	.quick-links {
		margin-top: 0;
		padding-bottom: 0;
	}
}

.quick-links h3 {
	margin-bottom: 0.6875rem;
	color: black;
}

.quick-links ul {
	margin-left: 0;
	padding: 0;
}

.quick-links ul li {
	padding-bottom: 0;
	list-style: none;
	font-weight: normal;
}

.quick-links ul li > a {
	display: block;
	margin-bottom: -1px;
	font-size: 12px;
	font-weight: normal;
	color: #a4a4a4;
	line-height: 2.25;
	text-transform: uppercase;
	border-top: 1px dashed #a4a4a4;
	border-bottom: 1px dashed #a4a4a4;
}

.quick-links ul li > a:before {
	content: "\e611";
	font-family: "swatchicons";
	float: left;
}

.quick-links ul li > a:hover {
	color: black;
	text-decoration: none;
	background: #e1e1e1;
}

table {
	font-size: 12px;
}

.header-row {
	background-color: #ededed;
	padding-top: 20px;
}


/* overwrite bootstrap styles ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.form-control:focus {
	border-color:#ddd;
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
}

.btn-primary {
	color:#fff;
	background-color:#a6a6a6;
	border-color:#a6a6a6
}

.ie .submit-search-form {
	height: 30px;
	line-height: 24px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color:#fff;
	background-color:#a1a0a0;
	border-color:#a1a0a0
}

.btn {
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/** ajax laoder ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.ajax-loader {
	display: none;
	position: relative;
	width: 100%;
	min-height: 30px;
	padding: 5px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
	min-height: 32px;
}

.ajax-loader:before {
	display: block;
	position: absolute;
	top:50%; left:50%;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
	content: "";
	background-image: url("/public/images/ajax-loader.gif");
	background-size: contain;
}

.ajax-loader:after {
	display: block;
	width: 100%;
	clear: both;
}


/** media query desctop devices :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


@media (min-width: 992px) and (max-width: 1199px) {
	
	.heighlight-visual {
		height: 400px;
	}

	.heighlight h1 {
		font-size: 20px;
	}

	.heighlight .date {
		font-size: 18px;
	}
}


/** media query medium devices :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media (max-width: 991px) {

	.btn-print,
	.btn-print:hover {
		color: #000;
		background-color: #fff;
		border-color: #fff;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

	/* heighlight box*/
	.heighlight-visual {
		background-size: cover;
	}

	.newsletter {
		border: 0;
	}

	.heighlight-visual {
		background-size: cover;
		height: 400px;
	}

	.heighlight h1 {
		font-size: 20px;
	}

	.heighlight .date {
		font-size: 18px;
	}

	#sidebar.affix {
		width: 293px;
	}

	/* page title */
	.page-title {
		font-size: 28px;
		line-height: 28px;
		top: 10px; 
		left: -40px;
	}

	.page-title i {
		font-size: 24px;
		margin-left: 5px;
		top: 0px;
	}

	.header-top { margin-bottom: 0; }
}

/** media query small devices ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media (max-width: 767px) {
	
	.header-top {
		margin-top: 20px;
		margin-bottom: 0;
	}

	.navbar-top {
		height: 40px;
		min-height: 40px;
	}

	/* logo */
	.brand-logo {
		background-size: 80%;
	}

	/* page title */
	.page-title {
		font-size: 24px;
		line-height: 24px;
		top: 10px; 
		left: -40px;
	}

	.page-title i {
		font-size: 18px;
		margin-left: 5px;
		top: 0px;
	}

	/* heighlight box*/
	.heighlight-visual {
		height: 240px;
		background-size: cover;
		background-position: left bottom;
	}

	.heighlight .band {
		
	}

	.heighlight h1 {
		font-size: 16px;
	}

	.heighlight .date {
		font-size: 13px;
	}

	/* section banner */
	.section-banner {
		height: 40px;
		line-height: 40px;
	}

	.section-banner .band {
		height: 25px;
	}

	.section-banner h1 {
		font-size: 18px;
	}

	.ie .article-title  .new-badge {
		line-height: 24px;
		height: 20px;
		position: relative;
		top: 4px;
	}

	.newsletter  {
		border: 0;
	}

	.teaser-text {
		font-size: 1em;
	}


	.newsletter h5 {
		font-size: 22px;
	}

	.article-bottom {
		display:none;
	}
}


/** media query extra small devices ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media (max-width: 480px) {
	

	/* page header*/
	.header-top {
		margin-top: 20px;
		margin-bottom: 0;
		height: 32px;
		min-height: 32px;
	}

	.navbar-top-actions {
		line-height: 28px;
	}

	.brand-logo {
		width: 91px;
		height: 28px;
		line-height: 28px;
		background-size: 90%;
	}

	/* page title*/
	.page-title {
		font-size: 18px;
		line-height: 18px;
		top: 6px; 
		left: -12px;
	}

	.page-title i {
		font-size: 0.6em;
		margin-left: 5px;
		top: 2px;
	}

	/* heighlight box*/
	.heighlight-visual {
		height: 160px;
		background-size: cover;
		background-position: left bottom;
	}

	.heighlight .band {
		
	}

	.heighlight h1 {
		font-size: 13px;
		padding: 10px;
	}

	.heighlight .date {
		font-size: 12px;
		padding: 10px;
	}

	/* section banner */
	.section-banner {
		height: 40px;
		line-height: 40px;
	}

	.section-banner .band {
		
	}

	.section-banner h1 {
		line-height: 40px;
		font-size: 18px;
	}

	/* article elements */

	.article-title .new-badge {
		height: 18px;
		line-height: 18px;
	}

	.ie .article-title  .new-badge {
		line-height: 22px;
		height: 18px;
	}

	.article-title h5 {
		font-size: 18px;
		line-height: 18px;
	}

	/* buttons */
	a.blocklink {
		width: 100%;
		font-size: 13px;
	}

	.teaser-text {
		font-size: 1em;
	}

	.newsletter .teaser-image {
		max-width: 100%;;
	}

	.sidebar-popup {
		display: block !important;
		width: 100%;
		max-width: 270px;
	}

}

