
article {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.articles-list {
	display: block;
	margin-left: -15px;
}

.articles-list .mix {
	display: none;
}

.article-box {
	display: block;
	position: relative;
	float: left;
	width: 25%;
	min-width: 400px;
	max-width: 500px;
	vertical-align: top;
	box-sizing: border-box;
}

.articles-list.list {
	max-width: 1000px;
}


.list .article-box {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.article-box p {
	margin:0; 
	padding: 0;
}

.article-box:first-child {
	margin-left: 15px;
	margin-bottom: 15px;
}

.article-box + .article-box {
	margin: 0 0 15px 15px;
}

.article-box .article-header {
	display: block;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}

.article-box .article-header > a {
	display: block;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    line-height: 40px;
    padding: 0 40px 0 10px;
}

.article-box .article-header button {
	position: absolute;
	top:0; right:0;
	height: 40px;
	line-height: 40px;
	padding: 0 8px;
	margin: 0;
	font-size: 24px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	overflow: hidden;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
	box-sizing: border-box;
	outline: none;
}

.article-box .article-content {
	display: block;
	width: 100%;
	height: 180px;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	border-style: solid;
	border-width: 0 0 1px;
	border-color: transparent;
}

.article-box .article-content .teaser-image {
	display: block;
	float: left;
	width: auto;
	width: 240px;
	height: 160px;
	padding: 0 10px 0 0;
	overflow: hidden;
}

.articles-list.list .teaser-image {
	display: none;
}

.articles-list.list .article-box .article-content {
	height: auto;
}

.article-box .article-footer {
	display: block;
	width: 100%;
	border-style: solid;
	border-width: 1px 0 0;
	border-color: transparent;
}

.article-box .article-footer ul {
	display: table-row;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.article-box .article-footer li {
	display: table-cell;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    box-sizing: border-box;
    empty-cells: show;
    border-style: solid;
    border-width: 0 1px;
    border-color: transparent;
}

.article-box .article-footer li:first-child {
	border-left: 0;
}

.article-box .article-footer li:last-child {
	border-right: 0;
}

.ellipsis {
	overflow: hidden;
	height: 160px;
	line-height: 20px;
}

.ellipsis:before {
	content: "";
	float: left;
	width: 5px; 
	height: 160px; 
}

.ellipsis > p:first-child {
	float: right;
	width: 100%; 
	margin-left: -5px;
}

.ellipsis:after {
	content: "\02026";
	float: right; 
	position: relative;
	top: -20px;	
	left: 100%;
	width: 20px; 
	margin-left: -20px;
	padding-right: 5px;
	background: #ededed; 
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.articles-list.list .ellipsis,
.articles-list.list .ellipsis:before {
	height: auto;
}


/* state draft */
.article-box.state-draft { background-color: #ededed; }
.article-box.state-draft .article-header { background-color: rgba(0,0,0, .1); }
.article-box.state-draft .article-content { border-bottom-color: #d1d1d1; }
.article-box.state-draft .article-footer { border-top-color: #fff; }
.article-box.state-draft .article-footer li { border-right-color: #d1d1d1; border-left-color: #fff;}
.article-box.state-draft .article-footer li:first-child {border-left-color: #ededed;} 
.article-box.state-draft .ellipsis:after { background-color: #ededed; }

/* state completed */
.article-box.state-completed { background-color: #F4EFDA; }
.article-box.state-completed .article-header { background-color: rgba(160,100,0, .2); }
.article-box.state-completed .article-content { border-bottom-color: #E2DC70; }
.article-box.state-completed .article-footer { border-top-color: #fff; }
.article-box.state-completed .article-footer li { border-right-color: #E2DC70; border-left-color: #fff;}
.article-box.state-completed .article-footer li:first-child {border-left-color: #F4EFDA;} 
.article-box.state-completed .ellipsis:after { background-color: #F4EFDA; }


/* state confirmed */
.article-box.state-confirmed { background-color: #EBF1FA; }
.article-box.state-confirmed .article-header { background-color: rgba(0,120,255, .2); }
.article-box.state-confirmed .article-content { border-bottom-color: #C5D3F2; }
.article-box.state-confirmed .article-footer { border-top-color: #fff; }
.article-box.state-confirmed .article-footer li { border-right-color: #C5D3F2; border-left-color: 1px solid #fff;}
.article-box.state-confirmed .article-footer li:first-child {border-left-color: #EBF1FA;} 

/* state confirmed */
.article-box.state-published { background-color: #EFFAF1; }
.article-box.state-published .article-header { background-color: rgba(0,120,60, .2); }
.article-box.state-published .article-content { border-bottom-color: #B7E2B8; }
.article-box.state-published .article-footer { border-top-color: #fff; }
.article-box.state-published .article-footer li { border-right-color: #B7E2B8; border-left-color: #fff;}
.article-box.state-published .article-footer li:first-child {border-left-color: #EFFAF1;} 
.article-box.state-published .ellipsis:after { background-color: #EFFAF1; }


/* state archived */
.article-box.state-archived { background-color: #ededed; }
.article-box.state-archived .article-header { background-color: rgba(0,0,0, .1); }
.article-box.state-archived .article-content { border-bottom-color: #d1d1d1; }
.article-box.state-archived .article-footer { border-top-color: #fff; }
.article-box.state-archived .article-footer li { border-right-color: #d1d1d1; border-left-color: #fff;}
.article-box.state-archived .article-footer li:first-child {border-left-color: #ededed;} 
.article-box.state-archived .ellipsis:after { background-color: #ededed; }






/* media query extra small devices (phones <768px) :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (max-width: 320px) {

	.article-box .article-content {
		height: auto;
	}
	
	.article-box .article-content .teaser-image {
		float: none;
		display: block;
		text-align: center;
		padding: 0;
		margin: 0 0 5px;
	}

	.article-box .article-footer li {
		font-size: 12px;
	}
}

@media screen and (max-width: 767px) {

	.articles-list { 
		margin: 0;
	}

	.article-box {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
	}

	.article-box + .article-box {
		margin-left: 0;
	}

	.article-box:first-child {
		margin-left: 0;
	}
}


/* media query small devices (tablets ≥768px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


@media screen and (max-width: 991px) {

	.teaser-image {
		float: none;
	}

	.teaser-image + .teaser-content {
		margin-left: 0;
		margin-top: 15px;
	}
}


/* media query medium devices (desctops ≥992px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (min-width: 992px) {

	.teaser-image + .teaser-content {
		margin-left: 335px;
	}
}

@media screen and (max-width: 1199px) {

	
}

/* media query large devices (large desctops ≥1200px) ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@media screen and (min-width: 1200px) {

}


