
.newsletter-panel {
	display: block;
	height: 240px;
	position: relative;
	box-sizing: border-box;
	background: #444 url(/public/images/camera.png) no-repeat center center;
	border: 1px solid silver;
}

.list-view {
	max-width: 800px;
}


.list-view .newsletter {
	width: 100%;
	
}

.list-view .newsletter .newsletter-panel {
	height: 85px;
}

.newsletter-panel .panel-footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.3);
	border-color: rgba(255,255,255, 0.25) transparent;
}

.list-view .newsletter-panel .panel-footer {
	top:0;
}

.newsletter-panel:hover .panel-footer {
	background-color: rgba(0,0,0,0.1);
}

.newsletter-panel:hover .panel-footer h4 {
	overflow: hidden;
	white-space: nowrap;
}

.newsletter-panel .panel-footer * {
	color: #fff;
	text-shadow: 1px 1px 5px #000;
}

.newsletter-panel .panel-footer a:hover {
	color: #fffccc;
}

.newsletter-panel .panel-footer .date {
	color: #e4e4e4;
}

.newsletter-panel .state-caption {
	position: absolute;
	bottom:15px; right:15px;
	color: #fff;
	text-shadow: 1px 1px 5px #000;
}
