#addNewSticker {
	font-size: 10px;
	margin-right: 10px;
}

.stickers {
	display: block;
	margin: -15px; 
}

.stickers .item {
	width: 160px;
	height: 160px;
	display: block;
	float: left;
	margin: 15px;
	border: 1px solid #ccc;
	padding: 2px;
}

.stickers .item:hover {border-color: #000;}

.stickers .item a {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.stickers .item img {
	max-width: 100%;
	height: auto;
}

.stickers .item p {
	text-align: center;
	font-size: 12px;
	color: #000;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	max-height: 100%;
	text-shadow: 1px 1px #fff;
}


.sticker-cropper-container {
	width: 160px;
	height: 160px;
	float: left;
}

.sticker-cropper {
	width: 160px;
	height: 160px;
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	overflow: hidden;
	border: 1px solid silver;
	box-sizing: border-box;
	background-color: #fff;
}

.sticker-cropper::befor {
	content: "";
	background-image: url(/public/images/ico.image2.png);
	background-size: 50%; 
	background-clip: content-box; 
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute; 
}

input[name="sticker_title"] {
	width: 160px;
	height: 160px;
	line-height: 160px;
	margin-left: 175px;
	text-align: center;
	vertical-align: middle;
	resize: none;
}