.stickers {
	display: block;
	margin: -15px;
}

.stickers.height-400 {
	max-height: 400px;
	overflow: auto;
}

.stickers.height-700 {
	max-height: 720px; 
	overflow: auto;
}

.stickers .item {
	width: 160px;
	height: 160px;
	display: block;
	float: left;
	margin: 15px;
	border: 1px solid #ccc;
	padding: 2px;
}

.page-news-preview .panel-body .item {
	width: 150px;
	height: 150px;
}

.page-news-preview #filters {
	display: none;
}

.stickers .item:hover {
	border-color: #000;
}

.panel-body .stickers .item:nth-child(even) {
	margin-left: 0;
}

.article-sticker,
.stickers .item .sticker {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center;
	cursor: pointer;
}

.stickers .item img {
	max-width: 100%;
	height: auto;
}

.article-sticker p,
.stickers .item p {
	text-align: center;
	font-size: 12px;
	color: #000;
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	max-height: 100%;
	text-shadow: 1px 1px #fff;
}

.article-sticker .selected,
.stickers .item .selected {
	display: none;
	position: absolute;
 	top: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
    color: #984B4B;
    padding: 0 2px;
    margin: 0;
    font-size: 24px;
    border-radius: 4px;
    z-index: 100;
}

.article-sticker .selected {
    top: 0px;
    right: 3px;
    width: 20px;
    height: 20px;
    color: #999;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
}

.article-sticker .selected:hover {
	color: #984B4B;
}

.article-sticker .selected.active ,
.stickers .item .selected.active {
	display: block;
}

.article-sticker {
	display: table;
	position: absolute !important;
	top:0; left:0;
	z-index: 1;
	width: 160px;
	height: 160px;
	cursor:move;
	text-align: center;
	box-shadow: 1px 1px 5px #e8e8e8;
}

