
.flat-tabs > .nav-tabs {
	border: 0;
	margin: 0px;
}

.flat-tabs > .nav-tabs > li {
	margin: 0 2px 0 0;
	border-style: solid;
	border-color: transparent;
	border-width: 0 0 4px 0;
}

.flat-tabs > .nav-tabs > li > a {
	border: 0;
	margin-right: 0;
	color: #737373;
}

.flat-tabs > .nav-tabs > li > a > i {
	color: #a6a6a6;
}

.flat-tabs > .nav-tabs > li.open, 
.flat-tabs > .nav-tabs > li:hover {
	border-bottom-color: #fbcdcf;
}

.flat-tabs > .nav-tabs > li.open > a, 
.flat-tabs > .nav-tabs > li:hover > a {
	border: 0;
	background: none !important;
	color: #333333;
}

.flat-tabs > .nav-tabs > li.open > a > i, 
.flat-tabs > .nav-tabs > li:hover > a > i {
	color: #a6a6a6;
}

.flat-tabs > .nav-tabs > li.open .dropdown-menu, 
.flat-tabs > .nav-tabs > li:hover .dropdown-menu {
	margin-top: 0px;
}

.flat-tabs > .nav-tabs > li.active {
	border-bottom-color: #f3565d;
	position: relative;
}

.flat-tabs > .nav-tabs > li.active > a {
	border: 0;
	color: #333333;
}
	
.flat-tabs > .nav-tabs > li.active > a > i {
	color: #404040;
}
	
.flat-tabs .tab-content {
	background-color: #fff;
	border: 0;
	border: 1px solid #eee;
	padding: 30px 15px 15px;
	box-sizing: border-box;
}

.flat-tabs.tabs-below > .nav-tabs > li {
	border-width: 4px 0 0 0;
}

.flat-tabs.tabs-below > .nav-tabs > li > a {
	margin-top: 0;
}
	
.flat-tabs.tabs-below > .nav-tabs > li:hover {
	border-top-color: #fbcdcf;
}

.flat-tabs.tabs-below > .nav-tabs > li.active {
	border-top-color: #f3565d;
}

.flat-tabs.tabs-below > .tab-content {
	border-top: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}

@media screen and (max-width: 767px) {

	.flat-tabs .nav-tabs > li {
		float: none;	
		border-bottom-width: 1px;
	}

	.flat-tabs.tabs-below  .nav-tabs > li {
		float: none;	
		border-top-width: 1px;
	}
}