.template-icons {
	display: block;
	position: relative;
	width: 100%;
	min-height: 140px;
	padding: 10px 10px 0 10px;
	background-color: #f3f3f3;
	box-sizing: border-box;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

}

.template-icons .tpl-icon {
	display: inline-block;
	position: relative;
	width: 170px;
	height: 140px;
	padding: 10px;
	background-color: gray;
	box-sizing: border-box;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 10px;
	color: silver;
	vertical-align: top;
	
}

.template-icons .tpl-icon:first-child  {
	margin-left: 15px;
}

.template-icons .tpl-icon::after {
	display: none;
	content: '';
	position: absolute;
	top:0; bottom:0;
	left:0; right:0;
	background-color: #000;
	opacity: 0.5; 
	filter: alpha(opacity=50);
}

.template-icons .tpl-icon:hover::after {
	display: block;
}

.template-icons .tmp-add {
	display: none;
	position: absolute;
	top:50%; left:50%; 
	width: 24px; height: 24px;
	margin: -12px 0 0 -15px;
	color: silver;
	font-size: 32px;
	z-index: 1050;
	cursor: pointer;
}

.template-icons .tpl-icon:hover .tmp-add {
	display: block;
}

.template-icons .tmp-add:hover {
	color: #fff !important;
}

.template-icons .tpl-icon .inner  {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 5px;
	position: relative;
}

.template-icons .tpl-icon + .tpl-icon {
	margin-left: 15px;
	margin-bottom: 15px;
}

.template-icons .tmp-title,
.template-icons .tmp-content,
.template-icons .tmp-image {
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	border: 1px solid silver;
	padding: 0 5px;
}

.template-icons .tmp-image {
	background-size: contain; 
	background-clip: content-box; 
	opacity: 0.4; 
	filter: alpha(opacity=40);
	background-repeat: no-repeat;
	background-position: center center;
}

/* template standard content */
.template-icons .tmp-2 .tmp-title { top:5px; left:5px; right: 5px; height: 20px; line-height:20px; }
.template-icons .tmp-2 .tmp-content { top: 30px; left: 5px;  right: 5px; bottom: 5px; }

/* template picture */
.template-icons .tmp-3 .tmp-title { top:5px; left:5px; right: 5px; height: 20px; line-height:20px; }
.template-icons .tmp-3 .tmp-image { top:30px; left:5px; right: 5px; bottom: 5px; background-image: url(/public/images/ico.image2.png);  }

/* template box left */
.template-icons .tmp-4 .tmp-image { top:5px; left:5px; right: 50%; bottom: 5px; background-image: url(/public/images/ico.image2.png);  }
.template-icons .tmp-4 .tmp-title { top:5px; left:50%; right: 5px; height: 20px; line-height:20px; margin-left: 5px; }
.template-icons .tmp-4 .tmp-content { top: 30px; left: 50%;  right: 5px; bottom: 5px; margin-left: 5px; }
.template-icons .tmp-4 .tmp-image {background-image: url(/public/images/ico.image2.png);  }
.template-icons .tmp-4 .tmp-image:nth-child(1) {top:5px; left:5px; right:50%; bottom:50%; margin: 0 5px 5px 0;}
.template-icons .tmp-4 .tmp-image:nth-child(2) {top:5px; left:50%; right:5px; bottom:50%; margin: 0 0 5px 5px;}
.template-icons .tmp-4 .tmp-image:nth-child(3) {top:50%; left:5px; right:50%; bottom:5px; margin: 5px 5px 0 0;}
.template-icons .tmp-4 .tmp-image:nth-child(4) {top:50%; left:50%; right:5px; bottom:5px; margin: 0 0 0 5px;}

/* template table */
.template-icons .tmp-5 table {width:100%; border: 0; border-collapse: collapse;}
.template-icons .tmp-5 table td {border: 1px solid silver; padding: 0px;}
