
/** THEME NEWS :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


.theme-news .app-title {
	background-color: #d0d0d0;
}

.theme-news ul.app-pages > li:first-child:not(.tabdrop),
.theme-news ul.app-pages > li:nth-child(2) { 
	border-left-width: 1px;
	border-left-color: #fff;
}

.theme-news ul.app-pages > li { 
	border-right-width: 1px;
	border-right-color: #fff;
}

.theme-news ul.app-pages > li > a {
	color: #858585;
}

.theme-news ul.app-pages > li > a:hover {
	color: #e2001a;
}

.theme-news ul.app-pages > li.active > a,
.theme-news ul.app-pages > li.active > a:hover {
	color: #000;
}

.theme-news ul.app-pages > li.active.has-submenu:hover > a,
.theme-news ul.app-pages > li.active.has-submenu:hover > a:hover {
	color: #fff;
}



















/* DASHBOARD */
.tab-container.dashboard {
	background-color: #c1db00;
	color: white;
}

.tab-container.dashboard .page-title {
	background-color: #a6bc00;
	color: white;
}

.tab-container.dashboard ul.navbar-tabs  > li { 
	border-color: #a6bc00;
}

.tab-container.dashboard ul.navbar-tabs > li > a {
	color: black;
}

.tab-container.dashboard ul.navbar-tabs > li.active > a,
.tab-container.dashboard ul.navbar-tabs > li.active > a:hover {
	background-color: #DDFA00;
	color: rgb(0, 163, 255);
}

.tab-container.dashboard ul.navbar-tabs > li > a:hover {
	background-color: #a6bc00;
}

.tab-container #addnew {
	
}

.tab-container.dashboard ul.navbar-tabs  > li.add-new-dash > a:hover {
	background-color: #DDFA00;
}

/* PROJECT */

.tab-container.user {
	background-color: #0b8c00;
	color: white;
}

.tab-container.user .page-title {
	background-color: #097200;
}

.tab-container.user ul.navbar-tabs  > li { 
	border-color: #097200;
}

.tab-container.user ul.navbar-tabs > li > a {
	color: white;
}

.tab-container.user ul.navbar-tabs > li.active > a,
.tab-container.user ul.navbar-tabs > li.active > a:hover {
	background-color: #0EA301;
}

.tab-container.user ul.navbar-tabs > li > a:hover,
.tab-container.user ul.navbar-tabs > li.tabdrop > a {
	background-color: #097200;
}

/* POS */

.tab-container.pos {
	background-color: #007bd3;
	color: white;
}

.tab-container.pos .page-title {
	background-color: #016ab5;
	color: white;
}


.tab-container.pos ul.navbar-tabs  > li { 
	border-color: #016ab5;
}

.tab-container.pos ul.navbar-tabs > li > a {
	color: white;
}

.tab-container.pos ul.navbar-tabs > li.active > a,
.tab-container.pos ul.navbar-tabs > li.active > a:hover {
	background-color: #008DED;
}

.tab-container.pos ul.navbar-tabs > li > a:hover,
.tab-container.pos ul.navbar-tabs > li.tabdrop > a {
	background-color: #016ab5;
}

/* MIS */

.tab-container.mis {
	background-color: #c47c00;
	color: white;
}

.tab-container.mis .page-title {
	background-color: #995b00;
	color: white;
}

.tab-container.mis ul.navbar-tabs  > li { 
	border-color: #995b00;
}

.tab-container.mis ul.navbar-tabs > li > a {
	color: white;
}

.tab-container.mis ul.navbar-tabs > li.active > a,
.tab-container.mis ul.navbar-tabs > li.active > a:hover {
	background-color: #995b00;
}

.tab-container.mis ul.navbar-tabs > li > a:hover,
.tab-container.mis ul.navbar-tabs > li.tabdrop > a {
	background-color: #995b00;
}


/* CER */

.tab-container.cer {
	background-color: #6d5389;
	color: white;
}

.tab-container.cer .page-title {
	background-color: #5c4475;
	color: white;
}

.tab-container.cer ul.navbar-tabs  > li { 
	border-color: #5c4475;
}

.tab-container.cer ul.navbar-tabs > li > a {
	color: white;
}

.tab-container.cer ul.navbar-tabs > li.active > a,
.tab-container.cer ul.navbar-tabs > li.active > a:hover {
	background-color: #8663AA;
}

.tab-container.cer ul.navbar-tabs > li > a:hover,
.tab-container.cer ul.navbar-tabs > li.tabdrop > a {
	background-color: #5c4475;
}


/* ADMIN */

.tab-container.admin {
	background-color: #960000;
	color: white;
}

.tab-container.admin .page-title {
	background-color: #6b0000;
	color: white;
}

.tab-container.admin ul.navbar-tabs  > li { 
	border-color: #6b0000;
}

.tab-container.admin ul.navbar-tabs > li > a {
	color: white;
}

.tab-container.admin ul.navbar-tabs > li.active > a,
.tab-container.admin ul.navbar-tabs > li.active > a:hover {
	background-color: #ba0000;
}

.tab-container.admin ul.navbar-tabs > li > a:hover,
.tab-container.admin ul.navbar-tabs > li.tabdrop > a {
	background-color: #6b0000;
}

/* ARCHIVE */

.tab-container.archive {
	background-color: #ededed;
	color: white;
}

.tab-container.archive .page-title {
	background-color: #dedede;
	color: black;
}

.tab-container.archive ul.navbar-tabs  > li { 
	border-color: #dedede;
}

.tab-container.archive ul.navbar-tabs > li > a {
	color: black;
}

.tab-container.archive ul.navbar-tabs > li.active > a,
.tab-container.archive ul.navbar-tabs > li.active > a:hover {
	background-color: #dedede;
}

.tab-container.archive ul.navbar-tabs > li > a:hover,
.tab-container.archive ul.navbar-tabs > li.tabdrop > a {
	background-color: #dedede;
}

