.ado-modal {
	display: none;
	width: 100%;
	box-sizing: border-box;
	
}

.ado-modal .ado-modal-header-container {
	display: block;
	width: 100%;
}

.ado-modal-header  {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
}

.ado-modal-body-container {
	display: block;
	width: 100%;
}

.ado-modal-body {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
	overflow: auto;
}

.ado-modal-footer-container {
	display: block;
	width: 100%;
}

.ado-modal-footer {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
}

.ado-modal .ado-notification-right-top {
	display: block;
	position: absolute;
	top:20px; right:20px;
}

.ado-modal .ado-notification-right-bottom {
	display: block;
	position: absolute;
	bottom:20px; right:20px;
	text-align: right;
}

.ado-modal .ado-title,
.ado-modal .ado-subtitle {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.ado-modal .ado-row {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.ado-modal .ado-label {
	display: inline-block;
	font-size: 12px;
}

.ado-modal-input {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid silver;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 500;
}

.ado-modal-input-small {
	padding: 2px;
	font-size: 12px;
	font-weight: 300;
}

.ado-actions { 
	text-align: right; 
}

.ado-actions .ado-modal-close { 
	float: left;
	margin-left: 0;
}

/* utilities */
.ado-width-30  {width: 30px}
.ado-width-40  {width: 40px}
.ado-width-60  {width: 60px}
.ado-width-50  {width: 50px}
.ado-width-80  {width: 80px}
.ado-width-100 {width: 100px}
.ado-max-height-300  {max-height: 300px}
.ado-max-height-400  {max-height: 400px}
.ado-max-height-500  {max-height: 500px}
.ado-max-height-600  {max-height: 600px}
.ado-max-height-800  {max-height: 800px}
.ado-max-height-1000 {max-height: 1000px}


/* am modal dialog */
.ado-dialog.ado-modal { 
	width: 400px;
	background-color: white; 
	border: 1px solid #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px 5px #555;
	-webkit-box-shadow: 0 0 5px 5px #555;
	box-shadow: 0 0 5px 5px #555;
}

.ado-dialog .ado-modal-header { 
	padding: 10px 20px;
	background: #7091a9;
	background: -moz-linear-gradient(top, #7091a9 0%, #07243d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7091a9), color-stop(100%,#07243d));
	background: -webkit-linear-gradient(top, #7091a9 0%,#07243d 100%);
	background: -o-linear-gradient(top, #7091a9 0%,#07243d 100%);
	background: -ms-linear-gradient(top, #7091a9 0%,#07243d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7091a9', endColorstr='#07243d',GradientType=0 );
	background: linear-gradient(top, #7091a9 0%,#07243d 100%);
}

.ado-dialog.ado-modal .ado-title { 
	line-height: 30px;
	font-variant: small-caps;
	font-weight: 500;
	font-size: 15px;
	color: white;
}

.ado-dialog.ado-modal .ado-modal-body p {
	padding-bottom: 10px;
	font-size: 13px;
}

.ado-dialog.ado-modal .ado-modal-close {
	float: left;
	margin: 0;
}

.ado-dialog .ado-modal-footer { 
	border-top: 1px solid silver;
	background: rgb(232,232,232);
	padding: 10px 20px;
}


/* AM Modal Box */
.ado-box.ado-modal { 
	background-color: white; 
	border: 1px solid #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px 5px #555;
	-webkit-box-shadow: 0 0 5px 5px #555;
	box-shadow: 0 0 5px 5px #555;
}

.ado-box .ado-modal-header {
	border-bottom: 1px solid silver; 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

.ado-modal .ado-modal-header .ado-row,
.ado-modal .ado-modal-footer .ado-row {
	margin-bottom: 0;
}


.ado-box .fa-stack.ado-modal-close { 
	color: gray;
	position: absolute;
	top:20px; right:20px;
}

.ado-box .ado-modal-close:hover { 
	color: black;
}

.ado-box .ado-label {
	color: gray;
}

.ado-box .ado-title { 
	font-size: 18px;
	line-height: 32px;
	font-weight: 500;
}

.ado-box .ado-subtitle { 
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}

.ado-box .ado-modal-body {
	overflow: auto;
}

.ado-box  .ado-modal-body {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.ado-box p {
	padding-bottom: 10px;
}

.ado-box .ado-modal-footer {
	border-top: 1px solid silver;
	background: rgb(232,232,232);
}

.ado-box .ado-modal-footer p {
	font-size: 13px;
}

.ado-box .ado-modal-footer a {
	
}

.ado-box.ado-modal .ado-button {
	display: block;
	position: absolute;
	width: 80px;
	bottom: -60px;
	left: 50%;
	margin-left: -40px;
	border: 1px solid #999;
	padding: 10px;
	box-sizing: border-box;
	color: #999;
	text-align: center;
	font-size: 12px;
	background-color: rgba(0,0,0,0.85);
	cursor: pointer;
}

.ado-box.ado-modal .ado-button:hover {
	border-color: #999;
	color: #999;
}

.ado-modal-overlay {
	display: none;
	position: fixed;
	z-index: 1100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height:100%;
	width:100%;
	background: #000;
	opacity: .75;
}
