.dropdown-placeholder {
	font: 12px helvetica,sans-serif,arial;
	font-weight: 600;
	margin-left: 10px;
	width: auto;
	height: 30px;
	z-index: 0;
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

select.dropdown,
.dropdown-placeholder select {
	position: absolute;
	opacity: 0 !important;
	filter: alpha(opacity = 0) !important;
	cursor: pointer;
	height: 30px;
	z-index: 9999;
}

.ie7 .dropdown-placeholder select {
	top: 8px;
}



.dropdown-placeholder .arrow-down {
	float: right;
	position: relative;
	top: 2px;
}

.table-toolbox .button.dropdown-placeholder:first-child {
	margin-left: 0 !important;
}

.dropdown-placeholder + .dropdown-placeholder,
.button + .dropdown-placeholder,
.dropdown-placeholder + .button {
	margin-left: 10px;
}