abbr{cursor:help}.adomat
.buttons{display:block}.adomat .buttons:before,
.adomat .buttons:after{content:"\0020";display:block;height:0;visibility:hidden}.adomat .buttons:after{clear:both}.adomat
.buttons{zoom:1}.adomat
.button{display:inline-block;*display:inline;zoom:1;padding:6px
6px 4px 6px;height:18px;line-height:17px;text-decoration:none;text-shadow:0 1px 0 #fff;font:bold 11px Helvetica, Arial, sans-serif;color:gray;background:#f6f6f6;background: -moz-linear-gradient(top,  #f6f6f6 0%, #e6e6e6 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e6e6e6));background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e6e6e6 100%);background: -o-linear-gradient(top,  #f6f6f6 0%,#e6e6e6 100%);background: -ms-linear-gradient(top,  #f6f6f6 0%,#e6e6e6 100%);background:linear-gradient(to bottom,  #f6f6f6 0%,#e6e6e6 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e6e6e6',GradientType=0 );border:solid 1px silver;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-webkit-transition:border-color .20s;-moz-transition:border-color .20s;-o-transition:border-color .20s;transition:border-color .20s;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);cursor:pointer;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.adomat
.button.big{padding:10px;font-size:13px}.adomat
.button.left{margin:0;border-top-right-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-bottom-right-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0}.adomat
.button.middle{margin:0;border-left-color:#F4F4F4;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}.adomat
.button.right{margin:0;border-left-color:#F4F4F4;border-top-left-radius:0;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-bottom-left-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0}.adomat .button:hover{background:#F4F4F4;border-color:#aaa;color:black}.adomat .button:active{border-color:#4D90FE;color:#4D90FE;-moz-box-shadow:inset 0 0 10px #D4D4D4;-webkit-box-shadow:inset 0 0 10px #D4D4D4;box-shadow:inset 0 0 10px #D4D4D4}.adomat
.button.on{border-color:#BBB;-moz-box-shadow:inset 0 0 10px #D4D4D4;-webkit-box-shadow:inset 0 0 10px #D4D4D4;box-shadow:inset 0 0 10px #D4D4D4}.adomat .button.on:hover{border-color:#BBB;-moz-box-shadow:inset 0 0 10px #D4D4D4;-webkit-box-shadow:inset 0 0 10px #D4D4D4;box-shadow:inset 0 0 10px #D4D4D4}.adomat .button.on:active{border-color:#4D90FE}.adomat
.button.action{border:1px
solid #D8D8D8 !important;background:#F2F2F2;background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);background: -ms-linear-gradient(top, #F5F5F5, #F1F1F1);background: -o-linear-gradient(top, #F5F5F5, #F1F1F1);-webkit-transition:border .20s;-moz-transition:border .20s;-o-transition:border .20s;transition:border .20s}.adomat .button.action:hover{border:1px
solid #C6C6C6 !important;background:#F3F3F3;background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1);background: -moz-linear-gradient(top, #F8F8F8, #F1F1F1);background: -ms-linear-gradient(top, #F8F8F8, #F1F1F1);background: -o-linear-gradient(top, #F8F8F8, #F1F1F1)}.adomat
.button.blue{border:1px
solid #3079ED !important;background:#4B8DF8;background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);background: -moz-linear-gradient(top, #4C8FFD, #4787ED);background: -ms-linear-gradient(top, #4C8FFD, #4787ED);background: -o-linear-gradient(top, #4C8FFD, #4787ED);-webkit-transition:border .20s;-moz-transition:border .20s;-o-transition:border .20s;transition:border .20s}.adomat .button.blue:hover{border:1px
solid #2F5BB7 !important;background:#3F83F1;background: -webkit-linear-gradient(top, #4D90FE, #357AE8);background: -moz-linear-gradient(top, #4D90FE, #357AE8);background: -ms-linear-gradient(top, #4D90FE, #357AE8);background: -o-linear-gradient(top, #4D90FE, #357AE8)}.adomat
.button.green{border:1px
solid #29691D !important;background:#3A8E00;background: -webkit-linear-gradient(top, #3C9300, #398A00);background: -moz-linear-gradient(top, #3C9300, #398A00);background: -ms-linear-gradient(top, #3C9300, #398A00);background: -o-linear-gradient(top, #3C9300, #398A00);-webkit-transition:border .20s;-moz-transition:border .20s;-o-transition:border .20s;transition:border .20s}.adomat .button.green:hover{border:1px
solid #2D6200 !important;background:#3F83F1;background: -webkit-linear-gradient(top, #3C9300, #368200);background: -moz-linear-gradient(top, #3C9300, #368200);background: -ms-linear-gradient(top, #3C9300, #368200);background: -o-linear-gradient(top, #3C9300, #368200)}.adomat
.button.red{border:1px
solid #D14836 !important;background:#D64937;background: -webkit-linear-gradient(top, #DC4A38, #D14836);background: -moz-linear-gradient(top, #DC4A38, #D14836);background: -ms-linear-gradient(top, #DC4A38, #D14836);background: -o-linear-gradient(top, #DC4A38, #D14836);-webkit-transition:border .20s;-moz-transition:border .20s;-o-transition:border .20s;transition:border .20s}.adomat .button.red:hover{border:1px
solid #B0281A !important;background:#D14130;background: -webkit-linear-gradient(top, #DC4A38, #C53727);background: -moz-linear-gradient(top, #DC4A38, #C53727);background: -ms-linear-gradient(top, #DC4A38, #C53727);background: -o-linear-gradient(top, #DC4A38, #C53727)}.adomat .button.action:hover{-moz-box-shadow:0 1px 0px #DDD;-webkit-box-shadow:0 1px 0px #DDD;box-shadow:iset 0 1px 0px #DDD}.adomat .button.action:active{-moz-box-shadow:none !important;-webkit-box-shadow:none !important;box-shadow:none !important;border-color:#C6C6C6 !important}.adomat .button.blue:active{border-color:#2F5BB7 !important}.adomat .button.green:active{border-color:#2D6200 !important}.adomat .button.red:active{border-color:#B0281A !important}.adomat .button
span.label{display:inline-block;float:left;line-height:17px;height:18px;padding:0
1px;overflow:hidden;color:#444 !important;-webkit-transition:color .20s;-moz-transition:color .20s;-o-transition:color .20s;transition:color .20s;margin:0
!important;font-size:12px;font-weight:400}.adomat .button.disabled
span.label{color:silver}.adomat .button.error
.label{color:red}.ddm:active span.label,
.adomat .button:active
span.label{color:#4D90FE}.adomat .button:hover
.label{color:#333}.adomat .button:hover
.label.red{color:red}.adomat .button:hover
.label.blue{color:#7090C8}.adomat .button:hover
.label.green{color:#42B449}.adomat .button:hover
.label.yellow{color:#F7CB38}.adomat .button.blue
.label{color:#FFF !important;text-shadow:0 1px 0 #2F5BB7 !important}.adomat .button.green
.label{color:#FFF !important;text-shadow:0 1px 0 #2D6200 !important}.adomat .button.red
.label{color:#FFF !important;text-shadow:0 1px 0 #B0281A !important}.adomat .button.action
.label{padding:0
17px !important}.adomat .button.action:active
.label{color:#333 !important}.adomat .button.blue:active .label,
.adomat .button.green:active .label,
.adomat .button.red:active
.label{color:#FFF !important}.adomat
.button.hidden{display:none}.icon,
.ddm span.icon,
.adomat .button
span.icon{background-image:url(/public/css/images/gui-gray.png);display:inline-block;*display:inline;zoom:1;margin:0;height:18px;line-height:18px;width:18px;overflow:hidden;background-repeat:no-repeat;-webkit-transition:background-image 0.20s linear;-moz-transition:background-image 0.20s linear;-o-transition:background-image 0.20s linear;transition:background-image 0.20s linear}.ddm span.icon,
.adomat .button
span.icon{float:left;margin:0
7px 0 0}.icon:hover,
.ddm:hover span.icon,
.adomat .button:hover span.icon,
.adomat .button.active .icon,.icon.active{background-image:url(/public/css/images/gui-colour.png)}.adomat .button+.button{margin-left:10px}.tabs
.icon{margin-right:5px;position:relative;top:4px}.ie7 .tabs
.icon{top:1px}.tabs li:hover
.icon{background-image:url(/public/css/images/gui-colour.png)}span.icon1{background-position: -0px -0px}span.icon2{background-position: -18px -0px}span.icon3,.icon.add{background-position: -36px -0px}span.icon4{background-position: -54px -0px}span.icon5{background-position: -72px -0px}span.icon6{background-position: -90px -0px}span.icon7,.icon.arrow-down{background-position: -108px -0px}span.icon8,.icon.back{background-position: -126px -0px}span.icon9,.icon.next{background-position: -144px -0px}span.icon10,.icon.arrow-up{background-position: -162px -0px}span.icon11{background-position: -180px -0px}span.icon12{background-position: -198px -0px}span.icon13{background-position: -216px -0px}span.icon14{background-position: -234px -0px}span.icon15{background-position: -252px -0px}span.icon16{background-position: -270px -0px}span.icon17{background-position: -288px -0px}span.icon18{background-position: -306px -0px}span.icon19{background-position: -324px -0px}span.icon20{background-position: -342px -0px}span.icon21{background-position: -0px -18px}span.icon22{background-position: -18px -18px}span.icon23{background-position: -36px -18px}span.icon24{background-position: -54px -18px}span.icon25{background-position: -72px -18px}span.icon26{background-position: -90px -18px}span.icon27{background-position: -108px -18px}span.icon28{background-position: -126px -18px}span.icon29{background-position: -144px -18px}span.icon30{background-position: -162px -18px}span.icon31{background-position: -180px -18px}span.icon32{background-position: -198px -18px}span.icon33{background-position: -216px -18px}span.icon34{background-position: -234px -18px}span.icon35{background-position: -252px -18px}span.icon36{background-position: -270px -18px}span.icon37{background-position: -288px -18px}span.icon38{background-position: -306px -18px}span.icon39{background-position: -324px -18px}span.icon40{background-position: -342px -18px}span.icon41{background-position: -0px -36px}span.icon42{background-position: -18px -36px}span.icon43{background-position: -36px -36px}span.icon44,.icon.save{background-position: -54px -36px}span.icon45,.icon.attachment{background-position: -72px -36px}span.icon46{background-position: -90px -36px}span.icon47{background-position: -108px -36px}span.icon48,.icon.close{background-position: -126px -36px}span.icon49{background-position: -144px -36px}span.icon50{background-position: -162px -36px}span.icon51{background-position: -180px -36px}span.icon52{background-position: -198px -36px}span.icon53{background-position: -216px -36px}span.icon54{background-position: -234px -36px}span.icon55{background-position: -252px -36px}span.icon56,.icon.delete{background-position: -270px -36px}span.icon57{background-position: -288px -36px}span.icon58,.icon.cancel{background-position: -306px -36px}span.icon59{background-position: -324px -36px}span.icon60{background-position: -342px -36px}span.icon61{background-position: -0px -54px}span.icon62,.icon.direction-down{background-position: -18px -54px}span.icon63,.icon.direction-left{background-position: -36px -54px}span.icon64,.icon.direction-right{background-position: -54px -54px}span.icon65,.icon.direction-up{background-position: -72px -54px}span.icon66{background-position: -90px -54px}span.icon67{background-position: -108px -54px}span.icon68{background-position: -126px -54px}span.icon69{background-position: -144px -54px}span.icon70,.icon.download{background-position: -162px -54px}span.icon71{background-position: -180px -54px}span.icon72{background-position: -198px -54px}span.icon73{background-position: -216px -54px}span.icon74{background-position: -234px -54px}span.icon75{background-position: -252px -54px}span.icon76{background-position: -270px -54px}span.icon77{background-position: -288px -54px}span.icon78{background-position: -306px -54px}span.icon79{background-position: -324px -54px}span.icon80{background-position: -342px -54px}span.icon81{background-position: -0px -72px}span.icon82{background-position: -18px -72px}span.icon83{background-position: -36px -72px}span.icon84,.icon.show{background-position: -54px -72px}span.icon85{background-position: -72px -72px}span.icon86{background-position: -90px -72px}span.icon87{background-position: -108px -72px}span.icon88{background-position: -126px -72px}span.icon89{background-position: -144px -72px}span.icon90{background-position: -162px -72px}span.icon91{background-position: -180px -72px}span.icon92{background-position: -198px -72px}span.icon93{background-position: -216px -72px}span.icon94{background-position: -234px -72px}span.icon95{background-position: -252px -72px}span.icon96,.icon.settings{background-position: -270px -72px}span.icon97{background-position: -288px -72px}span.icon98{background-position: -306px -72px}span.icon99{background-position: -324px -72px}span.icon100{background-position: -342px -72px}span.icon101,.icon.like,.icon.apply{background-position: -0px -90px}span.icon102{background-position: -18px -90px}span.icon103{background-position: -36px -90px}span.icon104{background-position: -54px -90px}span.icon105,.icon.help{background-position: -72px -90px}span.icon106{background-position: -90px -90px}span.icon107{background-position: -108px -90px}span.icon108{background-position: -126px -90px}span.icon109{background-position: -144px -90px}span.icon110{background-position: -162px -90px}span.icon111{background-position: -180px -90px}span.icon112,.icon.info-full-circle{background-position: -198px -90px}span.icon113,.icon.info{background-position: -216px -90px}span.icon114{background-position: -234px -90px}span.icon115{background-position: -252px -90px}span.icon116{background-position: -270px -90px}span.icon117{background-position: -288px -90px}span.icon118{background-position: -306px -90px}span.icon119{background-position: -324px -90px}span.icon120{background-position: -342px -90px}span.icon121{background-position: -0px -108px}span.icon122,.icon.lock{background-position: -18px -108px}span.icon123,.icon.unlock{background-position: -36px -108px}span.icon124{background-position: -54px -108px}span.icon125,.icon.mail{background-position: -72px -108px}span.icon126{background-position: -90px -108px}span.icon127{background-position: -108px -108px}span.icon128{background-position: -126px -108px}span.icon129{background-position: -144px -108px}span.icon130{background-position: -162px -108px}span.icon131{background-position: -180px -108px}span.icon132{background-position: -198px -108px}span.icon133{background-position: -216px -108px}span.icon134{background-position: -234px -108px}span.icon135{background-position: -252px -108px}span.icon136{background-position: -270px -108px}span.icon137{background-position: -288px -108px}span.icon138{background-position: -306px -108px}span.icon139{background-position: -324px -108px}span.icon140{background-position: -342px -108px}span.icon141{background-position: -0px -126px}span.icon142{background-position: -18px -126px}span.icon143{background-position: -36px -126px}span.icon144{background-position: -54px -126px}span.icon145,.icon.edit{background-position: -72px -126px}span.icon146{background-position: -90px -126px}span.icon147,.icon.picture{background-position: -108px -126px}span.icon148{background-position: -126px -126px}span.icon149{background-position: -144px -126px}span.icon150{background-position: -162px -126px}span.icon151{background-position: -180px -126px}span.icon152{background-position: -198px -126px}span.icon153,.icon.print{background-position: -216px -126px}span.icon154{background-position: -234px -126px}span.icon155{background-position: -252px -126px}span.icon156{background-position: -270px -126px}span.icon157{background-position: -288px -126px}span.icon158,.icon.reload{background-position: -306px -126px}span.icon159{background-position: -324px -126px}span.icon160{background-position: -342px -126px}span.icon161{background-position: -0px -144px}span.icon162{background-position: -18px -144px}span.icon163{background-position: -36px -144px}span.icon164{background-position: -54px -144px}span.icon165{background-position: -72px -144px}span.icon166{background-position: -90px -144px}span.icon167{background-position: -108px -144px}span.icon168{background-position: -126px -144px}span.icon169{background-position: -144px -144px}span.icon170{background-position: -162px -144px}span.icon171{background-position: -180px -144px}span.icon172{background-position: -198px -144px}span.icon173{background-position: -216px -144px}span.icon174{background-position: -234px -144px}span.icon175{background-position: -252px -144px}span.icon176{background-position: -270px -144px}span.icon177{background-position: -288px -144px}span.icon178{background-position: -306px -144px}span.icon179{background-position: -324px -144px}span.icon180{background-position: -342px -144px}span.icon181{background-position: -0px -162px}span.icon182{background-position: -18px -162px}span.icon183{background-position: -36px -162px}span.icon184{background-position: -54px -162px}span.icon185{background-position: -72px -162px}span.icon186{background-position: -90px -162px}span.icon187{background-position: -108px -162px}span.icon188{background-position: -126px -162px}span.icon189,.icon.upload{background-position: -144px -162px}span.icon190{background-position: -162px -162px}span.icon191{background-position: -180px -162px}span.icon192{background-position: -198px -162px}span.icon193{background-position: -216px -162px}span.icon194{background-position: -234px -162px}span.icon195{background-position: -252px -162px}span.icon196{background-position: -270px -162px}span.icon197{background-position: -288px -162px}span.icon198,.icon.search{background-position: -306px -162px}span.icon199{background-position: -324px -162px}span.icon200{background-position: -342px -162px}.arrow{width:0;height:0;display:inline-block;*display:inline;zoom:1;content:""}.arrow.arrow-up{border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid black;margin:4px
5px 0 0}.arrow.arrow-down{border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid black;margin:4px
5px 0 0}.arrow.arrow-right{border-top:5px solid transparent;border-bottom:5px solid transparent;border-left:5px solid black;margin:1px
10px 0 0}.arrow.arrow-left{border-top:5px solid transparent;border-bottom:5px solid transparent;border-right:5px solid black;margin:1px
10px 0 0}div.dropdown{float:left;position:relative}div.dropdown
span.toggle{width:19px;height:16px;margin-left:7px;margin-top:1px;margin-right:2px;padding-left:8px;float:right;background:url(/public/css/images/gui-toggle.png) top right no-repeat;border-left:1px solid #D9D9D9;-webkit-transition:border-color .20s;-moz-transition:border .20s;-o-transition:border-color .20s;transition:border-color .20s}div.dropdown
span.toggle.active{background:url(/public/css/images/gui-toggle.png) bottom right no-repeat}div.dropdown
button:hover span.toggle,
.adomat .button:hover
span.toggle{border-color:#C0C0C0}div.dropdown-slider{display:none;overflow:hidden;margin:0
7px 5px 7px;position:absolute;top:34px;right:0;background:#F2F2F2;border-right:solid 1px #D9D9D9;border-bottom:solid 1px #D9D9D9;border-left:solid 1px #D9D9D9;-webkit-border-bottom-right-radius:2px;-webkit-border-bottom-left-radius:2px;-moz-border-radius-bottomright:2px;-moz-border-radius-bottomleft:2px;border-bottom-right-radius:2px;border-bottom-left-radius:2px;-webkit-transition:border-color .20s;-moz-transition:border .20s;-o-transition:border-color .20s;transition:border-color .20s}.left div.dropdown-slider{margin:0
1px 5px 7px}.middle div.dropdown-slider{margin:0
1px 5px 1px}.right div.dropdown-slider{margin:0
7px 5px 1px}div.dropdown-slider
.ddm{display:block;background:#F2F2F2;color:#585858;text-decoration:none;text-shadow:0 1px 0 #fff;font:bold 11px Helvetica, Arial, sans-serif;line-height:18px;height:18px;margin:0;padding:5px
6px 4px 6px;width:100%;float:left;border-top:1px solid #FFF;border-bottom:1px solid #D9D9D9}div.dropdown-slider .ddm:hover{background:#F4F4F4;border-bottom-color:#C0C0C0}div.dropdown-slider .ddm:active{border-bottom-color:#4D90FE;color:#4D90FE;-moz-box-shadow:inset 0 0 10px #D4D4D4;-webkit-box-shadow:inset 0 0 10px #D4D4D4;box-shadow:inset 0 0 10px #D4D4D4}div.dropdown-slider .ddm:last-child{border-bottom:none}.file-extension{display:inline-block;*display:inline;zoom:1;white-space:nowrap;outline:none;overflow:hidden;padding:0;margin:0;border:0;width:32px;height:32px;background-image:url(/public/css/images/file-extensions.png);background-repeat:no-repeat}.file-extension.small{width:16px;height:16px;background-image:url(/public/css/images/file-extensions-small.png)}.file-extension.7z{background-position: -40px 0px}.file-extension.ace{background-position: -80px 0px}.file-extension.ai{background-position: -120px 0px}.file-extension.aif{background-position: -160px 0px}.file-extension.aiff{background-position: -200px 0px}.file-extension.amr{background-position: -240px 0px}.file-extension.asf{background-position: -280px 0px}.file-extension.asx{background-position: -320px 0px}.file-extension.bat{background-position: -360px 0px}.file-extension.bin{background-position:0px -40px}.file-extension.bmp{background-position: -40px -40px}.file-extension.bup{background-position: -80px -40px}.file-extension.cab{background-position: -120px -40px}.file-extension.cbr{background-position: -160px -40px}.file-extension.cda{background-position: -200px -40px}.file-extension.cdl{background-position: -240px -40px}.file-extension.cdr{background-position: -280px -40px}.file-extension.chm{background-position: -320px -40px}.file-extension.dat{background-position: -360px -40px}.file-extension.divx{background-position:0px -80px}.file-extension.dll{background-position: -40px -80px}.file-extension.dmg{background-position: -80px -80px}.file-extension.doc{background-position: -120px -80px}.file-extension.dss{background-position: -160px -80px}.file-extension.dvf{background-position: -200px -80px}.file-extension.dwg{background-position: -240px -80px}.file-extension.eml{background-position: -280px -80px}.file-extension.eps{background-position: -320px -80px}.file-extension.exe{background-position: -360px -80px}.file-extension.fla{background-position:0 -120px}.file-extension.flw{background-position: -40px -120px}.file-extension.gif{background-position: -80px -120px}.file-extension.gz{background-position: -120px -120px}.file-extension.hgx{background-position: -160px -120px}.file-extension.htm{background-position: -200px -120px}.file-extension.html{background-position: -240px -120px}.file-extension.ifo{background-position: -280px -120px}.file-extension.indd{background-position: -320px -120px}.file-extension.iso{background-position: -360px -120px}.file-extension.jar{background-position:0px -160px}.file-extension.jpeg{background-position: -40px -160px}.file-extension.jpg{background-position: -80px -160px}.file-extension.ink{background-position: -120px -160px}.file-extension.log{background-position: -160px -160px}.file-extension.mna{background-position: -200px -160px}.file-extension.mub{background-position: -240px -160px}.file-extension.mnp{background-position: -280px -160px}.file-extension.mhv{background-position: -320px -160px}.file-extension.mcd{background-position: -360px -160px}.file-extension.mdb{background-position:0px -200px}.file-extension.mid{background-position: -40px -200px}.file-extension.mov{background-position: -80px -200px}.file-extension.mp2{background-position: -120px -200px}.file-extension.mp4{background-position: -160px -200px}.file-extension.mpeg{background-position: -200px -200px}.file-extension.mpg{background-position: -240px -200px}.file-extension.msi{background-position: -280px -200px}.file-extension.mswmm{background-position: -320px -200px}.file-extension.ogg{background-position: -360px -200px}.file-extension.pdf{background-position:0px -240px}.file-extension.png{background-position: -40px -240px}.file-extension.pps{background-position: -80px -240px}.file-extension.ps{background-position: -120px -240px}.file-extension.psd{background-position: -160px -240px}.file-extension.pst{background-position: -200px -240px}.file-extension.ptb{background-position: -240px -240px}.file-extension.pub{background-position: -280px -240px}.file-extension.qbb{background-position: -320px -240px}.file-extension.qbw{background-position: -360px -240px}.file-extension.qxd{background-position:0px -280px}.file-extension.ram{background-position: -40px -280px}.file-extension.rar{background-position: -80px -280px}.file-extension.rm{background-position: -120px -280px}.file-extension.rmvb{background-position: -160px -280px}.file-extension.rtf{background-position: -200px -280px}.file-extension.sea{background-position: -240px -280px}.file-extension.ses{background-position: -280px -280px}.file-extension.sit{background-position: -320px -280px}.file-extension.sitx{background-position: -360px -280px}.file-extension.ss{background-position:0px -320px}.file-extension.swf{background-position: -40px -320px}.file-extension.tgz{background-position: -80px -320px}.file-extension.thm{background-position: -120px -320px}.file-extension.tif{background-position: -160px -320px}.file-extension.tmb{background-position: -200px -320px}.file-extension.tor{background-position: -240px -320px}.file-extension.ttf{background-position: -280px -320px}.file-extension.txt{background-position: -320px -320px}.file-extension.ved{background-position: -360px -320px}.file-extension.vab{background-position:0px -360px}.file-extension.wav{background-position: -40px -360px}.file-extension.wma{background-position: -80px -360px}.file-extension.wmv{background-position: -120px -360px}.file-extension.wps{background-position: -160px -360px}.file-extension.xls,.file-extension.xlsx{background-position: -200px -360px}.file-extension.xpi{background-position: -240px -360px}.file-extension.zip{background-position: -280px -360px}.file-extension.3gp{background-position: -320px -360px}.adomat
.button.searchbox{background:white;position:relative;display:inline-block;filter:''}.searchbox
.icon{float:left}.searchbox
input{float:left;height:17px  !important;background:transparent;border:0
!important;padding:0
!important;margin:0
!important;color:silver !important;outline:none  !important;width:180px !important;z-index:10  !important;font-size:12px  !important;font-family:arial!important}.searchbox
.icon.close{position:absolute;right:5px;margin:0
!important}.searchbox
input.active{color:black !important}.searchbox+select,select+.searchbox{margin-left:10px}.dropdown{position:relative;display:inline-block;font-size:12px;background-color:white}.dropdown
select{display:inline-block;border:1px
solid #ccc;padding:10px
8px 8px 10px;margin:0;font:inherit;outline:none;line-height:1.2;background-color:transparent;-webkit-appearance:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}@media screen and (-webkit-min-device-pixel-ratio:0){.dropdown
select{padding-right:30px}}.dropdown:after{display:inline-block;content:"▼";position:absolute;top:0;right:0;bottom:0;font-size:80%;line-height:36px;padding:0
10px;background:#bbb;color:white;pointer-events:none;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0}.dropdown:hover:after{background:#888}.dropdown:hover
select{border-color:#888}.dropdown.dropdown-primary
select{border-color:#428bca}.dropdown.dropdown-primary:after{background:#428bca}.dropdown.dropdown-primary:hover:after{background:#2f6593}.dropdown.dropdown-primary:hover
select{border-color:#2f6593}.dropdown.dropdown-success
select{border-color:#5cb85c}.dropdown.dropdown-success:after{background:#5cb85c}.dropdown.dropdown-success:hover:after{background:#3f7f3f}.dropdown.dropdown-success:hover
select{border-color:#3f7f3f}.dropdown.dropdown-info
select{border-color:#5bc0de}.dropdown.dropdown-info:after{background:#5bc0de}.dropdown.dropdown-info:hover:after{background:#428ca2}.dropdown.dropdown-info:hover
select{border-color:#428ca2}.dropdown.dropdown-warning
select{border-color:#f0ad4e}.dropdown.dropdown-warning:after{background:#f0ad4e}.dropdown.dropdown-warning:hover:after{background:#f0ad4e}.dropdown.dropdown-warning:hover
select{border-color:#f0ad4e}.dropdown.dropdown-danger
select{border-color:#d9534f}.dropdown.dropdown-danger:after{background:#d9534f}.dropdown.dropdown-danger:hover:after{background:#933835}.dropdown.dropdown-danger:hover
select{border-color:#933835}#form{width:500px;margin-top:20px}#form
h4{display:block;margin:40px
0 10px;font-size:16px;color:gray}#form h4:frist-child{margin-top:0}#form
.container{display:block;background-color:white;border:1px
solid silver}#form table
th{font-size:12px;color:black;background-color:#ddd !important}.show{display:block !important}.hidden{display:none !important}.invisible{visibility:hidden}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.clearfix{display:inline-block}form.default{display:inline-block;width:auto;min-width:700px}form.validator{width:auto;min-width:700px}.popover form,
.popover
form.default{min-width:220px}form.default input,
form.default select,
form.default
textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}form.default label:not(.switch){display:inline-block;*display:inline;zoom:1;max-width:50%;min-width:160px;line-height:24px;height:24px;margin:0
10px 0 10px;color:black;vertical-align:top;font-size:12px}form.default input[type=text],
form.default input[type=number],
form.default input[type=password]{border:1px
solid silver;padding:2px
5px;line-height:18px;font-size:12px;font-family:arial;width:300px;height:18px;outline:none}form.default
input.numeric{width:80px}form.default input[type=checkbox]{outline:none}form.default input[type=radio]{outline:none}form.default input[type=file]{outline:none}form.default input[type=hidden]{display:none}form.default
textarea{border:1px
solid silver;padding:5px;font-size:12px;font-family:arial}form.default
select{border:1px
solid silver;padding:1px;font-size:12px}form.default
option{padding:2px
5px;font-size:12px}form.default input[disabled=disabled],
form.default textarea[disabled=disabled],
form.default select[disabled=disabled]{color:silver !important;border-color:#ededed !important}form.default .-row{display:block;width:100%;padding:10px
0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}form.default .-row:first-child{padding-top:20px}form.default .-row:last-child{padding-bottom:20px}form.default .-legend{display:block;width:100%;margin:20px
0 5px 0}form.default .-legend
strong{display:block;font-size:16px;font-weight:700;color:#1B2A3F;padding-left:20px}form.default .-fieldset{display:block;background:white;border:1px
solid silver}form.default .-label{display:inline-block;*display:inline;zoom:1;width:160px;min-width:160px;line-height:24px;height:24px;margin:0
10px 0 20px;color:black;vertical-align:top;font-size:12px}form.default .-element{display:inline-block;*display:inline;zoom:1;min-height:24px;line-height:24px;vertical-align:top}form.default .-element.vertical
.elembox{display:block}form.default .-onfocus{background:white;border-color:gray !important}form.default .-onblur{background:#f9f9f9;border-color:silver}form.default input[type=text].error,
form.default
textarea.error{border-color:red !important}form.default input[readonly],
form.default text[readonly],
form.default select[readonly]{background-color:#f8f8f8}form.default .-checkbox,
form.default .-radio{color:black;font-size:12px}form.default .-checkbox .-checked,
form.default .-radio .-checked{background:url('/public/themes/default/images/icon-checked.png') no-repeat left center;padding-left:20px}form.default .-checkbox .-unchecked,
form.default .-radio .-unchecked{background:url('/public/images/unchecked.png') no-repeat left center;padding-left:20px}form.default .-checkbox .-caption,
form.default .-radio .-caption{margin-left:5px;display:inline-block}form.default .-checkbox .-caption.-checked,
form.default .-radio .-caption.-checked,
form.default .-checkbox .-caption.-unchecked,
form.default .-radio .-caption.-unchecked{margin-left:0 !important}form.default .-checkbox.horizontal .-caption,
form.default .-radio.horizontal .-caption{padding-right:20px}form.default .-checkbox.vertical{display:block !important}form.default .-disabled{display:inline-block;*display:inline;zoom:1;color:black;line-height:24px;font-size:12px}form.default .-disabled .-icon{margin:2px
5px 0 0}form.default .-odd{background-color:#fff}form.default .-even{background-color:#f8f8f8}form.default .-placeholder{font-size:12px}form.default .-tooltip{display:inline-block;*display:inline;zoom:1;margin:2px
20px 0 5px;line-height:20px;width:20px;height:20px}form.default .-mceEditor{margin-top:20px}form.default .-textarea.-disabled{margin-right:20px;width:440px}form.default
input.datepicker{width:100px}form.request{display:none}.checkbox-group{display:block;*display:inline;zoom:1;margin-left:194px;min-height:20px;vertical-align:top}.btn-plus{border:1px
solid silver;line-height:22px;font-size:14px;font-family:arial;width:10px;height:22px;outline:none;font-weight:bold;padding:0
3px;text-align:center;display:inline-block;margin-left:10px;color:gray;cursor:pointer}.btn-plus:hover{background-color:#dedede;color:black}.stretched input[type=text]{width:100%}.textarea-xs{width:200px}.textarea-sm{width:300px}.textarea-md{width:400px}.textarea-lg{width:500px}.modalbox-container{display:none;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box}.modalbox{display:block;background:white;position:relative;height:100%;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box}.modalbox-header{display:block;width:100%;height:89px;background-color:#eee;border-bottom:1px solid silver;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;position:relative}.modalbox-header .ado-modal-close{color:rgba(0,0,0, 0.25);position:absolute;top:20px;right:20px;cursor:pointer}.modalbox-header .ado-modal-close:hover{color:#000}.modalbox-header
.title{display:block;padding:20px
20px 10px;font-size:20px;font-weight:600;font-family:'arial';color:#069;letter-spacing: -1px}.modalbox-header
.subtitle{display:block;padding:0
20px 10px;font-size:16px;font-weight:500;color:#404040;letter-spacing: -1px}.modalbox-header .modal-infotex{display:block;padding:0
20px 10px;font-size:12px;font-weight:300;color:black;max-width:360px}.modalbox-content-container{display:block;width:100%;position:absolute;top:90px;bottom:65px;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box}.modalbox-content{display:block;padding:20px;overflow:auto;height:100%;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box}.modalbox-topbar{display:block;position:absolute;top:0;left:0;right:0;width:100%;height:34px;box-sizing:border-box;background:rgba(240,240,240,.9);padding:5px
20px;border-bottom:1px solid #ddd}.modalbox-topbar+.modalbox-content{padding-top:34px}.modalbox-content
p{display:block;padding:0
0 10px 0}.modalbox-footer{display:block;width:100%;background-color:#eee;border-top:1px solid silver;position:absolute;height:65px;bottom:0;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box}.modalbox-actions{display:block;text-align:right;padding:20px
20px 10px;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box}.modalbox-actions
.cancel{float:left}.modal-fieldset{display:block;padding:10px
20px;background:#f2f2f2;border:1px
solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.modal-infotex{position:absolute;right:0;top:30px;z-index:1000}.modal-300 .modalbox-content{width:300px}.modal-500 .modalbox-content{width:500px}.modal-750 .modalbox-content{width:750px}.modal-1000 .modalbox-content{width:1000px}.modalbox-content
form{margin:0
auto}.modal-input-container{border:1px
solid silver;padding:2px
5px;margin-bottom:20px}.modal-input-container input[type=text]{outline:none;font-size:13px;font-family:arial;width:100%;line-height:18px;height:18px;margin:0;padding:0;border:0;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box}.modal-input-container
textarea{outline:none;font-size:12px;font-family:arial;width:100%;line-height:16px;margin:0;padding:0;border:0;box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box}#upload_files{border:2px
solid #069}.file-row{display:block;margin-bottom:10px;width:100%;float:left;background-color:#f3f3f3;border:1px
solid transparent;-webkit-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px}.file-title{display:block;float:left;width:64%;padding:2%}.file-title input[type=text]{display:block;width:98%;border:1px
solid silver;-webkit-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;height:24px;line-height:24px;padding:2px
4px;font-size:12px;font:normal 12px arial;font-weight:300;color:black;outline:none}.file-actions{display:block;float:left;width:28%;padding:2%}.button.show-file,.button.remove-file{display:none}.button.show-file.active,.button.remove-file.active{display:inline-block}.error{color:red !important;border-color:red !important}.btn-ajax-upload{visibility:hidden}.ideabox{width:800px}.ideabox
label{text-align:right;width:80px !important;min-width:80px !important}.ideabox .idea-content input[type=text]{width:600px}.ideabox .idea-content
textarea{width:600px}.ideabox
.files{width:620px!important}.ideabox .file-placeholder{display:block;float:left;width:33%}.ideabox
.preview{width:80px;float:left}.ideabox .file-info{display:block;margin-left:100px}.ideabox
small{color:gray}.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5)}.fancybox-outer,.fancybox-inner{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next
span{background-image:url('/public/scripts/fancybox/images/fancybox_sprite.png')}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top: -22px;margin-left: -22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060}#fancybox-loading
div{width:44px;height:44px;background:url('/public/scripts/fancybox/images/fancybox_loading.gif') center center no-repeat}.fancybox-close{position:absolute;top: -18px;right: -18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('/public/scripts/fancybox/images/blank.gif');-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav
span{position:absolute;top:50%;width:36px;height:34px;margin-top: -18px;cursor:pointer;z-index:8040;visibility:hidden}.fancybox-prev
span{left:10px;background-position:0 -36px}.fancybox-next
span{right:10px;background-position:0 -72px}.fancybox-nav:hover
span{visibility:visible}.fancybox-tmp{position:absolute;top: -99999px;left: -99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important}.fancybox-lock{overflow:hidden !important;width:auto}.fancybox-lock
body{overflow:hidden !important}.fancybox-lock-test{overflow-y:hidden !important}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url('/public/scripts/fancybox/images/fancybox_overlay.png')}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom: -35px;z-index:8050;text-align:center}.fancybox-title-float-wrap
.child{display:inline-block;margin-right: -100%;padding:2px
20px;background:transparent;background:rgba(0, 0, 0, 0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0, 0, 0, .8)}@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next
span{background-image:url('/public/scripts/fancybox/images/fancybox_sprite@2x.png');background-size:44px 152px}#fancybox-loading
div{background-image:url('/public/scripts/fancybox/images/fancybox_loading@2x.gif');background-size:24px 24px}}div.jGrowl{padding:10px;z-index:9999;font-size:12px;color:white}div.ie6{position:absolute}div.ie6.top-right{right:auto;bottom:auto;left:expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )}div.ie6.top-left{left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )}div.ie6.bottom-right{left:expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );top:expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )}div.ie6.bottom-left{left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );top:expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )}div.ie6.center{left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );width:100%}div.jGrowl{position:absolute}body>div.jGrowl{position:fixed}div.jGrowl.top-left{left:0px;top:0px}div.jGrowl.top-right{right:20px;top:60px}div.jGrowl.top-center{left:50%;top:0px}div.jGrowl.bottom-left{left:0px;bottom:0px}div.jGrowl.bottom-right{right:0px;bottom:0px}div.jGrowl.center{top:0px;width:50%;left:25%}div.center div.jGrowl-notification, div.center div.jGrowl-closer{margin-left:auto;margin-right:auto}div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer{background-color:#959334;opacity: 				.90;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);zoom:1;margin-top:5px;margin-bottom:5px;font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:1em;text-align:left;display:none;-moz-border-radius:5px;-webkit-border-radius:5px;width:260px}div.jGrowl div.jGrowl-notification{padding:10px
10px 10px 60px}div.jGrowl div.jGrowl-closer{width:330px}div.jGrowl div.jGrowl-notification.error,
div.jGrowl div.jGrowl-closer.error{background-color:#b75139;color:white !important;background-image:url('/public/scripts/jgrowl/images/jgrowl-error.png');background-repeat:no-repeat;background-position:10px 10px}div.jGrowl div.jGrowl-notification.warning,
div.jGrowl div.jGrowl-closer.error{background-color:black;color:white !important;border-color:black;background-image:url('/public/scripts/jgrowl/images/jgrowl-error.png')}div.jGrowl div.jGrowl-notification{min-height:60px;background-image:url('/public/scripts/jgrowl/images/jgrowl-success.png');background-repeat:no-repeat;background-position:10px 10px;background-color:#959334;color:white !important}div.jGrowl div.jGrowl-notification div.jGrowl-header{font-weight:bold;font-size:12px;padding-bottom:5px}div.jGrowl div.jGrowl-notification div.jGrowl-close{z-index:99;float:right;font-weight:bold;font-size:1em;cursor:pointer}div.jGrowl div.jGrowl-closer{padding-top:2px;padding-bottom:2px;cursor:pointer;font-size:				.9em;font-weight:bold;text-align:center}@media
print{div.jGrowl{display:none}}div.jGrowl
span{display:block;padding-bottom:10px;font-size:12px;color:white !important}.ado-modal{display:none;width:100%;box-sizing:border-box}.ado-modal .ado-modal-header-container{display:block;width:100%}.ado-modal-header{display:block;width:100%;box-sizing:border-box;padding:20px;position:relative}.ado-modal-body-container{display:block;width:100%}.ado-modal-body{display:block;width:100%;box-sizing:border-box;padding:20px;position:relative;overflow:auto}.ado-modal-footer-container{display:block;width:100%}.ado-modal-footer{display:block;width:100%;box-sizing:border-box;padding:20px;position:relative}.ado-modal .ado-notification-right-top{display:block;position:absolute;top:20px;right:20px}.ado-modal .ado-notification-right-bottom{display:block;position:absolute;bottom:20px;right:20px;text-align:right}.ado-modal .ado-title,
.ado-modal .ado-subtitle{display:block;width:100%;box-sizing:border-box}.ado-modal .ado-row{display:block;width:100%;box-sizing:border-box;margin-bottom:10px}.ado-modal .ado-label{display:inline-block;font-size:12px}.ado-modal-input{display:block;width:100%;padding:5px;border:1px
solid silver;box-sizing:border-box;font-size:13px;font-weight:500}.ado-modal-input-small{padding:2px;font-size:12px;font-weight:300}.ado-actions{text-align:right}.ado-actions .ado-modal-close{float:left;margin-left:0}.ado-width-30{width:30px}.ado-width-40{width:40px}.ado-width-60{width:60px}.ado-width-50{width:50px}.ado-width-80{width:80px}.ado-width-100{width:100px}.ado-max-height-300{max-height:300px}.ado-max-height-400{max-height:400px}.ado-max-height-500{max-height:500px}.ado-max-height-600{max-height:600px}.ado-max-height-800{max-height:800px}.ado-max-height-1000{max-height:1000px}.ado-dialog.ado-modal{width:400px;background-color:white;border:1px
solid #444;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 5px 5px #555;-webkit-box-shadow:0 0 5px 5px #555;box-shadow:0 0 5px 5px #555}.ado-dialog .ado-modal-header{padding:10px
20px;background:#7091a9;background: -moz-linear-gradient(top, #7091a9 0%, #07243d 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7091a9), color-stop(100%,#07243d));background: -webkit-linear-gradient(top, #7091a9 0%,#07243d 100%);background: -o-linear-gradient(top, #7091a9 0%,#07243d 100%);background: -ms-linear-gradient(top, #7091a9 0%,#07243d 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7091a9', endColorstr='#07243d',GradientType=0 );background:linear-gradient(top, #7091a9 0%,#07243d 100%)}.ado-dialog.ado-modal .ado-title{line-height:30px;font-variant:small-caps;font-weight:500;font-size:15px;color:white}.ado-dialog.ado-modal .ado-modal-body
p{padding-bottom:10px;font-size:13px}.ado-dialog.ado-modal .ado-modal-close{float:left;margin:0}.ado-dialog .ado-modal-footer{border-top:1px solid silver;background:rgb(232,232,232);padding:10px
20px}.ado-box.ado-modal{background-color:white;border:1px
solid #444;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 5px 5px #555;-webkit-box-shadow:0 0 5px 5px #555;box-shadow:0 0 5px 5px #555}.ado-box .ado-modal-header{border-bottom:1px solid silver;background:rgb(255,255,255);background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background:linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 )}.ado-modal .ado-modal-header .ado-row,
.ado-modal .ado-modal-footer .ado-row{margin-bottom:0}.ado-box .fa-stack.ado-modal-close{color:gray;position:absolute;top:20px;right:20px}.ado-box .ado-modal-close:hover{color:black}.ado-box .ado-label{color:gray}.ado-box .ado-title{font-size:18px;line-height:32px;font-weight:500}.ado-box .ado-subtitle{font-size:14px;font-weight:500;line-height:24px}.ado-box .ado-modal-body{overflow:auto}.ado-box  .ado-modal-body{font-size:14px;font-weight:400;line-height:24px}.ado-box
p{padding-bottom:10px}.ado-box .ado-modal-footer{border-top:1px solid silver;background:rgb(232,232,232)}.ado-box .ado-modal-footer
p{font-size:13px}.ado-box .ado-modal-footer
a{}.ado-box.ado-modal .ado-button{display:block;position:absolute;width:80px;bottom: -60px;left:50%;margin-left: -40px;border:1px
solid #999;padding:10px;box-sizing:border-box;color:#999;text-align:center;font-size:12px;background-color:rgba(0,0,0,0.85);cursor:pointer}.ado-box.ado-modal .ado-button:hover{border-color:#999;color:#999}.ado-modal-overlay{display:none;position:fixed;z-index:1100;top:0;left:0;right:0;bottom:0;height:100%;width:100%;background:#000;opacity: .75}#load-indicator-overlay{display:none;position:fixed;z-index:1100;top:0;left:0;right:0;bottom:0;height:100%;width:100%;background:#000;opacity: .75}#load-inidcator-container{position:absolute;width:240px;height:240px;margin-left: -120px;margin-top: -120px;position:relative;top:50%;left:50%;overflow:hidden;-moz-box-sizing:border-box;box-sizing:border-box}.throbber .load-indicator,
.throbber .load-indicator:before,
.throbber .load-indicator:after{background:#FFF;-webkit-animation:throbber 1s infinite ease-in-out;animation:throbber 1s infinite ease-in-out;width:1em;height:4em}.throbber .load-indicator:before,
.throbber .load-indicator:after{position:absolute;top:0;content:''}.throbber .load-indicator:before{left: -1.5em;-webkit-animation-delay: -0.32s;animation-delay: -0.32s}.throbber .load-indicator{text-indent: -9999em;margin:8em
auto;position:relative;font-size:11px;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation-delay: -0.16s;animation-delay: -0.16s}.throbber .load-indicator:after{left:1.5em}@-webkit-keyframes
throbber{0%,80%,100%{box-shadow:0 0 #FFF;height:4em}40%{box-shadow:0 -2em #fff;height:5em}}@keyframes
throbber{0%,80%,100%{box-shadow:0 0 #FFF;height:4em}40%{box-shadow:0 -2em #fff;height:5em}}.snike .load-indicator,
.snike .load-indicator:before,
.snike .load-indicator:after{border-radius:50%}.snike .load-indicator:before,
.snike .load-indicator:after{position:absolute;content:''}.snike .load-indicator:before{width:5.2em;height:10.2em;background:#000;border-radius:10.2em 0 0 10.2em;top: -0.1em;left: -0.1em;-webkit-transform-origin:5.2em 5.1em;transform-origin:5.2em 5.1em;-webkit-animation:snike 2s infinite ease 1.5s;animation:snike 2s infinite ease 1.5s}.snike .load-indicator{font-size:11px;text-indent: -99999em;margin:5em
auto;position:relative;width:10em;height:10em;box-shadow:inset 0 0 0 1em #FFF;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}.snike .load-indicator:after{width:5.2em;height:10.2em;background:#000;border-radius:0 10.2em 10.2em 0;top: -0.1em;left:5.1em;-webkit-transform-origin:0px 5.1em;transform-origin:0px 5.1em;-webkit-animation:snike 2s infinite ease;animation:snike 2s infinite ease}@-webkit-keyframes
snike{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes
snike{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.referesh .load-indicator{font-size:10px;margin:5em
auto;text-indent: -9999em;width:11em;height:11em;border-radius:50%;background:#fff;background: -moz-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);background: -webkit-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);background: -o-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);background: -ms-linear-gradient(left, #fff 10%, rgba(255, 255, 255, 0) 42%);background:linear-gradient(to right, #fff 10%, rgba(255, 255, 255, 0) 42%);position:relative;-webkit-animation:referesh 1.4s infinite linear;animation:referesh 1.4s infinite linear;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}.referesh .load-indicator:before{width:50%;height:50%;background:#FFF;border-radius:100% 0 0 0;position:absolute;top:0;left:0;content:''}.referesh .load-indicator:after{background:#000;width:75%;height:75%;border-radius:50%;content:'';margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}@-webkit-keyframes
referesh{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes
referesh{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.spin .load-indicator{font-size:20px;margin:5em
auto;width:1em;height:1em;border-radius:50%;position:relative;text-indent: -9999em;-webkit-animation:spin 1.3s infinite linear;animation:spin 1.3s infinite linear;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}@-webkit-keyframes
spin{0%,100%{box-shadow:0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #fff}12.5%{box-shadow:0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #fff}25%{box-shadow:0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #fff}37.5%{box-shadow:0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #fff}50%{box-shadow:0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #fff}62.5%{box-shadow:0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #fff}75%{box-shadow:0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #fff}87.5%{box-shadow:0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #fff}}@keyframes
spin{0%,100%{box-shadow:0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #fff}12.5%{box-shadow:0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #fff}25%{box-shadow:0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #fff}37.5%{box-shadow:0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #fff}50%{box-shadow:0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #fff}62.5%{box-shadow:0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #fff}75%{box-shadow:0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #fff}87.5%{box-shadow:0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #fff}}.fullspin .load-indicator{margin:4em
auto;font-size:25px;width:1em;height:1em;border-radius:50%;position:relative;text-indent: -9999em;-webkit-animation:fullspin 1.1s infinite ease;animation:fullspin 1.1s infinite ease;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0)}@-webkit-keyframes
fullspin{0%,100%{box-shadow:0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255,0.7)}12.5%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255,0.5)}25%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255,0.2)}37.5%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255,0.2)}50%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255,0.2)}62.5%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255,0.2)}75%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255,0.2)}87.5%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #fff}}@keyframes
fullspin{0%,100%{box-shadow:0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255,0.7)}12.5%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255,0.5)}25%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255,0.2)}37.5%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255,0.2)}50%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255,0.2)}62.5%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255,0.2)}75%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255,0.2)}87.5%{box-shadow:0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #fff}}.twist .load-indicator{font-size:90px;text-indent: -9999em;overflow:hidden;width:1em;height:1em;border-radius:50%;margin:0.8em auto;position:relative;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation:twist 1.7s infinite ease;animation:twist 1.7s infinite ease}@-webkit-keyframes
twist{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #fff}5%,95%{box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #fff}10%,59%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #fff}20%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #fff}38%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #fff}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #fff}}@keyframes
twist{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #fff}5%,95%{box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #fff}10%,59%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #fff}20%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #fff}38%{box-shadow:0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #fff}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);box-shadow:0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #fff}}.dotter .load-indicator:before,
.dotter .load-indicator:after,
.dotter .load-indicator{border-radius:50%;width:2.5em;height:2.5em;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation:dotter 1.8s infinite ease-in-out;animation:dotter 1.8s infinite ease-in-out}.dotter .load-indicator{margin:8em
auto;font-size:10px;position:relative;text-indent: -9999em;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation-delay: -0.16s;animation-delay: -0.16s}.dotter .load-indicator:before{left: -3.5em;-webkit-animation-delay: -0.32s;animation-delay: -0.32s}.dotter .load-indicator:after{left:3.5em}.dotter .load-indicator:before,.load-indicator:after{content:'';position:absolute;top:0}@-webkit-keyframes
dotter{0%,80%,100%{box-shadow:0 2.5em 0 -1.3em #fff}40%{box-shadow:0 2.5em 0 0 #FFF}}@keyframes
dotter{0%,80%,100%{box-shadow:0 2.5em 0 -1.3em #fff}40%{box-shadow:0 2.5em 0 0 #FFF}}.revolve .load-indicator{margin:6em
auto;font-size:10px;position:relative;text-indent: -9999em;border-top:1.1em solid rgba(255, 255, 255, 0.2);border-right:1.1em solid rgba(255, 255, 255, 0.2);border-bottom:1.1em solid rgba(255, 255, 255, 0.2);border-left:1.1em solid #fff;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation:revolve 1.1s infinite linear;animation:revolve 1.1s infinite linear}.revolve .load-indicator,
.revolve .load-indicator:after{border-radius:50%;width:10em;height:10em}@-webkit-keyframes
revolve{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes
revolve{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}