@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 8.8.2
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.progress {
	margin: 5px 0 0 0;
	height: 12px;
}

.help-block {
	font-size: 12px;
	font-weight: 300;
	line-height: 1.5;
}

.preview {
	display: block;
	margin-bottom: 5px;
}

#fileupload .modalbox-content {
	max-height: 600px;
}

#fileupload td {
	padding: 20px 10px;
}

#fileupload tr:last-child td {
	padding-bottom: 0;
}

.has-error {
	border-color: red!important;
}

.chankuploader {
	display: none;
}
