.spreadsheet,
.spreadsheet div.sections {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.spreadsheet div.sections * {
    cursor: default;
}

.spreadsheet div.sections div {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    background-color: white;
}

.spreadsheet div.sections div div {
    display: block;
    position: relative;
    overflow: visible;
}

.spreadsheet div.sections div.top {
    right: 0;
}

.spreadsheet div.sections div.top div {
    padding-right: 20px;
    padding-left: 1px;
}

.spreadsheet div.sections div.left {
    bottom: 0;
}

.spreadsheet div.sections div.left div {
    padding-bottom: 20px;
    padding-left: 1px;
}

.spreadsheet div.sections div.main {
    overflow: auto;
    right: 0;
    bottom: 0;
    padding-left: 1px;
}

.spreadsheet table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.spreadsheet div.sections table {
    width: 0;
}

.spreadsheet tr {
}

.spreadsheet td {
    padding: 1px 3px;
    border: 1px solid silver;
    overflow: hidden;
    color: black;
}

.spreadsheet th {
    padding: 0;
    margin: 0;
    border-width: 0 1px 0 0;
    border: none;
}

.spreadsheet thead {
    *display: none;
}

.spreadsheet div.layout {
    position: absolute;
    margin-left: -200000px;
    margin-top: -200000px;
    width: 100000px;
    height: 100000px;
    background-color: lightblue;
}

.spreadsheet div.layout td {
    font-size: 0px;
}

.spreadsheet div.selection {
    position: absolute;
    width: 500px;
    height: 300px;
    z-index: 2;
}

.spreadsheet div.selection div.shade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2556F8;
    opacity: 0.10;
    filter: alpha(opacity=10);
}

.spreadsheet div.selection div.border {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #68e;
}

.spreadsheet div.selection div.top,
.spreadsheet div.selection div.bottom,
.spreadsheet div.selection div.left,
.spreadsheet div.selection div.right {
    position: absolute;
    cursor: move;
    background-color: red;
    opacity: 0;
    filter: alpha(opacity=0);
}

.spreadsheet div.selection.selecting div.top,
.spreadsheet div.selection.selecting div.bottom,
.spreadsheet div.selection.selecting div.left,
.spreadsheet div.selection.selecting div.right {
    cursor: default;
}

.spreadsheet div.selection div.top {
    height: 5px;
    top: -3px;
    left: 0;
    right: 0;
}

.spreadsheet div.selection div.bottom {
    height: 5px;
    bottom: -3px;
    left: 0;
    right: 0;
}

.spreadsheet div.selection div.left {
    width: 5px;
    top: 0;
    bottom: 0;
    left: -3px;
}

.spreadsheet div.selection div.right {
    width: 5px;
    top: 0;
    bottom: 0;
    right: -3px;
}

.spreadsheet div.dragselection {
/*    display: none;*/
    position: absolute;
    z-index: 3;
}

.spreadsheet div.dragselection div.top,
.spreadsheet div.dragselection div.bottom,
.spreadsheet div.dragselection div.left,
.spreadsheet div.dragselection div.right {
    position: absolute;
    background-color: gray;
    opacity: 0.50;
    filter: alpha(opacity=50);
}

.spreadsheet div.dragselection div.top {
    height: 2px;
    top: 0;
    left: 0;
    right: 0;
}

.spreadsheet div.dragselection div.bottom {
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
}

.spreadsheet div.dragselection div.left {
    width: 2px;
    top: 2px;
    bottom: 2px;
    left: 0;
}

.spreadsheet div.dragselection div.right {
    width: 2px;
    top: 2px;
    bottom: 2px;
    right: 0;
}

.spreadsheet textarea.focus {
    position: absolute;
    z-index: 3;
    outline: none;
    resize: none;
    border: 0;
    overflow: hidden;
    padding: 1px 3px;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.spreadsheet textarea.focus.hidden {
    position: fixed;
    left: -10000px !important;
    top: 10px !important;
    display: inline !important;
}

.spreadsheet div.measure {
    position: absolute;
    left: -10000px;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}