
.tabs-collapsable {
    position: relative;
    white-space: nowrap;
}

.tabs-collapsable-container {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.collapsable-items {
    width: 99999px;
    position: relative;
    white-space: nowrap;
}

.tabs-collapsable li.tab-hide{
    opacity: 0;
}

.tabs-collapsable li.tab-hide a {
    cursor: default;
}

.toggler-container {
    position: absolute;
    top:0; right:0;
    opacity: 0;
}

.toggler-container .dropdown-toggle {
    opacity:0;
    cursor:default;
}

.toggler-container.show {
    opacity:1;
}

.toggler-container.show .dropdown-toggle {
    display: block;
    opacity:1;
    cursor:pointer;
}

.toggler-container .dropdown-menu {
    position:absolute;
    top:100%; right:0px; left:auto; bottom:auto;
    opacity:0;
    list-style:none;
    max-width:300px;
    max-height:300px;
    overflow: auto;
}

.toggler-container .dropdown-menu.open {
    display: block;
    opacity:1;
}

.toggler-container .dropdown-menu li {
    margin:0;
    padding:0;
    opacity:0;
    max-height:0;
    width:100%;
    position: relative;
    overflow: hidden;
}

.toggler-container .dropdown-menu li.tab-show {
    opacity:1;
    max-height:50px;
}

.toggler-container .dropdown-menu li a {
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor:default;
}