/*
 * jquery.selectBoxIt.css 2.9.9
 * Author: @gregfranko
 */

/* Div container holding the dropdown list */
.selectboxit-container {
  position: relative;
  display: inline-block;
  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-left: 10px;
}

/* Dropdown List Box */
.selectboxit-container .selectboxit {
  width: 240px; /* Width of the dropdown list box */
  height: 28px; /* Height of the select box */
  cursor: pointer;
  padding: 0;
  display: block;
  border-radius: 6px;
  margin: 0;
}

.selectboxit-container .selectboxit:focus {
  outline: 0;
}

.selectboxit-container .selectboxit.selectboxit-disabled {
  cursor: default;
}

/* Dropdown list Default Icon Positioning */
.selectboxit-default-icon {
  float: left;
}

/* Dropdown List Box Text */
.selectboxit-text {
	font: bold 11px Helvetica, Arial, sans-serif;
	text-indent: 5px;
	height: 28px;
	line-height: 28px;
	white-space: nowrap;
	float: left;
	overflow: hidden;
	color: #444;
	-webkit-transition: color .20s;
	-moz-transition: color .20s;
	-o-transition: color .20s;
	transition: color .20s;
}

/* Dropdown List Options List*/
.selectboxit-container .selectboxit-options {
  min-width: 240px; /* Minimum Width of the dropdown list box options */
  /* IE7 hack */
  *width: 240px;
  font: 13px Helvetica, Arial;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow: auto;
  cursor: pointer;
  display: none;
  z-index: 9999999999999;
  outline: none;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  -moz-box-shadow: none; /* Firefox */
  -webkit-box-shadow: none; /* Safari, Chrome */
  box-shadow: none; /* CSS3 */
  border-radius: 6px;
  text-align: left;
}

/* Overrides Bootstrap drop down option style */
.selectboxit-options .selectboxit-option.active .selectboxit-option-anchor {
  color: #fff;
}

.selectboxit-option .selectboxit-option-anchor {
  padding: 0px 3px;
  line-height: 30px;
  height: 30px;
}

.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none;
}

/* Dropdown List Individual Options */
.selectboxit-option, .selectboxit-optgroup-header {
  line-height: 30px; /* Height of Individual Select Box Options */
  height: 30px;
  text-indent: 5px; /* Horizontal Positioning of the select box option text */
  overflow: hidden;
  white-space: nowrap;
  list-style: none;
  margin: 0;
  display: block;
}

/* The first drop down option */
.selectboxit-option-first {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* The first drop down option */
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* The last drop down option */
.selectboxit-option-last {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* Dropdown List Optgroup Headers */
.selectboxit-optgroup-header {
  font-weight: bold;
  padding: 5px;
}

/* Dropdown List Optgroup Options */
.selectboxit-optgroup-option {
  text-indent: 20px;
}

/* Dropdown List Optgroup Header hover psuedo class */
.selectboxit-optgroup-header:hover {
  cursor: default;
}

/* Dropdown List Down Arrow Container (if an image is not used) */
.selectboxit-arrow-container {
  /* Positions the down arrow */
  width: 30px;
  float: right;
  position: relative;
}

/* Dropdown List Down Arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  /* Horizontally centers the down arrow */
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  right: 40%;
}

.jqueryui .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  right: 25%;
}

/* Dropdown List Down Arrow For jQueryUI and jQuery Mobile */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  top: 30%;
}

/* Dropdown List Individual Option Icon Positioning */
.selectboxit-option-icon {
  float: left;
}

/* Dropdown List Individual Option Image Positioning */
.selectboxit-option-icon-url {
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

.selectboxit-default-icon.selectboxit-option-icon-url {
  margin-left: 5px;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
  background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

.selectboxit-container + .selectboxit-container,
.selectboxit-container + .button,
.button + .selectboxit-container,
.pop + .selectboxit-container,
.selectboxit-container + .pop {
	margin-left: 10px;
}